Cyber_Tech_Friend Freelancer/flow/2020-08-03/hopper
[{"id":"133d4a37.cea446","type":"tab","label":"hopper","disabled":true,"info":""},{"id":"70038fc2.69916","type":"inject","z":"133d4a37.cea446","name":"hopper","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["24ab4046.42c56"]]},{"id":"fee96829.d6a868","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":710,"y":40,"wires":[]},{"id":"c6f6c3f5.806d4","type":"function","z":"133d4a37.cea446","name":"Data categorization","func":"var json_res =\n{\n  initial: \"\",\n  ID: \"\",\n  setting : \"\",\n  ErrorNo : \"\",\n  nowtemp : \"\",\n  upper : \"\",\n  lower : \"\",\n  starttime : \"\",\n  starthour : \"\",\n  startminute : \"\",\n  endtime : \"\",\n  endhour : \"\",\n  endminute : \"\",\n  dayofweek : \"\",\n  setdate : \"\",\n  sethour : \"\",\n  nowdate : \"\",\n  nowhour : \"\",\n  resource : \"\",\n  settemp : \"\",\n  resourceNo : \"\",\n  alarm : \"\",\n  BCC : \"\",\n  final : \"\"\n} ;\n// output data = 2,1,177,1,0,22,0,5,0,0,0,9,3,1,1,57,127,0,99,0,0,0,7,0,0,98,18,0,0,3\njson_res.initial = msg.payload[0] ; //0x02\njson_res.ID = msg.payload[1] ; //ID\njson_res.setting = msg.payload[2] ; //0xB1\njson_res.ErrorNo = msg.payload[3] ; //Error No.\njson_res.nowtemp = msg.payload[4]*256+msg.payload[5] ; //현재온도\njson_res.upper = msg.payload[6]*256+msg.payload[7] ; //상한값\njson_res.lower = msg.payload[8]*256+msg.payload[9] ; //하한값\njson_res.starttime = msg.payload[10] ; // AM/PM\njson_res.starthour = msg.payload[11] ; //시\njson_res.startminute = msg.payload[12] ; //분\njson_res.endtime = msg.payload[13] ; // AM/PM\njson_res.endhour = msg.payload[14] ; //시\njson_res.endminute = msg.payload[15] ; //분\njson_res.dayofweek = msg.payload[16] ; //작동요일\njson_res.setdate = msg.payload[17]*256+msg.payload[18] ; //일\njson_res.sethour = msg.payload[19] ; //시\njson_res.nowdate = msg.payload[20]*256+msg.payload[21] ; //일\njson_res.nowhour = msg.payload[22] ; //시\njson_res.resource = msg.payload[23] ; //재료\njson_res.settemp = msg.payload[24]*256+msg.payload[25] ; //세팅온도\njson_res.resourceNo = msg.payload[26] ; //원재료명\njson_res.alarm = msg.payload[27] ; //알람\njson_res.BCC = msg.payload[28] ; //BCC\njson_res.final = msg.payload[29] ; //0x03\n\nmsg.payload = json_res ;\nreturn msg ;","outputs":1,"noerr":0,"x":1850,"y":400,"wires":[["8c3ac717.0706d8","716ea04a.0d198","5a6e534f.1a26ec","d9eb0983.316c68","3324c631.151c7a","160f26ff.74ff29","76e8e6a8.0f4108","82ce5586.4f0018","10d072e1.5e352d","12528cf.39f9f73","c2814fa7.25b99","43001f02.0532f","cbd50a94.dc60b8","d3cfe60e.fd4558","94788dcf.e533d","2c204ad8.01e586","c4c94098.73596","74ac82f7.ecf1fc","fd922e11.12fd3","6994202e.27343","77d4468e.9cb308","a00b8421.3c3138","37f2d43a.c4914c","72cc97f.e177b68"]]},{"id":"de986dcd.311be","type":"serial request","z":"133d4a37.cea446","name":"","serial":"ef5328df.dc7718","x":410,"y":40,"wires":[["982a58f5.6b41f8"]]},{"id":"d9eb0983.316c68","type":"function","z":"133d4a37.cea446","name":"ErrorNo","func":"msg.payload = msg.payload.ErrorNo ;\nreturn msg;","outputs":1,"noerr":0,"x":2120,"y":420,"wires":[["34255390.73ea0c"]]},{"id":"8c3ac717.0706d8","type":"function","z":"133d4a37.cea446","name":"0x02","func":"msg.payload = msg.payload.initial ;\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":240,"wires":[["f375aace.f46828"]]},{"id":"716ea04a.0d198","type":"function","z":"133d4a37.cea446","name":"ID","func":"msg.payload = msg.payload.ID ;\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":300,"wires":[["690593e8.5fa2fc"]]},{"id":"5a6e534f.1a26ec","type":"function","z":"133d4a37.cea446","name":"0xb1","func":"msg.payload = msg.payload.setting ;\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":360,"wires":[["9af4be01.6e9f5"]]},{"id":"3324c631.151c7a","type":"function","z":"133d4a37.cea446","name":"현재온도","func":"msg.payload = msg.payload.nowtemp ;\nreturn msg;","outputs":1,"noerr":0,"x":2120,"y":480,"wires":[["53b767fb.7a02b8"]]},{"id":"160f26ff.74ff29","type":"function","z":"133d4a37.cea446","name":"상한값","func":"msg.payload = msg.payload.upper ;\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":540,"wires":[["8e6f1bd4.6bc9d8"]]},{"id":"76e8e6a8.0f4108","type":"function","z":"133d4a37.cea446","name":"하한값","func":"msg.payload = msg.payload.lower ;\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":600,"wires":[["7277095f.ebc068"]]},{"id":"10d072e1.5e352d","type":"function","z":"133d4a37.cea446","name":"설정시간","func":"msg.payload = msg.payload.starttime ;\nreturn msg;","outputs":1,"noerr":0,"x":2120,"y":660,"wires":[["1af6a260.a2c33e"]]},{"id":"12528cf.39f9f73","type":"function","z":"133d4a37.cea446","name":"시작시","func":"msg.payload = msg.payload.starthour ;\nreturn msg;","outputs":1,"noerr":0,"x":2410,"y":240,"wires":[["66b2d676.cfbc38"]]},{"id":"c2814fa7.25b99","type":"function","z":"133d4a37.cea446","name":"시작분","func":"msg.payload = msg.payload.startminute ;\nreturn msg;","outputs":1,"noerr":0,"x":2410,"y":300,"wires":[["ed0dbf22.a6dca"]]},{"id":"43001f02.0532f","type":"function","z":"133d4a37.cea446","name":"종료시간","func":"msg.payload = msg.payload.endtime ;\nreturn msg;","outputs":1,"noerr":0,"x":2420,"y":360,"wires":[["7154b5f6.65ddcc"]]},{"id":"cbd50a94.dc60b8","type":"function","z":"133d4a37.cea446","name":"종료시","func":"msg.payload = msg.payload.endhour ;\nreturn msg;","outputs":1,"noerr":0,"x":2410,"y":420,"wires":[["7c3607c1.625038"]]},{"id":"c4c94098.73596","type":"function","z":"133d4a37.cea446","name":"종료분","func":"msg.payload = msg.payload.endminute ;\nreturn msg;","outputs":1,"noerr":0,"x":2410,"y":480,"wires":[["666a08d6.ab0e88"]]},{"id":"74ac82f7.ecf1fc","type":"function","z":"133d4a37.cea446","name":"작동요일","func":"msg.payload = msg.payload.dayofweek  ;\nreturn msg;","outputs":1,"noerr":0,"x":2420,"y":540,"wires":[["180bb405.97608c"]]},{"id":"a00b8421.3c3138","type":"function","z":"133d4a37.cea446","name":"셋팅일","func":"msg.payload = msg.payload.setdate ;\nreturn msg;","outputs":1,"noerr":0,"x":2430,"y":600,"wires":[["4ede0b58.62ce14"]]},{"id":"d3cfe60e.fd4558","type":"function","z":"133d4a37.cea446","name":"셋팅시","func":"msg.payload = msg.payload.sethour ;\nreturn msg;","outputs":1,"noerr":0,"x":2430,"y":660,"wires":[["2fb98db.3a3ea72"]]},{"id":"94788dcf.e533d","type":"function","z":"133d4a37.cea446","name":"현재일","func":"msg.payload = msg.payload.nowdate ;\nreturn msg;","outputs":1,"noerr":0,"x":2730,"y":240,"wires":[["d204df4e.51f13"]]},{"id":"2c204ad8.01e586","type":"function","z":"133d4a37.cea446","name":"현재시","func":"msg.payload = msg.payload.nowhour ;\nreturn msg;","outputs":1,"noerr":0,"x":2730,"y":300,"wires":[["3d7725db.d29cda"]]},{"id":"72cc97f.e177b68","type":"function","z":"133d4a37.cea446","name":"재료","func":"msg.payload = msg.payload.resource ;\nreturn msg;","outputs":1,"noerr":0,"x":2730,"y":360,"wires":[["d29b907b.fd9f2"]]},{"id":"37f2d43a.c4914c","type":"function","z":"133d4a37.cea446","name":"설정온도","func":"msg.payload = msg.payload.settemp ;\nreturn msg;","outputs":1,"noerr":0,"x":2740,"y":420,"wires":[["379d3fb1.ac5e6"]]},{"id":"77d4468e.9cb308","type":"function","z":"133d4a37.cea446","name":"원재료명","func":"msg.payload = msg.payload.resourceNo ;\nreturn msg;","outputs":1,"noerr":0,"x":2740,"y":480,"wires":[["aac0f7a7.5d3ee8"]]},{"id":"82ce5586.4f0018","type":"function","z":"133d4a37.cea446","name":"알람","func":"msg.payload = msg.payload.alarm ;\nreturn msg;","outputs":1,"noerr":0,"x":2730,"y":540,"wires":[["475f6d77.46a464"]]},{"id":"fd922e11.12fd3","type":"function","z":"133d4a37.cea446","name":"BCC","func":"msg.payload = msg.payload.BCC ;\nreturn msg;","outputs":1,"noerr":0,"x":2730,"y":600,"wires":[["77ee8613.a61d58"]]},{"id":"6994202e.27343","type":"function","z":"133d4a37.cea446","name":"0x03","func":"msg.payload = msg.payload.final ;\nreturn msg;","outputs":1,"noerr":0,"x":2730,"y":660,"wires":[["acd80c91.e02c7"]]},{"id":"f375aace.f46828","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2250,"y":240,"wires":[]},{"id":"690593e8.5fa2fc","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2250,"y":300,"wires":[]},{"id":"9af4be01.6e9f5","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2250,"y":360,"wires":[]},{"id":"34255390.73ea0c","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2270,"y":420,"wires":[]},{"id":"53b767fb.7a02b8","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2270,"y":480,"wires":[]},{"id":"8e6f1bd4.6bc9d8","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2250,"y":540,"wires":[]},{"id":"7277095f.ebc068","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2250,"y":600,"wires":[]},{"id":"475f6d77.46a464","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2890,"y":540,"wires":[]},{"id":"1af6a260.a2c33e","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2270,"y":660,"wires":[]},{"id":"66b2d676.cfbc38","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2550,"y":240,"wires":[]},{"id":"ed0dbf22.a6dca","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2550,"y":300,"wires":[]},{"id":"7154b5f6.65ddcc","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2570,"y":360,"wires":[]},{"id":"7c3607c1.625038","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2550,"y":420,"wires":[]},{"id":"666a08d6.ab0e88","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2550,"y":480,"wires":[]},{"id":"180bb405.97608c","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2570,"y":540,"wires":[]},{"id":"77ee8613.a61d58","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2890,"y":600,"wires":[]},{"id":"2fb98db.3a3ea72","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2570,"y":660,"wires":[]},{"id":"d204df4e.51f13","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2890,"y":240,"wires":[]},{"id":"3d7725db.d29cda","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2890,"y":300,"wires":[]},{"id":"d29b907b.fd9f2","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2890,"y":360,"wires":[]},{"id":"379d3fb1.ac5e6","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2910,"y":420,"wires":[]},{"id":"4ede0b58.62ce14","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2570,"y":600,"wires":[]},{"id":"aac0f7a7.5d3ee8","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2910,"y":480,"wires":[]},{"id":"acd80c91.e02c7","type":"debug","z":"133d4a37.cea446","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2890,"y":660,"wires":[]},{"id":"24ab4046.42c56","type":"function","z":"133d4a37.cea446","name":"msg maker","func":"var status = global.get('status') || 'ok'; //ok is loop, no is http\nif (!!msg.res) {\n  status = 'no' ;\n  global.set('status', status);\n}\nif (status == 'ok') {\n  msg.payload = Buffer.from(String.fromCharCode(0x02, 0x01, 0xB1, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  return msg ;\n}","outputs":1,"noerr":0,"x":270,"y":40,"wires":[["de986dcd.311be"]]},{"id":"982a58f5.6b41f8","type":"function","z":"133d4a37.cea446","name":"data to json","func":"var json_res = {} ;\n// output data = 2,1,177,1,0,22,0,5,0,0,0,9,3,1,1,57,127,0,99,0,0,0,7,0,0,98,18,0,0,3\njson_res.initial = msg.payload[0] ; //0x02\njson_res.ID = msg.payload[1] ; //ID\njson_res.setting = msg.payload[2] ; //0xB1\njson_res.ErrorNo = msg.payload[3] ; //Error No.\njson_res.nowtemp = msg.payload[4]*256+msg.payload[5] ; //현재온도\njson_res.upper = msg.payload[6]*256+msg.payload[7] ; //상한값\njson_res.lower = msg.payload[8]*256+msg.payload[9] ; //하한값\njson_res.starttime = msg.payload[10] ; // AM/PM\njson_res.starthour = msg.payload[11] ; //시\njson_res.startminute = msg.payload[12] ; //분\njson_res.endtime = msg.payload[13] ; // AM/PM\njson_res.endhour = msg.payload[14] ; //시\njson_res.endminute = msg.payload[15] ; //분\njson_res.dayofweek = msg.payload[16] ; //작동요일\njson_res.setdate = msg.payload[17]*256+msg.payload[18] ; //일\njson_res.sethour = msg.payload[19] ; //시\njson_res.nowdate = msg.payload[20]*256+msg.payload[21] ; //일\njson_res.nowhour = msg.payload[22] ; //시\njson_res.resource = msg.payload[23] ; //재료\njson_res.settemp = msg.payload[24]*256+msg.payload[25] ; //세팅온도\njson_res.resourceNo = msg.payload[26] ; //원재료명\njson_res.alarm = msg.payload[27] ; //알람\njson_res.BCC = msg.payload[28] ; //BCC\njson_res.final = msg.payload[29] ; //0x03\n\nmsg.payload = json_res ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":550,"y":40,"wires":[["fee96829.d6a868"]]},{"id":"e8f4c884.623d08","type":"function","z":"133d4a37.cea446","name":"data split & convert to buffer","func":"var com_obj = flow.get('command') || [] ;\nvar com_str = com_obj[0] ;\nvar hex = '' ;\n\nif (msg.payload==='') {\n  flow.set('error', 'authorize error') ;\n}\n\nif (com_obj.length == 1) {\n  msg.complete = true ;\n  flow.set('command', []) ;\n} else {\n  com_obj.splice(0,1) ;\n  flow.set('command', com_obj) ;\n}\nif (com_str !== undefined) {\n  for (var i = 0; (i < com_str.length); i += 2) {\n    hex += String.fromCharCode('0x' + com_str.substr(i, 2)) ;\n  }\n  msg.payload = Buffer.from(hex,\"ascii\") ;\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":460,"y":80,"wires":[["3ef1e9b6.4e19b6"]]},{"id":"cc3d6f9.2e39d9","type":"http in","z":"133d4a37.cea446","name":"http in (/hopper)","url":"/hopper","method":"post","upload":false,"swaggerDoc":"","x":100,"y":80,"wires":[["884621d3.5833a","24ab4046.42c56"]]},{"id":"3ef1e9b6.4e19b6","type":"serial request","z":"133d4a37.cea446","name":"","serial":"ef5328df.dc7718","x":670,"y":80,"wires":[["30c9eea0.c73bf2"]]},{"id":"614276a7.7f5f78","type":"join","z":"133d4a37.cea446","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":970,"y":80,"wires":[["761d180.d5231e8"]]},{"id":"9645df94.5698a","type":"complete","z":"133d4a37.cea446","name":"when one request finish","scope":["30c9eea0.c73bf2"],"uncaught":false,"x":200,"y":120,"wires":[["e8f4c884.623d08"]]},{"id":"f773f200.f0cd3","type":"http response","z":"133d4a37.cea446","name":"http response","statusCode":"","headers":{},"x":1280,"y":80,"wires":[]},{"id":"884621d3.5833a","type":"function","z":"133d4a37.cea446","name":"authorize","func":"if (msg.payload.name == 'CTFadmin') { //'CTFadmin'일 경우\n  var obj = Object.values(msg.payload) ;\n  obj.splice(0,1) ;\n  flow.set('command', obj) ;\n  msg.payload = obj ;\n} else {\n  flow.set('command', ['authorize error']) ;\n  msg.payload = '' ;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["e8f4c884.623d08"]]},{"id":"30c9eea0.c73bf2","type":"function","z":"133d4a37.cea446","name":"check error","func":"if ( msg.payload === undefined ) {\n  msg.payload = 'command error' ;\n}\nreturn msg ;","outputs":1,"noerr":0,"x":830,"y":80,"wires":[["614276a7.7f5f78"]]},{"id":"761d180.d5231e8","type":"function","z":"133d4a37.cea446","name":"data output","func":"var error = flow.get('error') || ''\nvar json_res = {} ;\nfor (i = 1; i<msg.payload.length+1; i++) {\n  json_res[\"response\" + String(i)] = msg.payload[i-1] ;\n}\nmsg.payload = json_res ;\nflow.set('status','ok') ;\n\nif (error !== '') {\n  msg.payload = error ;\n  flow.set('error', '') ;\n}\n\nreturn msg ;\n","outputs":1,"noerr":0,"x":1110,"y":80,"wires":[["f773f200.f0cd3"]]},{"id":"ef5328df.dc7718","type":"serial-port","z":"","serialport":"COM7","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"10","bin":"bin","out":"time","addchar":"","responsetimeout":"100"}]
