Cyber_Tech_Friend Freelancer/flow/2020-08-03/hotrunner
[{"id":"511f85c8.b7e61c","type":"tab","label":"Hotrunner","disabled":true,"info":""},{"id":"2617dc7f.011234","type":"function","z":"511f85c8.b7e61c","name":"msg maker","func":"if (!!msg.res) { // API를 통해 정보가 들어왔을 때\n  status = 'no' ; // API를 통해 들어온 세팅값의 시리얼 통신을 방해하지 않기 위해 메인 루프를 정지\n  flow.set('status', status);\n}\nif (status == 'ok') { // API를 통해 메인 루프가 정지되지 않은 경우 (평상시)\n  var routine = flow.get('routine') || 0 ; //routine은 loop를 순서대로 돌리기 위한 숫자 (id값)\n  routine += 1 ; // routine은 1씩 증가\n  if (routine > 8){ // routine이 loop_condition의 값보다 커지면 다시 routine을 1로 설정(다시 zone 1의 데이터를 조회)\n    routine = 1 ;\n  }\n  flow.set('routine', routine) ;\n  msg.payload = Buffer.from(String.fromCharCode(0x02, '0x'+routine.toString(16), 0x51, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\") ;\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["85b9dca4.23fb6"]]},{"id":"f27ab071.88373","type":"inject","z":"511f85c8.b7e61c","name":"hotrunner","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["2617dc7f.011234"]]},{"id":"85b9dca4.23fb6","type":"serial request","z":"511f85c8.b7e61c","name":"","serial":"ef5328df.dc7718","x":410,"y":100,"wires":[["527d4245.2c582c"]]},{"id":"5d58ea55.da2194","type":"http in","z":"511f85c8.b7e61c","name":"http in (/hotrunner)","url":"/hotrunner","method":"post","upload":false,"swaggerDoc":"","x":110,"y":220,"wires":[["2617dc7f.011234","b9a5e5fc.e091e8"]]},{"id":"e9534463.7aea98","type":"serial request","z":"511f85c8.b7e61c","name":"","serial":"ef5328df.dc7718","x":670,"y":220,"wires":[["57f1c8f8.d1eb88"]]},{"id":"13e13d50.c1b143","type":"join","z":"511f85c8.b7e61c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":950,"y":220,"wires":[["1bc0389.19437c7"]]},{"id":"e585683e.895328","type":"complete","z":"511f85c8.b7e61c","name":"when one request finish","scope":["57f1c8f8.d1eb88"],"uncaught":false,"x":240,"y":260,"wires":[["9240d67d.4fb348"]]},{"id":"95c778c7.b0e5f8","type":"http response","z":"511f85c8.b7e61c","name":"http response","statusCode":"","headers":{},"x":1260,"y":220,"wires":[]},{"id":"527d4245.2c582c","type":"function","z":"511f85c8.b7e61c","name":"Datastore","func":"var id = msg.payload[1] ;\nvar data_package_json = flow.get('data_package_json') || {} ;\n\nif (id == 1) {\n  data_package_json = {} ;\n  data_package_json.zone1 = msg.payload ;\n  flow.set('data_package_json', data_package_json) ;\n} else if (id == 2) {\n  data_package_json.zone2 = msg.payload ;\n  flow.set('data_package_json', data_package_json) ;\n} else if (id == 3) {\n  data_package_json.zone3 = msg.payload ;\n  flow.set('data_package_json', data_package_json) ;\n} else if (id == 4) {\n  data_package_json.zone4 = msg.payload ;\n  flow.set('data_package_json', data_package_json) ;\n} else if (id == 5) {\n  data_package_json.zone5 = msg.payload ;\n  flow.set('data_package_json', data_package_json) ;\n} else if (id == 6) {\n  data_package_json.zone6 = msg.payload ;\n  flow.set('data_package_json', data_package_json) ;\n} else if (id == 7) {\n  data_package_json.zone7 = msg.payload ;\n  flow.set('data_package_json', data_package_json) ;\n} else if (id == 8) {\n  data_package_json.zone8 = msg.payload ;\n  flow.set('data_package_json', data_package_json) ;\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":540,"y":100,"wires":[["15959fa5.49f83"]]},{"id":"15959fa5.49f83","type":"function","z":"511f85c8.b7e61c","name":"data transfer json","func":"var json_data = {} ;\nfor (i = 1; i<=8; i++) {\n  json_data[\"zone\" + String(i)] = {} ;\n}\n\njson_data.zone1.nowtemp = (msg.payload.zone1[3]*256+msg.payload.zone1[4])/10 ; //현재온도\njson_data.zone1.settemp = msg.payload.zone1[5]*256+msg.payload.zone1[6] ; //설정온도\njson_data.zone1.max = msg.payload.zone1[7] ; //상한값\njson_data.zone1.min = msg.payload.zone1[8] ; //하한값\njson_data.zone1.outpercent = (msg.payload.zone1[9]*256+msg.payload.zone1[10])/10 ; //히터출력퍼센트\njson_data.zone1.current = (msg.payload.zone1[11]*256+msg.payload.zone1[12])/10 ; //히터소비전류\njson_data.zone1.capacity = msg.payload.zone1[13]*256+msg.payload.zone1[14] ; //히터용량값\njson_data.zone1.degree = msg.payload.zone1[15] ; //섭씨or화씨\njson_data.zone1.error = msg.payload.zone1[16] ;//에러상태\n\njson_data.zone2.nowtemp = (msg.payload.zone2[3]*256+msg.payload.zone2[4])/10 ; //현재온도\njson_data.zone2.settemp = msg.payload.zone2[5]*256+msg.payload.zone2[6] ; //설정온도\njson_data.zone2.max = msg.payload.zone2[7] ; //상한값\njson_data.zone2.min = msg.payload.zone2[8] ; //하한값\njson_data.zone2.outpercent = (msg.payload.zone2[9]*256+msg.payload.zone2[10])/10 ; //히터출력퍼센트\njson_data.zone2.current = (msg.payload.zone2[11]*256+msg.payload.zone2[12])/10 ; //히터소비전류\njson_data.zone2.capacity = msg.payload.zone2[13]*256+msg.payload.zone2[14] ; //히터용량값\njson_data.zone2.degree = msg.payload.zone2[15] ; //섭씨or화씨\njson_data.zone2.error = msg.payload.zone2[16] ;//에러상태\n\njson_data.zone3.nowtemp = (msg.payload.zone3[3]*256+msg.payload.zone3[4])/10 ; //현재온도\njson_data.zone3.settemp = msg.payload.zone3[5]*256+msg.payload.zone3[6] ; //설정온도\njson_data.zone3.max = msg.payload.zone3[7] ; //상한값\njson_data.zone3.min = msg.payload.zone3[8] ; //하한값\njson_data.zone3.outpercent = (msg.payload.zone3[9]*256+msg.payload.zone3[10])/10 ; //히터출력퍼센트\njson_data.zone3.current = (msg.payload.zone3[11]*256+msg.payload.zone3[12])/10 ; //히터소비전류\njson_data.zone3.capacity = msg.payload.zone3[13]*256+msg.payload.zone3[14] ; //히터용량값\njson_data.zone3.degree = msg.payload.zone3[15] ; //섭씨or화씨\njson_data.zone3.error = msg.payload.zone3[16] ;//에러상태\n\njson_data.zone4.nowtemp = (msg.payload.zone4[3]*256+msg.payload.zone4[4])/10 ; //현재온도\njson_data.zone4.settemp = msg.payload.zone4[5]*256+msg.payload.zone4[6] ; //설정온도\njson_data.zone4.max = msg.payload.zone4[7] ; //상한값\njson_data.zone4.min = msg.payload.zone4[8] ; //하한값\njson_data.zone4.outpercent = (msg.payload.zone4[9]*256+msg.payload.zone4[10])/10 ; //히터출력퍼센트\njson_data.zone4.current = (msg.payload.zone4[11]*256+msg.payload.zone4[12])/10 ; //히터소비전류\njson_data.zone4.capacity = msg.payload.zone4[13]*256+msg.payload.zone4[14] ; //히터용량값\njson_data.zone4.degree = msg.payload.zone4[15] ; //섭씨or화씨\njson_data.zone4.error = msg.payload.zone4[16] ;//에러상태\n\njson_data.zone5.nowtemp = (msg.payload.zone5[3]*256+msg.payload.zone5[4])/10 ; //현재온도\njson_data.zone5.settemp = msg.payload.zone5[5]*256+msg.payload.zone5[6] ; //설정온도\njson_data.zone5.max = msg.payload.zone5[7] ; //상한값\njson_data.zone5.min = msg.payload.zone5[8] ; //하한값\njson_data.zone5.outpercent = (msg.payload.zone5[9]*256+msg.payload.zone5[10])/10 ; //히터출력퍼센트\njson_data.zone5.current = (msg.payload.zone5[11]*256+msg.payload.zone5[12])/10 ; //히터소비전류\njson_data.zone5.capacity = msg.payload.zone5[13]*256+msg.payload.zone5[14] ; //히터용량값\njson_data.zone5.degree = msg.payload.zone5[15] ; //섭씨or화씨\njson_data.zone5.error = msg.payload.zone5[16] ;//에러상태\n\njson_data.zone6.nowtemp = (msg.payload.zone6[3]*256+msg.payload.zone6[4])/10 ; //현재온도\njson_data.zone6.settemp = msg.payload.zone6[5]*256+msg.payload.zone6[6] ; //설정온도\njson_data.zone6.max = msg.payload.zone6[7] ; //상한값\njson_data.zone6.min = msg.payload.zone6[8] ; //하한값\njson_data.zone6.outpercent = (msg.payload.zone6[9]*256+msg.payload.zone6[10])/10 ; //히터출력퍼센트\njson_data.zone6.current = (msg.payload.zone6[11]*256+msg.payload.zone6[12])/10 ; //히터소비전류\njson_data.zone6.capacity = msg.payload.zone6[13]*256+msg.payload.zone6[14] ; //히터용량값\njson_data.zone6.degree = msg.payload.zone6[15] ; //섭씨or화씨\njson_data.zone6.error = msg.payload.zone6[16] ;//에러상태\n\njson_data.zone7.nowtemp = (msg.payload.zone7[3]*256+msg.payload.zone7[4])/10 ; //현재온도\njson_data.zone7.settemp = msg.payload.zone7[5]*256+msg.payload.zone7[6] ; //설정온도\njson_data.zone7.max = msg.payload.zone7[7] ; //상한값\njson_data.zone7.min = msg.payload.zone7[8] ; //하한값\njson_data.zone7.outpercent = (msg.payload.zone7[9]*256+msg.payload.zone7[10])/10 ; //히터출력퍼센트\njson_data.zone7.current = (msg.payload.zone7[11]*256+msg.payload.zone7[12])/10 ; //히터소비전류\njson_data.zone7.capacity = msg.payload.zone7[13]*256+msg.payload.zone7[14] ; //히터용량값\njson_data.zone7.degree = msg.payload.zone7[15] ; //섭씨or화씨\njson_data.zone7.error = msg.payload.zone7[16] ;//에러상태\n\njson_data.zone8.nowtemp = (msg.payload.zone8[3]*256+msg.payload.zone8[4])/10 ; //현재온도\njson_data.zone8.settemp = msg.payload.zone8[5]*256+msg.payload.zone8[6] ; //설정온도\njson_data.zone8.max = msg.payload.zone8[7] ; //상한값\njson_data.zone8.min = msg.payload.zone8[8] ; //하한값\njson_data.zone8.outpercent = (msg.payload.zone8[9]*256+msg.payload.zone8[10])/10 ; //히터출력퍼센트\njson_data.zone8.current = (msg.payload.zone8[11]*256+msg.payload.zone8[12])/10 ; //히터소비전류\njson_data.zone8.capacity = msg.payload.zone8[13]*256+msg.payload.zone8[14] ; //히터용량값\njson_data.zone8.degree = msg.payload.zone8[15] ; //섭씨or화씨\njson_data.zone8.error = msg.payload.zone8[16] ;//에러상태\n\nmsg.payload = json_data ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":710,"y":100,"wires":[[]]},{"id":"b9a5e5fc.e091e8","type":"function","z":"511f85c8.b7e61c","name":"authorize","func":"if (msg.payload.name == 'CTFadmin') { //'CTFadmin'일 경우\n  var obj = Object.values(msg.payload) ;\n  obj.splice(0,1) ;\n  flow.set('command', obj) ;\n  msg.payload = obj ;\n} else {\n  flow.set('command', ['authorize error']) ;\n  msg.payload = '' ;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["9240d67d.4fb348"]]},{"id":"9240d67d.4fb348","type":"function","z":"511f85c8.b7e61c","name":"data split & convert to buffer","func":"var com_obj = flow.get('command') || [] ;\nvar com_str = com_obj[0] ;\nvar hex = '' ;\n\nif (msg.payload==='') {\n  flow.set('error', 'authorize error') ;\n}\n\nif (com_obj.length == 1) {\n  msg.complete = true ;\n  flow.set('command', []) ;\n} else {\n  com_obj.splice(0,1) ;\n  flow.set('command', com_obj) ;\n}\nif (com_str !== undefined) {\n  for (var i = 0; (i < com_str.length); i += 2) {\n    hex += String.fromCharCode('0x' + com_str.substr(i, 2)) ;\n  }\n  msg.payload = Buffer.from(hex,\"ascii\") ;\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["e9534463.7aea98"]]},{"id":"57f1c8f8.d1eb88","type":"function","z":"511f85c8.b7e61c","name":"check error","func":"if ( msg.payload === undefined ) {\n  msg.payload = 'command error' ;\n}\nreturn msg ;","outputs":1,"noerr":0,"x":810,"y":220,"wires":[["13e13d50.c1b143"]]},{"id":"1bc0389.19437c7","type":"function","z":"511f85c8.b7e61c","name":"data output","func":"var error = flow.get('error') || ''\nvar json_res = {} ;\nfor (i = 1; i<msg.payload.length+1; i++) {\n  json_res[\"response\" + String(i)] = msg.payload[i-1] ;\n}\nmsg.payload = json_res ;\nflow.set('status','ok') ;\n\nif (error !== '') {\n  msg.payload = error ;\n  flow.set('error', '') ;\n}\n\nreturn msg ;\n","outputs":1,"noerr":0,"x":1090,"y":220,"wires":[["95c778c7.b0e5f8"]]},{"id":"27fba4e4.448dbc","type":"function","z":"511f85c8.b7e61c","name":"예시데이터","func":"\nmsg.payload = {\n \n  \"zone1\": {\n  \n  \"nowtemp\":22.7,\n  \"settemp\":154,\n  \"max\":50,\n  \"min\":50,\n  \"degree\":0,\n  \n  \"outpercent\":60,\n  \"current\":0,\n  \n  \"capacity\":0,\n  \n  \"error\":1\n\n\n  },\n  \n  \"zone2\": {\n  \n  \"nowtemp\":22.7,\n  \"settemp\":154,\n  \"max\":50,\n  \"min\":50,\n  \"outpercent\":0,\n  \"current\":1,\n  \"capacity\":0,\n  \"degree\":0,\n  \"error\":1\n\n\n  },\n  \n  \"zone3\": {\n  \n  \"nowtemp\":22.7,\n  \"settemp\":154,\n  \"max\":50,\n  \"min\":50,\n  \"outpercent\":0,\n  \"current\":0,\n  \"capacity\":0,\n  \"degree\":0,\n  \"error\":1\n\n\n  },\n  \n  \"zone4\": {\n  \n  \"nowtemp\":22.7,\n  \"settemp\":154,\n  \"max\":50,\n  \"min\":50,\n  \"outpercent\":0,\n  \"current\":0,\n  \"capacity\":0,\n  \"degree\":0,\n  \"error\":1\n\n\n  },\n  \n  \"zone5\": {\n  \n  \"nowtemp\":22.7,\n  \"settemp\":154,\n  \"max\":50,\n  \"min\":50,\n  \"outpercent\":0,\n  \"current\":0,\n  \"capacity\":0,\n  \"degree\":0,\n  \"error\":1\n\n\n  },\n  \n  \"zone6\": {\n  \n  \"nowtemp\":22.7,\n  \"settemp\":154,\n  \"max\":50,\n  \"min\":50,\n  \"outpercent\":0,\n  \"current\":0,\n  \"capacity\":0,\n  \"degree\":0,\n  \"error\":1\n\n\n  }\n}\n\nreturn msg\n  \n  \n  ","outputs":1,"noerr":0,"x":270,"y":400,"wires":[["54d67757.bfb928"]]},{"id":"d8a7ebfd.e81788","type":"inject","z":"511f85c8.b7e61c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":400,"wires":[["27fba4e4.448dbc"]]},{"id":"54d67757.bfb928","type":"link out","z":"511f85c8.b7e61c","name":"","links":["6d96adc4.6157d4"],"x":375,"y":400,"wires":[]},{"id":"f7823baa.9ff568","type":"inject","z":"511f85c8.b7e61c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":920,"y":540,"wires":[["bbddb1f0.af6ad"]]},{"id":"bbddb1f0.af6ad","type":"function","z":"511f85c8.b7e61c","name":"","func":"msg.payload={\n\n  \"$schema\": \"https://vega.github.io/schema/vega/v5.json\",\n  \"width\": 500,\n  \"height\": 200,\n  \"padding\": 5,\n\n  \"signals\": [\n    {\n      \"name\": \"interpolate\",\n      \"value\": \"monotone\",\n      \"bind\": {\n        \"input\": \"select\",\n        \"options\": [\n          \"basis\",\n          \"cardinal\",\n          \"catmull-rom\",\n          \"linear\",\n          \"monotone\",\n          \"natural\",\n          \"step\",\n          \"step-after\",\n          \"step-before\"\n        ]\n      }\n    }\n  ],\n\n  \"data\": [\n    {\n      \"name\": \"table\",\n      \"values\": [\n        {\"u\": 1,  \"v\": 28}, {\"u\": 2,  \"v\": 5},\n        {\"u\": 3,  \"v\": 43}, {\"u\": 4,  \"v\": 1},\n        {\"u\": 5,  \"v\": 81}, {\"u\": 6,  \"v\": 53},\n        {\"u\": 7,  \"v\": 19}, {\"u\": 8,  \"v\": 7},\n        {\"u\": 9,  \"v\": 52}, {\"u\": 10, \"v\": 48},\n        {\"u\": 11, \"v\": 24}, {\"u\": 12, \"v\": 49},\n        {\"u\": 13, \"v\": 87}, {\"u\": 14, \"v\": 66},\n        {\"u\": 15, \"v\": 17}, {\"u\": 16, \"v\": 27},\n        {\"u\": 17, \"v\": 68}, {\"u\": 18, \"v\": 16},\n        {\"u\": 19, \"v\": 49}, {\"u\": 20, \"v\": 5}\n      ]\n    }\n  ],\n\n  \"scales\": [\n    {\n      \"name\": \"xscale\",\n      \"type\": \"linear\",\n      \"range\": \"width\",\n      \"zero\": false,\n      \"domain\": {\"data\": \"table\", \"field\": \"u\"}\n    },\n    {\n      \"name\": \"yscale\",\n      \"type\": \"linear\",\n      \"range\": \"height\",\n      \"nice\": true,\n      \"zero\": true,\n      \"domain\": {\"data\": \"table\", \"field\": \"v\"}\n    }\n  ],\n\n  \"axes\": [\n    {\"orient\": \"bottom\", \"scale\": \"xscale\", \"tickCount\": 20},\n    {\"orient\": \"left\", \"scale\": \"yscale\"}\n  ],\n\n  \"marks\": [\n    {\n      \"type\": \"area\",\n      \"from\": {\"data\": \"table\"},\n      \"encode\": {\n        \"enter\": {\n          \"x\": {\"scale\": \"xscale\", \"field\": \"u\"},\n          \"y\": {\"scale\": \"yscale\", \"field\": \"v\"},\n          \"y2\": {\"scale\": \"yscale\", \"value\": 0},\n          \"fill\": {\"value\": \"steelblue\"}\n        },\n        \"update\": {\n          \"interpolate\": {\"signal\": \"interpolate\"},\n          \"fillOpacity\": {\"value\": 1}\n        },\n        \"hover\": {\n          \"fillOpacity\": {\"value\": 0.5}\n        }\n      }\n    }\n  ]\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":620,"wires":[[]]},{"id":"d96a1b5f.ab5628","type":"comment","z":"511f85c8.b7e61c","name":"main loop","info":"","x":80,"y":60,"wires":[]},{"id":"8e935ac1.708c68","type":"comment","z":"511f85c8.b7e61c","name":"api","info":"","x":70,"y":180,"wires":[]},{"id":"ef5328df.dc7718","type":"serial-port","z":"","serialport":"COM7","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"10","bin":"bin","out":"time","addchar":"","responsetimeout":"100"}]
