Cyber_Tech_Friend Freelancer/flow/2020-08-03/PLC
[{"id":"49076e8f.68252","type":"tab","label":"PLC","disabled":true,"info":""},{"id":"a8c9dba.b30d128","type":"mosca in","z":"49076e8f.68252","mqtt_port":"1883","mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":670,"y":500,"wires":[["b9a22933.42e348"]]},{"id":"e0dd938.9aa727","type":"mqtt in","z":"49076e8f.68252","name":"","topic":"%MW100","qos":"2","datatype":"auto","broker":"9f5554e4.45fc68","x":120,"y":420,"wires":[["7b0598ff.8eb6c8"]]},{"id":"7b0598ff.8eb6c8","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":320,"y":420,"wires":[]},{"id":"40b9d86c.228c98","type":"mqtt in","z":"49076e8f.68252","name":"","topic":"%DB10","qos":"2","datatype":"auto","broker":"9f5554e4.45fc68","x":110,"y":500,"wires":[["d8fa4dc6.b326e"]]},{"id":"d8fa4dc6.b326e","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":320,"y":500,"wires":[]},{"id":"c7ccd29.71ac53","type":"function","z":"49076e8f.68252","name":"Get data from plc","func":"var length = msg.payload[30] + msg.payload[31]*256\nvar data = [length]\nfor (i = 0; i < length; i++) {\n  data.push(msg.payload[i+32])\n}\nmsg.payload = data\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":140,"wires":[["85121ca3.a4d9f","bafe9263.a52c9"]]},{"id":"85121ca3.a4d9f","type":"join","z":"49076e8f.68252","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1070,"y":180,"wires":[["29303341.941c7c","4d32bc66.8c7694"]]},{"id":"29303341.941c7c","type":"function","z":"49076e8f.68252","name":"Make json","func":"var start = msg.payload[0] //5\nvar length = msg.payload[1][0] //10\nvar data = msg.payload[1].splice(1,length) //[0 0 0 0 0 0...]\nvar data_comb = []\nvar str = start\nvar cut = start.substring(0,3)\nstr = str.replace(/[^0-9]/g,'');\nvar stn = Number(str)\n//for (i=0; i < data.length; i+=2) {\nfor (i=0; i < data.length; i++) {\n  data_comb.push(data[i]+data[i+1]*256)\n}\n\nvar start_array = []\nfor (i=0; i<data_comb.length; i++) {\n  start_array.push(stn+i)\n  //start_array.push(i*10)\n}\n\nvar data_json = {}\n//for (i = 0; i<length/2; i++) {\nfor (i = 0; i<length*2; i++) {\n  data_json[String(cut+start_array[i])] = String(data_comb[i]);\n}\nmsg.payload = data_json\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":180,"wires":[["5cc7eade.9e7754","c67c7e27.d859c"]]},{"id":"50fb11fa.61d4f","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1640,"y":180,"wires":[]},{"id":"7b99a005.29e2f","type":"function","z":"49076e8f.68252","name":"Json to ascii cord (연속)","func":"msg.host = msg.payload.ip\nmsg.port = msg.payload.port\nfunction u2h(uni){\n  var resultlist = [] ;\n  for (i = 0; i<uni.length; i++) { //uni 길이만큼 반복\n    hex = uni.charCodeAt(i).toString(16) ; //uni에서 i번째 문자를 16진법으로 변환하여 hex에 지정\n    resultlist.push((\"0x\"+hex)) ;//hex값을 resultlist에 저장\n  }\n  return resultlist ;\n}\nvar protocol1 = [0x4C, 0x53, 0x49, 0x53, 0x2D, 0x58, 0x47, 0x54, 0x00, 0x00, 0x00, 0x00, 0xA0, 0x33, 0x02, 0x00]\nvar protocol2 = [0x00, 0x03, 0x00, 0x54, 0x00, 0x14, 0x00, 0x00, 0x00, 0x01, 0x00]\nvar protocol3 = [0x00]\nvar protocol = protocol1.concat(\"0x\"+(msg.payload.address.length+12).toString(16)).concat(protocol2).concat(\"0x\"+(msg.payload.address.length).toString(16))\n.concat(protocol3).concat(u2h(msg.payload.address).concat(\"0x\"+(msg.payload.amount).toString(16)).concat(protocol3))\n//, 0x25, 0x44, 0x57, 0x30, 0x30, 0x30, 0x30, 0x31\n// msg.payload는 DW0001과 같은 문자\n\nvar protocol_ascii = ''\nfor (i=0; i<protocol.length;i++) {\n  protocol_ascii += String.fromCharCode(protocol[i])\n}\nmsg.payload = Buffer.from(protocol_ascii,\"ascii\")\nreturn msg ;","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["2eec11db.034b7e","8cfdbe98.55a02"]]},{"id":"70a252b8.114b6c","type":"inject","z":"49076e8f.68252","name":"연속읽기 example","topic":"12","payload":"{\"ip\":\"192.168.33.2\",\"port\":2004,\"button\":0,\"amount\":30,\"address\":\"%DB00001\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["b3573971.264548"]]},{"id":"b3573971.264548","type":"switch","z":"49076e8f.68252","name":"switch","property":"payload.button","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":220,"wires":[["e691eef6.6e7f2","6c1156c7.9d4718"],["9301d0d7.62037"]]},{"id":"2eec11db.034b7e","type":"tcp request","z":"49076e8f.68252","server":"","port":"","out":"time","splitc":"0","name":"","x":790,"y":140,"wires":[["c7ccd29.71ac53","aac500a9.afce9"]]},{"id":"e691eef6.6e7f2","type":"function","z":"49076e8f.68252","name":"Get start point","func":"msg.payload = msg.payload.address\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":180,"wires":[["85121ca3.a4d9f","6ee87532.d9597c"]]},{"id":"5cc7eade.9e7754","type":"function","z":"49076e8f.68252","name":"Make mqtt with topics","func":"var require = global.get('require');\nvar mqtt = require('mqtt');\n\nvar options = {\n  host: '127.0.0.1',\n  port: 1883\n  //protocol: 'mqtts',\n  //username:\"steve\",\n  //password:\"password\"\n};\n\nvar client = mqtt.connect(options);\n\n//connected\nclient.on(\"connect\", () => {\n  console.log(\"connected\"+ client.connected);\n})\n\n//error\nclient.on(\"error\", (error) => {\n  console.log(\"Can't connect\" + error);\n})\n\nfor (var key in msg.payload) {\n  var topic = key\n  var message = msg.payload[key]\n  client.publish(topic, message)\n}\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":360,"wires":[["50fb11fa.61d4f"]]},{"id":"faf52f27.1f825","type":"mqtt in","z":"49076e8f.68252","name":"","topic":"%DB13","qos":"2","datatype":"auto","broker":"9f5554e4.45fc68","x":110,"y":680,"wires":[["a918201e.ac556"]]},{"id":"a918201e.ac556","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":320,"y":680,"wires":[]},{"id":"113a5686.9da669","type":"mqtt in","z":"49076e8f.68252","name":"","topic":"%DB12","qos":"2","datatype":"auto","broker":"9f5554e4.45fc68","x":110,"y":620,"wires":[["12984556.62476b"]]},{"id":"12984556.62476b","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":320,"y":620,"wires":[]},{"id":"271a444a.49924c","type":"mqtt in","z":"49076e8f.68252","name":"","topic":"%DB11","qos":"2","datatype":"auto","broker":"9f5554e4.45fc68","x":110,"y":560,"wires":[["c97b1ffa.288d3"]]},{"id":"c97b1ffa.288d3","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":320,"y":560,"wires":[]},{"id":"310031bf.9139de","type":"inject","z":"49076e8f.68252","name":"개별읽기 example","topic":"12","payload":"{\"ip\":\"192.168.33.2\",\"port\":2004,\"button\":1,\"address\":\"%MW100\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["b3573971.264548"]]},{"id":"9301d0d7.62037","type":"function","z":"49076e8f.68252","name":"Json to ascii cord (개별)","func":"msg.host = msg.payload.ip\nmsg.port = msg.payload.port\nmsg.topic = msg.payload.adress\nfunction u2h(uni){\n  var resultlist = [] ;\n  for (i = 0; i<uni.length; i++) { //uni 길이만큼 반복\n    hex = uni.charCodeAt(i).toString(16) ; //uni에서 i번째 문자를 16진법으로 변환하여 hex에 지정\n    resultlist.push((\"0x\"+hex)) ;//hex값을 resultlist에 저장\n  }\n  return resultlist ;\n}\nvar protocol1 = [0x4C, 0x53, 0x49, 0x53, 0x2D, 0x58, 0x47, 0x54, 0x00, 0x00, 0x00, 0x00, 0xA0, 0x33, 0x02, 0x00]\nvar protocol2 = [0x00, 0x03, 0x00, 0x54, 0x00, 0x02, 0x00, 0x00, 0x00, 0x01, 0x00]\nvar protocol3 = [0x00]\nvar protocol = protocol1.concat(\"0x\"+(msg.payload.address.length+10).toString(16))\n.concat(protocol2).concat(\"0x\"+(msg.payload.address.length).toString(16)).concat(protocol3).concat(u2h(msg.payload.address))\n//, 0x25, 0x44, 0x57, 0x30, 0x30, 0x30, 0x30, 0x31\n// msg.payload는 DW0001과 같은 문자\n\nvar protocol_ascii = ''\nfor (i=0; i<protocol.length;i++) {\n  protocol_ascii += String.fromCharCode(protocol[i])\n}\nmsg.payload = Buffer.from(protocol_ascii,\"ascii\")\n\nreturn msg ;","outputs":1,"noerr":0,"x":610,"y":280,"wires":[["dac6c6f1.b426a8"]]},{"id":"dac6c6f1.b426a8","type":"tcp request","z":"49076e8f.68252","server":"","port":"","out":"time","splitc":"0","name":"","x":810,"y":280,"wires":[["1b54a2a6.0bcbfd","b0672b09.3c2288"]]},{"id":"1b54a2a6.0bcbfd","type":"function","z":"49076e8f.68252","name":"Get data from plc","func":"if (msg.payload.length == 34) {\n    msg.payload = msg.payload[32] + msg.payload[33]*256\n} else {\n  msg.payload = msg.payload[32]\n}\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":240,"wires":[["bcc0d0fa.e8e7f"]]},{"id":"bcc0d0fa.e8e7f","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1260,"y":280,"wires":[]},{"id":"3a74d13c.876c2e","type":"comment","z":"49076e8f.68252","name":"mqtt","info":"","x":630,"y":460,"wires":[]},{"id":"14bed925.007887","type":"mqtt in","z":"49076e8f.68252","name":"","topic":"%DB14","qos":"2","datatype":"auto","broker":"9f5554e4.45fc68","x":110,"y":740,"wires":[["65bdb097.89a22"]]},{"id":"65bdb097.89a22","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":320,"y":740,"wires":[]},{"id":"86aa19ef.cbe768","type":"mqtt in","z":"49076e8f.68252","name":"","topic":"%DB20","qos":"2","datatype":"auto","broker":"9f5554e4.45fc68","x":110,"y":800,"wires":[["fd41083c.b060c8"]]},{"id":"fd41083c.b060c8","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":320,"y":800,"wires":[]},{"id":"c68e537b.04707","type":"mqtt in","z":"49076e8f.68252","name":"","topic":"%DB30","qos":"2","datatype":"auto","broker":"9f5554e4.45fc68","x":110,"y":860,"wires":[["8ef2c76a.ec1128"]]},{"id":"8ef2c76a.ec1128","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":320,"y":860,"wires":[]},{"id":"de2f552c.c99ae8","type":"inject","z":"49076e8f.68252","name":"개별쓰기 example","topic":"12","payload":"{\"ip\":\"192.168.33.2\",\"port\":2004,\"change\":1,\"adress\":\"%DW00000\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":340,"wires":[["9167b383.e2ab8"]]},{"id":"9167b383.e2ab8","type":"function","z":"49076e8f.68252","name":"Json to ascii cord (개별쓰기)","func":"msg.host = msg.payload.ip\nmsg.port = msg.payload.port\nmsg.topic = msg.payload.adress\nfunction u2h(uni){\n  var resultlist = [] ;\n  for (i = 0; i<uni.length; i++) { //uni 길이만큼 반복\n    hex = uni.charCodeAt(i).toString(16) ; //uni에서 i번째 문자를 16진법으로 변환하여 hex에 지정\n    resultlist.push((\"0x\"+hex)) ;//hex값을 resultlist에 저장\n  }\n  return resultlist ;\n}\n\nvar first = msg.payload.change.toString(16)\nvar second = first.slice(0,1)\nvar protocol1 = [0x4C, 0x53, 0x49, 0x53, 0x2D, 0x58, 0x47, 0x54, 0x00, 0x00, 0x00, 0x00, 0xA0, 0x33, 0x02, 0x00]\nvar protocol2 = [0x00, 0x03, 0x00, 0x58, 0x00, 0x02, 0x00, 0x00, 0x00, 0x01, 0x00]\nvar protocol3 = [0x00]\nvar protocol4 = [0x02]\nif (msg.payload.change> 255){\nvar protocol = protocol1.concat(\"0x\"+(msg.payload.adress.length+14).toString(16)).concat(protocol2).concat(\"0x\"+(msg.payload.adress.length).toString(16))\n.concat(protocol3).concat(u2h(msg.payload.adress)).concat(protocol4).concat(protocol3).concat(\"0x\"+(msg.payload.change).toString(16)).concat(\"0x\"+second)\n//, 0x25, 0x44, 0x57, 0x30, 0x30, 0x30, 0x30, 0x31\n// msg.payload는 DW0001과 같은 문자\nvar protocol_ascii = ''\nfor (i=0; i<protocol.length;i++) {\n  protocol_ascii += String.fromCharCode(protocol[i])\n}\nmsg.payload = Buffer.from(protocol_ascii,\"ascii\")\n}\nelse  {\n    var protocol5 = protocol1.concat(\"0x\"+(msg.payload.adress.length+14).toString(16)).concat(protocol2).concat(\"0x\"+(msg.payload.adress.length).toString(16))\n.concat(protocol3).concat(u2h(msg.payload.adress)).concat(protocol4).concat(protocol3).concat(\"0x\"+(msg.payload.change).toString(16)).concat(protocol3)\n//, 0x25, 0x44, 0x57, 0x30, 0x30, 0x30, 0x30, 0x31\n// msg.payload는 DW0001과 같은 문자\nvar protocol_ascii1 = ''\nfor (i=0; i<protocol5.length;i++) {\n  protocol_ascii1 += String.fromCharCode(protocol5[i])\n}\nmsg.payload = Buffer.from(protocol_ascii1,\"ascii\")\n}\n\nreturn msg ;","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["4ccd2d3e.978224"]]},{"id":"4358d018.dcc99","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1000,"y":340,"wires":[]},{"id":"4ccd2d3e.978224","type":"tcp request","z":"49076e8f.68252","server":"","port":"","out":"time","splitc":"0","name":"","x":790,"y":340,"wires":[["4358d018.dcc99"]]},{"id":"6c1156c7.9d4718","type":"function","z":"49076e8f.68252","name":"correct starting point","func":"var start = msg.payload.address\nvar str = start\nstr = str.replace(/[^0-9]/g,'');\nvar stn = Number(str)*2\nvar cut = start.substring(0,3)\nmsg.payload.address = cut+stn\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":120,"wires":[["7b99a005.29e2f","a9e4e6fc.3af288","b595bd5e.b9a14"]]},{"id":"b9a22933.42e348","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":900,"y":460,"wires":[]},{"id":"c67c7e27.d859c","type":"debug","z":"49076e8f.68252","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1340,"y":100,"wires":[]},{"id":"4d32bc66.8c7694","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1160,"y":60,"wires":[]},{"id":"bafe9263.a52c9","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":920,"y":40,"wires":[]},{"id":"6ee87532.d9597c","type":"debug","z":"49076e8f.68252","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":800,"y":220,"wires":[]},{"id":"a9e4e6fc.3af288","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":360,"y":20,"wires":[]},{"id":"8cfdbe98.55a02","type":"debug","z":"49076e8f.68252","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1180,"y":560,"wires":[]},{"id":"7a1e68be.942688","type":"mqtt in","z":"49076e8f.68252","name":"","topic":"%DB1","qos":"2","datatype":"auto","broker":"9f5554e4.45fc68","x":570,"y":640,"wires":[["4e0f1d72.8b5144"]]},{"id":"4e0f1d72.8b5144","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":780,"y":640,"wires":[]},{"id":"b0672b09.3c2288","type":"debug","z":"49076e8f.68252","name":"","active":false,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1220,"y":380,"wires":[]},{"id":"aac500a9.afce9","type":"debug","z":"49076e8f.68252","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":1420,"y":500,"wires":[]},{"id":"b595bd5e.b9a14","type":"debug","z":"49076e8f.68252","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","x":980,"y":560,"wires":[]},{"id":"9f5554e4.45fc68","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
