Cyber_Tech_Friend Freelancer/flow/2020-08-03/오토닉스 카운터
[{"id":"8a6c592f.41e988","type":"tab","label":"atonics counter","disabled":true,"info":""},{"id":"ab2a32d.15b34d","type":"function","z":"8a6c592f.41e988","d":true,"name":"TCP Client","func":"var require = global.get('require');\n\n// create an empty modbus client\nvar ModbusRTU = require(\"modbus-serial\");\nvar client = new ModbusRTU();\n\n// open connection to a tcp line\nclient.connectTCP(\"127.0.0.1\", { port: 10502 });\nclient.setID(1);\n\n// read the values of 1 registers starting at address 1003\n// on device number 1. and log the values to the console.\n\nsetInterval(function() {\n    client.readHoldingRegisters(0x03EB, 1, function(err, data) {\n        flow.set('tcp_data', data.data) ; //'tcp_data'를 전역변수로 설정하여 값을 저장\n    });\n}, 1000);\n","outputs":1,"noerr":0,"x":310,"y":980,"wires":[[]]},{"id":"5f2c7bf3.a93a84","type":"inject","z":"8a6c592f.41e988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":980,"wires":[["ab2a32d.15b34d"]]},{"id":"a4e0bde3.57bf","type":"debug","z":"8a6c592f.41e988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":510,"y":1020,"wires":[]},{"id":"2819a7a8.821f48","type":"catch","z":"8a6c592f.41e988","d":true,"name":"","scope":null,"uncaught":false,"x":1680,"y":40,"wires":[["5e88b7a5.854e68"]]},{"id":"5e88b7a5.854e68","type":"debug","z":"8a6c592f.41e988","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1830,"y":40,"wires":[]},{"id":"da3e9d59.852d6","type":"modbus-read","z":"8a6c592f.41e988","name":"현재수량","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"InputRegister","adr":"1003","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"7db61b65.cf84d4","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":120,"y":100,"wires":[["4b2758dd.c79be8"],[]]},{"id":"d0d482a8.f4fff","type":"modbus-read","z":"8a6c592f.41e988","name":"목표수량","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"InputRegister","adr":"1006","quantity":"1","rate":"1","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"7db61b65.cf84d4","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":120,"y":140,"wires":[["4fbafc80.a02bd4"],[]]},{"id":"729efaf1.772184","type":"inject","z":"8a6c592f.41e988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1020,"wires":[["b22ca421.1aedd8"]]},{"id":"b22ca421.1aedd8","type":"function","z":"8a6c592f.41e988","d":true,"name":"read tcp property","func":"return {payload : flow.get('tcp_data')};","outputs":1,"noerr":0,"x":330,"y":1020,"wires":[["a4e0bde3.57bf"]]},{"id":"e6fe2e4c.b123a","type":"inject","z":"8a6c592f.41e988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1160,"wires":[["ed2ef774.0b7f98"]]},{"id":"ed2ef774.0b7f98","type":"function","z":"8a6c592f.41e988","d":true,"name":"Serial Client - planqty","func":"var require = global.get('require');\n\n// create an empty modbus client\nvar ModbusRTU = require(\"modbus-serial\");\nvar client = new ModbusRTU();\n\n// open connection to a serial port\nclient.connectRTUBuffered(\"COM3\", { baudRate: 9600 });\nclient.setID(1);\n\n// read the values of 1 registers starting at address 1003\n// on device number 1. and log the values to the console.\nsetInterval(function() {\n    client.readInputRegisters(0x03EE, 1, function(err, planqty) {\n  console.log(planqty.data)\n    //flow.set('serial_data', data.data) ; //'serial_data'를 전역변수로 설정하여 값을 저장\n});\n}, 1000);\n","outputs":1,"noerr":0,"x":340,"y":1160,"wires":[[]]},{"id":"51503eb5.b0747","type":"inject","z":"8a6c592f.41e988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1200,"wires":[["960cde55.4e869"]]},{"id":"960cde55.4e869","type":"function","z":"8a6c592f.41e988","d":true,"name":"read serial property","func":"return {payload : flow.get('serial_data')};","outputs":1,"noerr":0,"x":330,"y":1200,"wires":[["23d8e9c9.e4fc56"]]},{"id":"23d8e9c9.e4fc56","type":"debug","z":"8a6c592f.41e988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":510,"y":1200,"wires":[]},{"id":"fe5c4c97.11e78","type":"inject","z":"8a6c592f.41e988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1120,"wires":[["1dc3a181.71109e"]]},{"id":"1dc3a181.71109e","type":"function","z":"8a6c592f.41e988","d":true,"name":"Serial Client - nowqty","func":"var require = global.get('require');\n\n// create an empty modbus client\nvar ModbusRTU = require(\"modbus-serial\");\nvar client = new ModbusRTU();\nvar nowqty\n// open connection to a serial port\nclient.connectRTUBuffered(\"COM3\", { baudRate: 9600 });\nclient.setID(1);\n\n// read the values of 1 registers starting at address 1003\n// on device number 1. and log the values to the console.\nsetInterval(function() {\n    client.readInputRegisters( 0x03EB, 1, function(err, data) { \n      var nowqty = data.buffer.readUInt32BE();\n      console.log(nowqty) } );\n}, 1000);\n\n\n/*\nclient.readInputRegisters(0x03EE, 1, function(err, planqty) {\n  console.log(planqty.data)\n    //flow.set('serial_data', data.data) ; //'serial_data'를 전역변수로 설정하여 값을 저장\n});\n*/\n","outputs":1,"noerr":0,"x":340,"y":1120,"wires":[[]]},{"id":"95a954ec.d7e708","type":"inject","z":"8a6c592f.41e988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1240,"wires":[["eae5e6c5.33c988"]]},{"id":"eae5e6c5.33c988","type":"function","z":"8a6c592f.41e988","d":true,"name":"Serial Client - nowqty","func":"var require = global.get('require');\n\n// create an empty modbus client\nvar ModbusRTU = require(\"modbus-serial\");\nvar client = new ModbusRTU();\nvar data = 'not work'\n\nclient.connectRTUBuffered(\"COM3\", { baudRate: 9600 });\nclient.setID(1);\nclient.readInputRegisters(0x03EB, 1, function(error, data) {\n  console.log(error, data)\n})\n","outputs":1,"noerr":0,"x":340,"y":1240,"wires":[["bd09c384.cd92a"]]},{"id":"bd09c384.cd92a","type":"debug","z":"8a6c592f.41e988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":530,"y":1240,"wires":[]},{"id":"fd894954.cd0648","type":"comment","z":"8a6c592f.41e988","name":"modbus tcp with function node","info":"","x":180,"y":940,"wires":[]},{"id":"921ba1a5.a3fa7","type":"comment","z":"8a6c592f.41e988","name":"atonics counter data","info":"","x":130,"y":60,"wires":[]},{"id":"1a59e0ec.7c25ff","type":"comment","z":"8a6c592f.41e988","name":"modbus serial with function node","info":"","x":190,"y":1080,"wires":[]},{"id":"6a14d7c5.439078","type":"join","z":"8a6c592f.41e988","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":430,"y":120,"wires":[["4df4e093.8497f"]]},{"id":"4fbafc80.a02bd4","type":"function","z":"8a6c592f.41e988","name":"plan json","func":"msg.payload = {\"plan\" : msg.payload[0]} ;\nmsg.complete = true ;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":140,"wires":[["6a14d7c5.439078"]]},{"id":"4b2758dd.c79be8","type":"function","z":"8a6c592f.41e988","name":"produce json","func":"msg.payload = {\"produce\" : msg.payload[0]} ;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["6a14d7c5.439078"]]},{"id":"4df4e093.8497f","type":"function","z":"8a6c592f.41e988","name":"cavity json","func":"msg.payload.cavity = flow.get('cavity') || 2 ;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":120,"wires":[["de188db1.b8547"]]},{"id":"de188db1.b8547","type":"link out","z":"8a6c592f.41e988","name":"","links":["d32bcf1c.a1542","33614203.33569e"],"x":695,"y":120,"wires":[]},{"id":"17eabd08.f54913","type":"function","z":"8a6c592f.41e988","name":"","func":"msg.payload={\n    \"plan\": 2000,\n    \"produce\": 1000,\n    \"cavity\": 2\n  }\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":120,"wires":[["61b4022.7f4defc"]]},{"id":"25b8bdd9.701a72","type":"inject","z":"8a6c592f.41e988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1700,"y":120,"wires":[["17eabd08.f54913"]]},{"id":"61b4022.7f4defc","type":"link out","z":"8a6c592f.41e988","name":"","links":["33614203.33569e"],"x":1975,"y":120,"wires":[]},{"id":"b7062791.082948","type":"modbus-getter","z":"8a6c592f.41e988","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"InputRegister","adr":"1005","quantity":"1","server":"7db61b65.cf84d4","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":300,"y":800,"wires":[["5d818130.db173"],[]]},{"id":"5d818130.db173","type":"debug","z":"8a6c592f.41e988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":510,"y":820,"wires":[]},{"id":"7112c537.b91abc","type":"inject","z":"8a6c592f.41e988","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":800,"wires":[["b7062791.082948"]]},{"id":"45e104d3.9ecbfc","type":"modbus-write","z":"8a6c592f.41e988","name":"","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"Coil","adr":"0","quantity":"1","server":"7db61b65.cf84d4","x":300,"y":840,"wires":[["5d818130.db173"],[]]},{"id":"50605c26.195b64","type":"inject","z":"8a6c592f.41e988","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":840,"wires":[["45e104d3.9ecbfc"]]},{"id":"577b080d.6feec8","type":"comment","z":"8a6c592f.41e988","name":"현재수량 : 63번째 high, 62번째 low","info":"","x":200,"y":640,"wires":[]},{"id":"e1e0b3ce.15e84","type":"comment","z":"8a6c592f.41e988","name":"목표수량 : 1번째 high, 0번째 low","info":"","x":190,"y":500,"wires":[]},{"id":"ea24b71.64b5348","type":"modbus-write","z":"8a6c592f.41e988","name":"0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"7db61b65.cf84d4","x":430,"y":540,"wires":[["3b2f6dbe.6b7902"],[]]},{"id":"e6f3ce13.7b8e4","type":"modbus-write","z":"8a6c592f.41e988","name":"1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"7db61b65.cf84d4","x":570,"y":580,"wires":[["c6ace3ea.5cefe"],[]]},{"id":"9e9fbeed.fdff7","type":"modbus-write","z":"8a6c592f.41e988","name":"62","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"62","quantity":"1","server":"7db61b65.cf84d4","x":430,"y":680,"wires":[[],[]]},{"id":"471ace7f.a5ea5","type":"modbus-write","z":"8a6c592f.41e988","name":"63","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"63","quantity":"1","server":"7db61b65.cf84d4","x":570,"y":720,"wires":[[],[]]},{"id":"9e7b9890.5e8df8","type":"inject","z":"8a6c592f.41e988","name":"","topic":"","payload":"144","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["8fc756ad.bd1238","f2d973c6.d890c"]]},{"id":"8fc756ad.bd1238","type":"function","z":"8a6c592f.41e988","name":"lower byte","func":"if (msg.payload > 65536){\n    msg.payload = msg.payload - 65536\n} \nreturn msg;","outputs":1,"noerr":0,"x":290,"y":540,"wires":[["ea24b71.64b5348"]]},{"id":"f2d973c6.d890c","type":"function","z":"8a6c592f.41e988","name":"higher byte","func":"\nmsg.payload = Math.floor(msg.payload / 65536)\nconsole.log(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":580,"wires":[["43b75a7e.0ecbe4"]]},{"id":"43b75a7e.0ecbe4","type":"delay","z":"8a6c592f.41e988","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":580,"wires":[["e6f3ce13.7b8e4"]]},{"id":"4f4869fc.fce958","type":"delay","z":"8a6c592f.41e988","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":720,"wires":[["471ace7f.a5ea5"]]},{"id":"6dec1ac2.b87234","type":"function","z":"8a6c592f.41e988","name":"higher byte","func":"\nmsg.payload = Math.floor(msg.payload / 65536)\nconsole.log(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":720,"wires":[["4f4869fc.fce958"]]},{"id":"b6a40b28.4a2ea8","type":"function","z":"8a6c592f.41e988","name":"lower byte","func":"if (msg.payload > 65536){\n    msg.payload = msg.payload - 65536\n} \nreturn msg;","outputs":1,"noerr":0,"x":290,"y":680,"wires":[["9e9fbeed.fdff7"]]},{"id":"160f239b.78b0cc","type":"inject","z":"8a6c592f.41e988","name":"","topic":"","payload":"24","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":680,"wires":[["6dec1ac2.b87234","b6a40b28.4a2ea8"]]},{"id":"ed6e129b.9d66e","type":"comment","z":"8a6c592f.41e988","name":"modbus node","info":"","x":130,"y":760,"wires":[]},{"id":"89259e8.dd9876","type":"comment","z":"8a6c592f.41e988","name":"UI","info":"","x":1690,"y":80,"wires":[]},{"id":"3b2f6dbe.6b7902","type":"function","z":"8a6c592f.41e988","name":"result","func":"return {payload : msg.payload.value*1};","outputs":1,"noerr":0,"x":570,"y":540,"wires":[["f85b14f4.28f798"]]},{"id":"c6ace3ea.5cefe","type":"function","z":"8a6c592f.41e988","name":"result","func":"return {payload : msg.payload.value*1};","outputs":1,"noerr":0,"x":690,"y":580,"wires":[["f85b14f4.28f798"]]},{"id":"44e71f73.84f88","type":"debug","z":"8a6c592f.41e988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":1150,"y":540,"wires":[]},{"id":"f85b14f4.28f798","type":"join","z":"8a6c592f.41e988","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":810,"y":540,"wires":[["9c9a8840.b120b8"]]},{"id":"9c9a8840.b120b8","type":"function","z":"8a6c592f.41e988","name":"merge","func":"return {payload : msg.payload[0]+msg.payload[1]*65536};","outputs":1,"noerr":0,"x":930,"y":540,"wires":[["44e71f73.84f88"]]},{"id":"95f737e2.d73ae8","type":"modbus-write","z":"8a6c592f.41e988","name":"1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"7db61b65.cf84d4","x":870,"y":320,"wires":[["ff89af80.6c179"],[]]},{"id":"8424151b.0f3838","type":"modbus-write","z":"8a6c592f.41e988","name":"0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"7db61b65.cf84d4","x":750,"y":280,"wires":[["2bf58bd2.bd9c24"],[]]},{"id":"c97493b1.85fe7","type":"modbus-write","z":"8a6c592f.41e988","name":"63","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"63","quantity":"1","server":"7db61b65.cf84d4","x":870,"y":400,"wires":[["e9a16f26.57213"],[]]},{"id":"8191e99a.010168","type":"http in","z":"8a6c592f.41e988","name":"http in (/counter)","url":"/counter","method":"post","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["b8158de2.2991a"]]},{"id":"b8158de2.2991a","type":"function","z":"8a6c592f.41e988","name":"authorize","func":"if (msg.payload.name !== 'CTFadmin') {\n    msg.topic = 'error' ;\n    msg.payload = 'authorize error' ;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["3f2eb60e.166e7a","bcfe5604.ff2888","42890f00.b14bb","818eac0d.ea1a3"]]},{"id":"3f2eb60e.166e7a","type":"function","z":"8a6c592f.41e988","name":"check error","func":"if (msg.topic == 'error'){\n    return msg;\n}","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["9809fec2.09d9c"]]},{"id":"818eac0d.ea1a3","type":"function","z":"8a6c592f.41e988","name":"nowqty","func":"if (msg.topic !== 'error') {\n  msg.payload = msg.payload.now\n  return msg\n}\n","outputs":1,"noerr":0,"x":440,"y":360,"wires":[["2f86e4f1.9a15fc","47926581.b7463c"]]},{"id":"bcfe5604.ff2888","type":"function","z":"8a6c592f.41e988","name":"planqty","func":"if (msg.topic !== 'error') {\n  msg.payload = msg.payload.plan\n  return msg\n}\n","outputs":1,"noerr":0,"x":440,"y":280,"wires":[["7ca94b06.403054","78e8874.5616778"]]},{"id":"42890f00.b14bb","type":"function","z":"8a6c592f.41e988","name":"cavity","func":"if (msg.topic !== 'error') {\n  flow.set('cavity', msg.payload.cavity)\n  msg.payload = {\"cavity\" : msg.payload.cavity}\n  return msg\n}","outputs":1,"noerr":0,"x":430,"y":440,"wires":[["a86baedf.f8a8c"]]},{"id":"7ca94b06.403054","type":"function","z":"8a6c592f.41e988","name":"lower byte","func":"msg.payload = msg.payload - 65536*Math.floor(msg.payload / 65536)\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":280,"wires":[["8424151b.0f3838"]]},{"id":"78e8874.5616778","type":"function","z":"8a6c592f.41e988","name":"higher byte","func":"msg.payload = Math.floor(msg.payload / 65536)\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["3832e886.f1f9d8"]]},{"id":"3832e886.f1f9d8","type":"delay","z":"8a6c592f.41e988","name":"0.5","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":320,"wires":[["95f737e2.d73ae8"]]},{"id":"ff89af80.6c179","type":"function","z":"8a6c592f.41e988","name":"result","func":"var high = {}\nhigh[\"planhigh\"] = msg.payload.value*1\nmsg.payload = high\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":320,"wires":[["a86baedf.f8a8c"]]},{"id":"a86baedf.f8a8c","type":"join","z":"8a6c592f.41e988","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1110,"y":280,"wires":[["c08666c1.721e68"]]},{"id":"2f86e4f1.9a15fc","type":"function","z":"8a6c592f.41e988","name":"lower byte","func":"msg.payload = msg.payload - 65536*Math.floor(msg.payload / 65536)\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["e822b623.089f38"]]},{"id":"47926581.b7463c","type":"function","z":"8a6c592f.41e988","name":"higher byte","func":"msg.payload = Math.floor(msg.payload / 65536)\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":400,"wires":[["e78d011f.4bdbe"]]},{"id":"e78d011f.4bdbe","type":"delay","z":"8a6c592f.41e988","name":"1.5","pauseType":"delay","timeout":"1.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":400,"wires":[["c97493b1.85fe7"]]},{"id":"c08666c1.721e68","type":"function","z":"8a6c592f.41e988","name":"merge","func":"var result = {}\nresult[\"plan\"] = msg.payload.planlow+msg.payload.planhigh*65536\nresult[\"now\"] = msg.payload.nowlow+msg.payload.nowhigh*65536\nresult[\"cavity\"] = msg.payload.cavity\nmsg.payload = result\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":280,"wires":[["9809fec2.09d9c"]]},{"id":"387444a.14d8fbc","type":"modbus-write","z":"8a6c592f.41e988","name":"62","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"62","quantity":"1","server":"7db61b65.cf84d4","x":870,"y":360,"wires":[["5174b8f2.bb51f8"],[]]},{"id":"2bf58bd2.bd9c24","type":"function","z":"8a6c592f.41e988","name":"result","func":"var low = {}\nlow[\"planlow\"] = msg.payload.value*1\nmsg.payload = low\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":280,"wires":[["a86baedf.f8a8c"]]},{"id":"5174b8f2.bb51f8","type":"function","z":"8a6c592f.41e988","name":"result","func":"var low = {}\nlow[\"nowlow\"] = msg.payload.value*1\nmsg.payload = low\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":360,"wires":[["a86baedf.f8a8c"]]},{"id":"e9a16f26.57213","type":"function","z":"8a6c592f.41e988","name":"result","func":"var high = {}\nhigh[\"nowhigh\"] = msg.payload.value*1\nmsg.payload = high\nmsg.complete = true\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":400,"wires":[["a86baedf.f8a8c"]]},{"id":"10fbc551.4ba1db","type":"comment","z":"8a6c592f.41e988","name":"http comunication(multi)","info":"","x":140,"y":240,"wires":[]},{"id":"e822b623.089f38","type":"delay","z":"8a6c592f.41e988","name":"1","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":360,"wires":[["387444a.14d8fbc"]]},{"id":"9809fec2.09d9c","type":"http response","z":"8a6c592f.41e988","name":"http response","statusCode":"","headers":{},"x":1420,"y":280,"wires":[]},{"id":"653faa2a.c47644","type":"modbus-write","z":"8a6c592f.41e988","name":"1","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"7db61b65.cf84d4","x":930,"y":1480,"wires":[["f4ef2bd1.1bf058"],[]]},{"id":"de8cee47.96fb6","type":"modbus-write","z":"8a6c592f.41e988","name":"0","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"7db61b65.cf84d4","x":810,"y":1440,"wires":[["17442521.e0841b"],[]]},{"id":"9a37ba43.6f0fc8","type":"modbus-write","z":"8a6c592f.41e988","name":"63","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"63","quantity":"1","server":"7db61b65.cf84d4","x":930,"y":1560,"wires":[["1ade4645.74f53a"],[]]},{"id":"c103f90b.b01ae8","type":"http in","z":"8a6c592f.41e988","d":true,"name":"http in (/counter)","url":"/counter","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1440,"wires":[["a15e85f5.347798"]]},{"id":"a15e85f5.347798","type":"function","z":"8a6c592f.41e988","name":"authorize & classify","func":"if (msg.payload.name !== 'CTFadmin') {\n    msg.topic = 'error' ;\n    msg.payload = 'authorize error' ;\n    return msg ;\n} else if (msg.payload.type == \"now\") {\n  msg.topic = \"now\"\n} else if (msg.payload.type == \"plan\") {\n  msg.topic = \"plan\"\n} else if (msg.payload.type == \"cavity\") {\n  msg.topic = \"cavity\"\n} \nmsg.payload = msg.payload.value\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":1440,"wires":[["58688671.132c88","454a03f7.5d630c","d1b6eae5.4cb258","e6738c3e.a572d","6a23cd9a.822744"]]},{"id":"58688671.132c88","type":"function","z":"8a6c592f.41e988","name":"check error","func":"if (msg.topic == 'error'){\n    return msg;\n}","outputs":1,"noerr":0,"x":510,"y":1440,"wires":[["cf36006c.90afd"]]},{"id":"e6738c3e.a572d","type":"function","z":"8a6c592f.41e988","name":"nowqty","func":"if (msg.topic == \"now\") {\n  return msg ;\n}","outputs":1,"noerr":0,"x":500,"y":1520,"wires":[["d760a3f7.5c426","a305e159.430fb"]]},{"id":"454a03f7.5d630c","type":"function","z":"8a6c592f.41e988","name":"planqty","func":"if (msg.topic == \"plan\") {\n  return msg ;\n}","outputs":1,"noerr":0,"x":500,"y":1480,"wires":[["b0084a4a.39c9d8","c53fd349.3d465"]]},{"id":"d1b6eae5.4cb258","type":"function","z":"8a6c592f.41e988","name":"cavity","func":"if (msg.topic == \"cavity\") {\n  flow.set('cavity', msg.payload)\n  msg.payload = \n  {\n    \"cavity\" : msg.payload\n  }\n  return msg ;\n}","outputs":1,"noerr":0,"x":490,"y":1560,"wires":[["cf36006c.90afd"]]},{"id":"b0084a4a.39c9d8","type":"function","z":"8a6c592f.41e988","name":"lower byte","func":"if (msg.payload > 65536){\n    msg.payload = msg.payload - 65536\n} \nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1440,"wires":[["de8cee47.96fb6"]]},{"id":"c53fd349.3d465","type":"function","z":"8a6c592f.41e988","name":"higher byte","func":"msg.payload = Math.floor(msg.payload / 65536)\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1480,"wires":[["d9589959.051d48"]]},{"id":"d9589959.051d48","type":"delay","z":"8a6c592f.41e988","name":"0.5","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":1480,"wires":[["653faa2a.c47644"]]},{"id":"f4ef2bd1.1bf058","type":"function","z":"8a6c592f.41e988","name":"result","func":"var high = {}\nhigh[\"high\"] = msg.payload.value*1\nmsg.payload = high\nmsg.complete = true\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1480,"wires":[["d8164feb.6bc0b"]]},{"id":"d8164feb.6bc0b","type":"join","z":"8a6c592f.41e988","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1170,"y":1440,"wires":[["f4f13843.ef62c8"]]},{"id":"d760a3f7.5c426","type":"function","z":"8a6c592f.41e988","name":"lower byte","func":"if (msg.payload > 65536){\n    msg.payload = msg.payload - 65536\n} \nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1520,"wires":[["480982e8.5544ac"]]},{"id":"a305e159.430fb","type":"function","z":"8a6c592f.41e988","name":"higher byte","func":"msg.payload = Math.floor(msg.payload / 65536)\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1560,"wires":[["28de32ba.4db5de"]]},{"id":"28de32ba.4db5de","type":"delay","z":"8a6c592f.41e988","name":"0.5","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":1560,"wires":[["9a37ba43.6f0fc8"]]},{"id":"f4f13843.ef62c8","type":"function","z":"8a6c592f.41e988","name":"merge","func":"var result = {}\nresult[msg.payload.topic] = msg.payload.low+msg.payload.high*65536\nmsg.payload = result\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":1440,"wires":[["cf36006c.90afd"]]},{"id":"cf36006c.90afd","type":"http response","z":"8a6c592f.41e988","name":"http response","statusCode":"","headers":{},"x":1440,"y":1440,"wires":[]},{"id":"480982e8.5544ac","type":"modbus-write","z":"8a6c592f.41e988","name":"62","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"62","quantity":"1","server":"7db61b65.cf84d4","x":810,"y":1520,"wires":[["2fdd96e1.f05f6a"],[]]},{"id":"17442521.e0841b","type":"function","z":"8a6c592f.41e988","name":"result","func":"var low = {}\nlow[\"low\"] = msg.payload.value*1\nmsg.payload = low\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1440,"wires":[["d8164feb.6bc0b"]]},{"id":"2fdd96e1.f05f6a","type":"function","z":"8a6c592f.41e988","name":"result","func":"var low = {}\nlow[\"low\"] = msg.payload.value*1\nmsg.payload = low\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":1520,"wires":[["d8164feb.6bc0b"]]},{"id":"1ade4645.74f53a","type":"function","z":"8a6c592f.41e988","name":"result","func":"var high = {}\nhigh[\"high\"] = msg.payload.value*1\nmsg.payload = high\nmsg.complete = true\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1560,"wires":[["d8164feb.6bc0b"]]},{"id":"bc0bfd12.54626","type":"comment","z":"8a6c592f.41e988","name":"http comunication(single)","info":"","x":170,"y":1400,"wires":[]},{"id":"6a23cd9a.822744","type":"function","z":"8a6c592f.41e988","name":"topic","func":"msg.payload = {\"topic\" : msg.topic}\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1600,"wires":[["d8164feb.6bc0b"]]},{"id":"9faf4b63.946048","type":"inject","z":"8a6c592f.41e988","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":880,"wires":[["45e104d3.9ecbfc"]]},{"id":"7db61b65.cf84d4","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"0.0.0.0","tcpPort":"10502","tcpType":"TPC-RTU-BUFFERED","serialPort":"COM5","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1000,"clientTimeout":500,"reconnectOnTimeout":false,"reconnectTimeout":10,"parallelUnitIdsAllowed":false}]
