Cyber_Tech_Friend Freelancer/flow/2020-08-03/온조기
[{"id":"227d79ce.463466","type":"tab","label":"온조기","disabled":true,"info":""},{"id":"79f858f8.b8a8e8","type":"inject","z":"227d79ce.463466","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["2783366.a4770ca"]]},{"id":"2783366.a4770ca","type":"modbus-getter","z":"227d79ce.463466","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"266","quantity":"1","server":"cc314a72.8d9748","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":280,"y":80,"wires":[["e5042686.327828"],[]]},{"id":"47cd2079.531f2","type":"debug","z":"227d79ce.463466","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1150,"y":540,"wires":[]},{"id":"a03a61cb.7e65d","type":"catch","z":"227d79ce.463466","name":"","scope":null,"uncaught":false,"x":970,"y":540,"wires":[["47cd2079.531f2"]]},{"id":"d54ac065.a6994","type":"modbus-write","z":"227d79ce.463466","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"270","quantity":"1","server":"cc314a72.8d9748","x":280,"y":140,"wires":[[],[]]},{"id":"81c629e9.eb9f68","type":"inject","z":"227d79ce.463466","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["d54ac065.a6994"]]},{"id":"3b0c91db.0e881e","type":"http in","z":"227d79ce.463466","name":"","url":"/MTC","method":"post","upload":false,"swaggerDoc":"","x":130,"y":280,"wires":[["38ce364f.3cfb1a"]]},{"id":"90bdbf83.94d8f","type":"http response","z":"227d79ce.463466","name":"","statusCode":"","headers":{},"x":470,"y":280,"wires":[]},{"id":"bddf642d.1e5fa8","type":"modbus-write","z":"227d79ce.463466","name":"multiple(266~270)","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"MHoldingRegisters","adr":"266","quantity":"5","server":"cc314a72.8d9748","x":810,"y":400,"wires":[[],[]]},{"id":"a22bb91e.f0bc98","type":"modbus-write","z":"227d79ce.463466","name":"multiple(257~259)","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"MHoldingRegisters","adr":"257","quantity":"3","server":"cc314a72.8d9748","x":650,"y":340,"wires":[[],[]]},{"id":"38ce364f.3cfb1a","type":"function","z":"227d79ce.463466","name":"authoroize","func":"if (msg.payload.name !== \"CTFadmin\") {\n  msg.topic = 'error'\n  msg.payload = 'authorize error'\n}\nreturn msg\n","outputs":1,"noerr":0,"x":300,"y":280,"wires":[["90bdbf83.94d8f","2e7e5f6a.08bc2","b233cd49.552aa"]]},{"id":"2e7e5f6a.08bc2","type":"function","z":"227d79ce.463466","name":"257~259","func":"msg.payload = [msg.payload.power, msg.payload.run, msg.payload.alarm]\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":340,"wires":[["a22bb91e.f0bc98"]]},{"id":"b233cd49.552aa","type":"function","z":"227d79ce.463466","name":"266~270","func":"msg.payload = [msg.payload.settemp, msg.payload.alarmtemp_hi, msg.payload.alarmtemp_lo, msg.payload.alarmpres_hi, msg.payload.alarmpres_lo]\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":400,"wires":[["2bd05d70.0f3222"]]},{"id":"2bd05d70.0f3222","type":"delay","z":"227d79ce.463466","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":400,"wires":[["bddf642d.1e5fa8"]]},{"id":"b9068e42.119ea","type":"modbus-write","z":"227d79ce.463466","name":"power state(0101)","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"257","quantity":"1","server":"cc314a72.8d9748","x":430,"y":520,"wires":[["77456d85.5e5814"],[]]},{"id":"d0500285.3ce1d","type":"modbus-write","z":"227d79ce.463466","name":"run state(0102)","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"258","quantity":"1","server":"cc314a72.8d9748","x":420,"y":560,"wires":[["77456d85.5e5814"],[]]},{"id":"2438e49b.b8809c","type":"modbus-write","z":"227d79ce.463466","name":"Alarm Buzzer ON/OFF(0103)","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"259","quantity":"1","server":"cc314a72.8d9748","x":460,"y":600,"wires":[["77456d85.5e5814"],[]]},{"id":"e9680c3a.17b82","type":"modbus-write","z":"227d79ce.463466","name":"설정온도(010A)","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"266","quantity":"1","server":"cc314a72.8d9748","x":420,"y":640,"wires":[["77456d85.5e5814"],[]]},{"id":"23614fdd.40228","type":"modbus-write","z":"227d79ce.463466","name":"Alarm Hi Temperature(010B)","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"267","quantity":"1","server":"cc314a72.8d9748","x":460,"y":680,"wires":[["77456d85.5e5814","ad9e99d1.612838"],[]]},{"id":"fcf2a46d.fa1258","type":"modbus-write","z":"227d79ce.463466","name":"Alarm Low Temperature(010C)","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"268","quantity":"1","server":"cc314a72.8d9748","x":470,"y":720,"wires":[["77456d85.5e5814","ad9e99d1.612838"],[]]},{"id":"e3068279.4705f","type":"modbus-write","z":"227d79ce.463466","name":"Alarm Hi Pressure(010D)","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"269","quantity":"1","server":"cc314a72.8d9748","x":450,"y":760,"wires":[["77456d85.5e5814"],[]]},{"id":"4ea588a3.549d58","type":"modbus-write","z":"227d79ce.463466","name":"Alarm Low Pressure(010E)","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"270","quantity":"1","server":"cc314a72.8d9748","x":460,"y":800,"wires":[["77456d85.5e5814"],[]]},{"id":"bfffcc24.f920a","type":"inject","z":"227d79ce.463466","name":"","topic":"","payload":"10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":680,"wires":[["fb00650d.2f06e8"]]},{"id":"ad035f8.0943aa","type":"debug","z":"227d79ce.463466","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":950,"y":660,"wires":[]},{"id":"77456d85.5e5814","type":"function","z":"227d79ce.463466","name":"","func":"msg.payload = msg.payload.value\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":660,"wires":[["ad035f8.0943aa"]]},{"id":"fb00650d.2f06e8","type":"function","z":"227d79ce.463466","name":"","func":"msg.payload = 10\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":680,"wires":[["23614fdd.40228"]]},{"id":"9088ea3a.0ac068","type":"function","z":"227d79ce.463466","name":"","func":"msg.payload = 5\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":720,"wires":[["fcf2a46d.fa1258"]]},{"id":"b970f5a6.372de8","type":"inject","z":"227d79ce.463466","name":"","topic":"","payload":"10","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":720,"wires":[["9088ea3a.0ac068"]]},{"id":"fc692dab.25e49","type":"inject","z":"227d79ce.463466","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":620,"wires":[["fb00650d.2f06e8","9088ea3a.0ac068"]]},{"id":"ad9e99d1.612838","type":"debug","z":"227d79ce.463466","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":800,"wires":[]},{"id":"d9f60b9.c458bf8","type":"comment","z":"227d79ce.463466","name":"API","info":"","x":110,"y":240,"wires":[]},{"id":"ec070098.214ce","type":"modbus-write","z":"227d79ce.463466","name":"multiple(266~270)","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"MHoldingRegisters","adr":"266","quantity":"5","server":"cc314a72.8d9748","x":910,"y":980,"wires":[["9ffb9283.7ab5a"],[]]},{"id":"894890d2.17b77","type":"inject","z":"227d79ce.463466","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":920,"wires":[["71aaaa2a.586714"]]},{"id":"71aaaa2a.586714","type":"function","z":"227d79ce.463466","name":"data","func":"msg.payload = {\n  \"name\" : \"CTFadmin\",\n  \"power\" : 1,\n  \"run\" : 0,\n  \"alarm\" : 0,\n  \"settemp\" : 700,\n  \"alarmtemp_hi\" : 7,\n  \"alarmtemp_lo\" : 3,\n  \"alarmpres_hi\" : 40,\n  \"alarmpres_lo\" : 0\n}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":920,"wires":[["a4b91440.f60668"]]},{"id":"c5793e7b.71789","type":"modbus-write","z":"227d79ce.463466","name":"multiple(257~259)","showStatusActivities":true,"showErrors":true,"unitid":"1","dataType":"MHoldingRegisters","adr":"257","quantity":"3","server":"cc314a72.8d9748","x":750,"y":920,"wires":[["1b0f9b60.9d9b05"],[]]},{"id":"1b0f9b60.9d9b05","type":"function","z":"227d79ce.463466","name":"","func":"msg.payload = msg.payload.value\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":920,"wires":[[]]},{"id":"9ffb9283.7ab5a","type":"function","z":"227d79ce.463466","name":"","func":"msg.payload = msg.payload.value\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":980,"wires":[[]]},{"id":"a4b91440.f60668","type":"function","z":"227d79ce.463466","name":"authoroize","func":"if (msg.payload.name !== \"CTFadmin\") {\n  msg.topic = 'error'\n  msg.payload = 'authorize error'\n}\nreturn msg\n","outputs":1,"noerr":0,"x":400,"y":920,"wires":[["b2fec61.cfbe638","d39380f8.36caa"]]},{"id":"b2fec61.cfbe638","type":"function","z":"227d79ce.463466","name":"","func":"msg.payload = [msg.payload.power, msg.payload.run, msg.payload.alarm]\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":920,"wires":[["c5793e7b.71789"]]},{"id":"d39380f8.36caa","type":"function","z":"227d79ce.463466","name":"","func":"msg.payload = [msg.payload.settemp, msg.payload.alarmtemp_hi, msg.payload.alarmtemp_lo, msg.payload.alarmpres_hi, msg.payload.alarmpres_lo]\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":980,"wires":[["f5d4145a.da5538"]]},{"id":"f5d4145a.da5538","type":"delay","z":"227d79ce.463466","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":980,"wires":[["ec070098.214ce"]]},{"id":"ecd05195.42dc","type":"comment","z":"227d79ce.463466","name":"api test","info":"","x":90,"y":880,"wires":[]},{"id":"e5042686.327828","type":"debug","z":"227d79ce.463466","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":470,"y":80,"wires":[]},{"id":"1897237a.c677ad","type":"inject","z":"227d79ce.463466","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1940,"wires":[["a013176a.2c9e78"]]},{"id":"a013176a.2c9e78","type":"function","z":"227d79ce.463466","d":true,"name":"Serial Client - planqty","func":"var require = global.get('require');\n\n// create an empty modbus client\nvar ModbusRTU = require(\"modbus-serial\");\nvar client = new ModbusRTU();\n\n// open connection to a serial port\nclient.connectRTUBuffered(\"COM3\", { baudRate: 9600 });\nclient.setID(1);\n\n// read the values of 1 registers starting at address 1003\n// on device number 1. and log the values to the console.\nsetInterval(function() {\n    client.readInputRegisters(0x03EE, 1, function(err, planqty) {\n  console.log(planqty.data)\n    //flow.set('serial_data', data.data) ; //'serial_data'를 전역변수로 설정하여 값을 저장\n});\n}, 1000);\n","outputs":1,"noerr":0,"x":360,"y":1940,"wires":[[]]},{"id":"66220bbd.e6a574","type":"inject","z":"227d79ce.463466","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1980,"wires":[["a595b0c7.a4087"]]},{"id":"a595b0c7.a4087","type":"function","z":"227d79ce.463466","d":true,"name":"read serial property","func":"return {payload : flow.get('serial_data')};","outputs":1,"noerr":0,"x":350,"y":1980,"wires":[["f0e36266.b88e7"]]},{"id":"f0e36266.b88e7","type":"debug","z":"227d79ce.463466","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":530,"y":1980,"wires":[]},{"id":"4aa7aa40.57fc84","type":"inject","z":"227d79ce.463466","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1900,"wires":[["ebcad0a3.30c0c"]]},{"id":"ebcad0a3.30c0c","type":"function","z":"227d79ce.463466","d":true,"name":"Serial Client - nowqty","func":"var require = global.get('require');\n\n// create an empty modbus client\nvar ModbusRTU = require(\"modbus-serial\");\nvar client = new ModbusRTU();\nvar nowqty\n// open connection to a serial port\nclient.connectRTUBuffered(\"COM3\", { baudRate: 9600 });\nclient.setID(1);\n\n// read the values of 1 registers starting at address 1003\n// on device number 1. and log the values to the console.\nsetInterval(function() {\n    client.readInputRegisters( 0x03EB, 1, function(err, data) { \n      var nowqty = data.buffer.readUInt32BE();\n      console.log(nowqty) } );\n}, 1000);\n\n\n/*\nclient.readInputRegisters(0x03EE, 1, function(err, planqty) {\n  console.log(planqty.data)\n    //flow.set('serial_data', data.data) ; //'serial_data'를 전역변수로 설정하여 값을 저장\n});\n*/\n","outputs":1,"noerr":0,"x":360,"y":1900,"wires":[[]]},{"id":"51fb23e1.da18bc","type":"inject","z":"227d79ce.463466","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":2020,"wires":[["6dc1d5b0.7335ec"]]},{"id":"6dc1d5b0.7335ec","type":"function","z":"227d79ce.463466","d":true,"name":"Serial Client - nowqty","func":"var require = global.get('require');\n\n// create an empty modbus client\nvar ModbusRTU = require(\"modbus-serial\");\nvar client = new ModbusRTU();\nvar data = 'not work'\n\nclient.connectRTUBuffered(\"COM3\", { baudRate: 9600 });\nclient.setID(1);\nclient.readInputRegisters(0x03EB, 1, function(error, data) {\n  console.log(error, data)\n})\n","outputs":1,"noerr":0,"x":360,"y":2020,"wires":[["53f032e0.41c4ec"]]},{"id":"53f032e0.41c4ec","type":"debug","z":"227d79ce.463466","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":550,"y":2020,"wires":[]},{"id":"184e404d.e7222","type":"comment","z":"227d79ce.463466","name":"modbus serial with function node","info":"","x":210,"y":1860,"wires":[]},{"id":"f3ed6f70.b283","type":"modbus-write","z":"227d79ce.463466","name":"설정온도 명령","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"266","quantity":"1","server":"cc314a72.8d9748","x":920,"y":1240,"wires":[[],[]]},{"id":"50f78377.58bbbc","type":"link in","z":"227d79ce.463466","name":"","links":[],"x":95,"y":1240,"wires":[["1160b38.bfb314d","bb616399.18cae"]]},{"id":"78f2cbb8.57f984","type":"function","z":"227d79ce.463466","name":"현재온도","func":"msg.payload = msg.payload[0]  + ' ℃'\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1000,"wires":[["4532cf76.1c9a2"]]},{"id":"87709d5f.64126","type":"function","z":"227d79ce.463466","name":"설정온도","func":"msg.payload = msg.payload[2]/10 + ' ℃'\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1100,"wires":[["3cdc8bfe.009534"]]},{"id":"4532cf76.1c9a2","type":"link out","z":"227d79ce.463466","name":"","links":[],"x":1075,"y":1000,"wires":[]},{"id":"3cdc8bfe.009534","type":"link out","z":"227d79ce.463466","name":"","links":[],"x":1075,"y":1100,"wires":[]},{"id":"b9daab80.afcd38","type":"inject","z":"227d79ce.463466","name":"","topic":"","payload":"","payloadType":"date","repeat":"36000","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1000,"wires":[["8ae732e0.8143a"]]},{"id":"dc05e8b2.2b0ed8","type":"comment","z":"227d79ce.463466","name":"일정 주기마다 push(초기설정 10시간)","info":"","x":230,"y":960,"wires":[]},{"id":"88662fdb.ea563","type":"comment","z":"227d79ce.463466","name":"ui에서 설정온도값 전달","info":"","x":180,"y":1200,"wires":[]},{"id":"6e12a275.748b6c","type":"comment","z":"227d79ce.463466","name":"0108(현재온도) ~ 010A(설정온도)까지 multiple read","info":"","x":630,"y":960,"wires":[]},{"id":"d4985866.04b578","type":"comment","z":"227d79ce.463466","name":"현재온도값 반환","info":"","x":920,"y":960,"wires":[]},{"id":"575bdddc.4b9994","type":"comment","z":"227d79ce.463466","name":"설정온도값 반환","info":"","x":920,"y":1060,"wires":[]},{"id":"1a1c3134.a5cebf","type":"comment","z":"227d79ce.463466","name":"현재온도 ui로 연결","info":"","x":1150,"y":960,"wires":[]},{"id":"36ab10f8.a30a6","type":"comment","z":"227d79ce.463466","name":"설정온도 ui로 연결","info":"","x":1150,"y":1060,"wires":[]},{"id":"41a05eda.ed323","type":"comment","z":"227d79ce.463466","name":"010A(설정온도) 설정","info":"","x":930,"y":1200,"wires":[]},{"id":"bb616399.18cae","type":"function","z":"227d79ce.463466","name":"로그 포맷 생성","func":"var dt = new Date()\nvar year = dt.getFullYear()\nvar month = dt.getMonth()\nvar date = dt.getDate()\nvar hour = dt.getHours()\nvar minute = dt.getMinutes()\nvar second = dt.getSeconds()\nvar log = flow.get('log')\nlog = log + year+'/'+month+'/'+date+' '+hour+':'+minute+':'+second+' => '+msg.payload + ' ℃' + '\\n'\nflow.set('log', log) ||\"\"\nmsg.payload = log\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1380,"wires":[["24f198fd.f61b08"]]},{"id":"e11d5037.d7032","type":"comment","z":"227d79ce.463466","name":"현재시간 => 설정온도","info":"","x":540,"y":1340,"wires":[]},{"id":"24f198fd.f61b08","type":"link out","z":"227d79ce.463466","name":"","links":[],"x":675,"y":1380,"wires":[]},{"id":"de10c238.1abf4","type":"comment","z":"227d79ce.463466","name":"포맷 ui로 연결","info":"","x":730,"y":1340,"wires":[]},{"id":"8ae732e0.8143a","type":"modbus-getter","z":"227d79ce.463466","name":"Modbus Serial 읽어오기","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"264","quantity":"3","server":"cc314a72.8d9748","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":550,"y":1000,"wires":[["78f2cbb8.57f984","87709d5f.64126"],[]]},{"id":"5e4c6216.1924cc","type":"function","z":"227d79ce.463466","name":"로그 초기화","func":"flow.set('log', '')\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1500,"wires":[[]]},{"id":"bbf276de.f6a658","type":"link in","z":"227d79ce.463466","name":"","links":[],"x":115,"y":1500,"wires":[["5e4c6216.1924cc"]]},{"id":"ad151291.a9d44","type":"comment","z":"227d79ce.463466","name":"ui에서 로그 초기화 명령","info":"","x":200,"y":1460,"wires":[]},{"id":"37e33042.d0db7","type":"comment","z":"227d79ce.463466","name":"로그 초기화","info":"","x":510,"y":1460,"wires":[]},{"id":"1160b38.bfb314d","type":"function","z":"227d79ce.463466","name":"10배","func":"msg.payload = msg.payload*10\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1240,"wires":[["f3ed6f70.b283"]]},{"id":"821e596a.54d468","type":"comment","z":"227d79ce.463466","name":"값 10배 적용","info":"","x":510,"y":1200,"wires":[]},{"id":"cc314a72.8d9748","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"COM8","serialType":"RTU-BUFFERD","serialBaudrate":"19200","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1000,"clientTimeout":1000,"reconnectOnTimeout":false,"reconnectTimeout":100,"parallelUnitIdsAllowed":true}]
