JSON/flow/flow.json
[{"id":"3b75c39c.60db4c","type":"tab","label":"PLC","disabled":true,"info":""},{"id":"e19cb28a.88a83","type":"tab","label":"Heartrunner","disabled":true,"info":""},{"id":"4786ed6c.e20fb4","type":"tab","label":"main function","disabled":true,"info":""},{"id":"1ed33453.18943c","type":"tab","label":"데이터 분석","disabled":true,"info":""},{"id":"92388d1.b921f7","type":"tab","label":"dry-300","disabled":true,"info":""},{"id":"14635042.d7f02","type":"serial-port","z":"","serialport":"COM4","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"0x02","newline":"10","bin":"false","out":"time","addchar":"","responsetimeout":"10000"},{"id":"e2c0da4f.612018","type":"ui_group","z":"4786ed6c.e20fb4","name":"gauge1","tab":"4547c407.e05b5c","disp":true,"width":"6","collapse":false},{"id":"f5a2801d.77e8f","type":"ui_group","z":"4786ed6c.e20fb4","name":"gaugemain2","tab":"4547c407.e05b5c","disp":true,"width":"6","collapse":false},{"id":"d6b30383.cbf1b","type":"ui_group","z":"4786ed6c.e20fb4","name":"gaugemain3","tab":"4547c407.e05b5c","disp":true,"width":"6","collapse":false},{"id":"8c8d6d5f.ad718","type":"ui_group","z":"4786ed6c.e20fb4","name":"gaugemain4","tab":"4547c407.e05b5c","disp":true,"width":"6","collapse":false},{"id":"fc10fb4c.616058","type":"ui_group","z":"4786ed6c.e20fb4","name":"gaugemain5","tab":"4547c407.e05b5c","disp":true,"width":"6","collapse":false},{"id":"4bd86e77.3fa7b","type":"ui_group","z":"4786ed6c.e20fb4","name":"cavity","tab":"4547c407.e05b5c","disp":true,"width":"6","collapse":false},{"id":"3e52a.bf551ad64","type":"ui_group","z":"4786ed6c.e20fb4","name":"chartmain1","tab":"ee743636.186478","disp":true,"width":"6","collapse":false},{"id":"1bf75567.50701b","type":"ui_group","z":"4786ed6c.e20fb4","name":"chartmain2","tab":"ee743636.186478","disp":true,"width":"6","collapse":false},{"id":"66c0e4fb.01f1ac","type":"ui_group","z":"4786ed6c.e20fb4","name":"chartmain3","tab":"ee743636.186478","disp":true,"width":"6","collapse":false},{"id":"aebbef0.ad7821","type":"ui_group","z":"4786ed6c.e20fb4","name":"chartmain4","tab":"ee743636.186478","disp":true,"width":"6","collapse":false},{"id":"8450f3d1.72eeb","type":"ui_group","z":"4786ed6c.e20fb4","name":"chartmain5","tab":"ee743636.186478","disp":true,"width":"6","collapse":false},{"id":"f8636aed.b85de8","type":"ui_group","z":"4786ed6c.e20fb4","name":"","tab":"ee743636.186478","disp":true,"width":"6","collapse":false},{"id":"b0193398.a50fd","type":"ui_tab","z":"4786ed6c.e20fb4","name":"tab1","icon":"dashboard","disabled":false,"hidden":false},{"id":"4e68f60c.d6add8","type":"ui_tab","z":"4786ed6c.e20fb4","name":"tab2","icon":"dashboard","disabled":false,"hidden":false},{"id":"76d742f9.57701c","type":"inject","z":"1ed33453.18943c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["66c2fe09.86f8e"]]},{"id":"66c2fe09.86f8e","type":"function","z":"1ed33453.18943c","name":"1","func":"msg.payload = String.fromCharCode(0x02, 0x01, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["2b346fa2.12209"]]},{"id":"c832edb0.867fb","type":"function","z":"1ed33453.18943c","name":"2","func":"msg.payload = String.fromCharCode(0x02, 0x02, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["2b346fa2.12209"]]},{"id":"fbd2143.8b0e3e8","type":"function","z":"1ed33453.18943c","name":"3","func":"msg.payload = String.fromCharCode(0x02, 0x03, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["2b346fa2.12209"]]},{"id":"e4cd7a46.a0dd68","type":"function","z":"1ed33453.18943c","name":"4","func":"msg.payload = String.fromCharCode(0x02, 0x04, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["2b346fa2.12209"]]},{"id":"cad55043.80283","type":"function","z":"1ed33453.18943c","name":"5","func":"msg.payload = String.fromCharCode(0x02, 0x05, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["2b346fa2.12209"]]},{"id":"1725d.329d4da3d","type":"function","z":"1ed33453.18943c","name":"6","func":"msg.payload = String.fromCharCode(0x02, 0x06, 0x41, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["2b346fa2.12209"]]},{"id":"2e59c5c9.ecabaa","type":"inject","z":"1ed33453.18943c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["c832edb0.867fb"]]},{"id":"9bc3f96b.9aefb8","type":"inject","z":"1ed33453.18943c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":140,"wires":[["fbd2143.8b0e3e8"]]},{"id":"88df507b.018d1","type":"inject","z":"1ed33453.18943c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["e4cd7a46.a0dd68"]]},{"id":"46d8a2f.dde795c","type":"inject","z":"1ed33453.18943c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["cad55043.80283"]]},{"id":"ffc732e6.eb96a","type":"inject","z":"1ed33453.18943c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["1725d.329d4da3d"]]},{"id":"2b346fa2.12209","type":"serial out","z":"1ed33453.18943c","d":true,"name":"","serial":"14635042.d7f02","x":470,"y":60,"wires":[]},{"id":"1009338a.e4003c","type":"function","z":"1ed33453.18943c","name":"SMART-Q Data Array","func":"var str = msg.payload ;\nvar resultlist = [] ;\n\nfor (i = 0; i<str.length; i++) {\n  hex = str.charCodeAt(i).toString(16);\n  resultlist.push((\"0\"+hex).slice(-2)) ;\n}\nif (resultlist[1] != \"06\") {\n    msg.payload = resultlist ;\n     return msg;\n}","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["88872567.ec4278","d69c2921.5a0b88","708781db.a4be1","dc5ed4f8.15f748","29711c1a.7f26a4","3521c7f0.0b4c28","f9ea3a01.859068","beb6fbab.50c7b8"]]},{"id":"88872567.ec4278","type":"function","z":"1ed33453.18943c","name":"6, 7(현재온도)","func":"var result = parseInt(msg.payload[5].concat(msg.payload[6]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":100,"wires":[["ce837cac.4bc8c"]]},{"id":"ce837cac.4bc8c","type":"debug","z":"1ed33453.18943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":100,"wires":[]},{"id":"d69c2921.5a0b88","type":"function","z":"1ed33453.18943c","name":"8, 9(세팅온도)","func":"var result = parseInt(msg.payload[7].concat(msg.payload[8]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["4b9144a7.d0a8dc"]]},{"id":"4b9144a7.d0a8dc","type":"debug","z":"1ed33453.18943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":160,"wires":[]},{"id":"708781db.a4be1","type":"function","z":"1ed33453.18943c","name":"10, 11(상한값)","func":"var result = parseInt(msg.payload[9].concat(msg.payload[10]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["d7202dd8.96ca3"]]},{"id":"d7202dd8.96ca3","type":"debug","z":"1ed33453.18943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":220,"wires":[]},{"id":"dc5ed4f8.15f748","type":"function","z":"1ed33453.18943c","name":"12, 13(하한값)","func":"var result = parseInt(msg.payload[11].concat(msg.payload[12]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":280,"wires":[["f9fb91e5.10def"]]},{"id":"f9fb91e5.10def","type":"debug","z":"1ed33453.18943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":280,"wires":[]},{"id":"29711c1a.7f26a4","type":"function","z":"1ed33453.18943c","name":"17, 18(현재온도)","func":"var result = parseInt(msg.payload[16].concat(msg.payload[17]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["ebf08c77.08e2f"]]},{"id":"ebf08c77.08e2f","type":"debug","z":"1ed33453.18943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":340,"wires":[]},{"id":"3521c7f0.0b4c28","type":"function","z":"1ed33453.18943c","name":"19, 20(세팅온도)","func":"var result = parseInt(msg.payload[18].concat(msg.payload[19]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":630,"y":400,"wires":[["cc743c25.7dbd7"]]},{"id":"cc743c25.7dbd7","type":"debug","z":"1ed33453.18943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":400,"wires":[]},{"id":"f9ea3a01.859068","type":"function","z":"1ed33453.18943c","name":"21, 22(상한값)","func":"var result = parseInt(msg.payload[20].concat(msg.payload[21]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":460,"wires":[["92db4b4e.f7d3e8"]]},{"id":"92db4b4e.f7d3e8","type":"debug","z":"1ed33453.18943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":460,"wires":[]},{"id":"beb6fbab.50c7b8","type":"function","z":"1ed33453.18943c","name":"23, 24(하한값)","func":"var result = parseInt(msg.payload[22].concat(msg.payload[23]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":520,"wires":[["16506e75.6540a2"]]},{"id":"16506e75.6540a2","type":"debug","z":"1ed33453.18943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":520,"wires":[]},{"id":"435211d8.264ee","type":"function","z":"1ed33453.18943c","name":"4, 5(목표수량)","func":"var result = parseInt(msg.payload[3].concat(msg.payload[4]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":580,"wires":[["f7b3c345.6b792"]]},{"id":"f7b3c345.6b792","type":"debug","z":"1ed33453.18943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":580,"wires":[]},{"id":"badc3dec.64d66","type":"function","z":"1ed33453.18943c","name":"7, 8(생산수량)","func":"var result = parseInt(msg.payload[5].concat(msg.payload[6]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":640,"wires":[["9646450f.9ac528"]]},{"id":"9646450f.9ac528","type":"debug","z":"1ed33453.18943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":640,"wires":[]},{"id":"3e1dd825.d14f78","type":"function","z":"1ed33453.18943c","name":"11, 12(양품수량)","func":"var result = parseInt(msg.payload[10].concat(msg.payload[11]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":700,"wires":[["2c60c309.49b33c"]]},{"id":"2c60c309.49b33c","type":"debug","z":"1ed33453.18943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":700,"wires":[]},{"id":"64d0b0ed.f6753","type":"function","z":"1ed33453.18943c","name":"6(캐비티수량)","func":"var result = parseInt(msg.payload[5], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":760,"wires":[["68e50041.41cac"]]},{"id":"68e50041.41cac","type":"debug","z":"1ed33453.18943c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":760,"wires":[]},{"id":"745cc8f1.5e9fe8","type":"function","z":"1ed33453.18943c","name":"실적 Data Array","func":"var str = msg.payload ;\nvar resultlist = [] ;\n\nfor (i = 0; i<str.length; i++) {\n  hex = str.charCodeAt(i).toString(16);\n  resultlist.push((\"0\"+hex).slice(-2)) ;\n}\nif (resultlist[1] == \"06\") {\n    msg.payload = resultlist ;\n     return msg;\n}","outputs":1,"noerr":0,"x":320,"y":580,"wires":[["435211d8.264ee","64d0b0ed.f6753","badc3dec.64d66","3e1dd825.d14f78"]]},{"id":"65d4a36.c2bc35c","type":"serial in","z":"1ed33453.18943c","d":true,"name":"","serial":"14635042.d7f02","x":110,"y":300,"wires":[["1009338a.e4003c","745cc8f1.5e9fe8"]]},{"id":"8d1173cd.40212","type":"inject","z":"4786ed6c.e20fb4","name":"XFPTRT","topic":"Xenon_Foolproof_Temperature_Request_Timer","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["2002daf7.db1226"]]},{"id":"2002daf7.db1226","type":"function","z":"4786ed6c.e20fb4","name":"msg maker","func":"var status = global.get('status') || 'ok'; //ok is loop, no is http\nif (!!msg.res) {\n  status = 'no' ;\n  global.set('status', status);\n}\nif (status == 'ok') {\n  var count = global.get('count') || 0;\n  count += 1 ;\n  global.set('count',count);\n\n  if((count%6)===0) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x01, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===1) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x02, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===2) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x03, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===3) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x04, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===4) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x05, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===5) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x06, 0x41, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  }\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":250,"y":80,"wires":[["71bcd7d7.84d6a8"]]},{"id":"400499da.eec828","type":"function","z":"4786ed6c.e20fb4","name":"authorize","func":"if (msg.payload.name == 'CTFadmin') { //'CTFadmin'일 경우\n  msg.payload = msg.payload ; //값 통과\n} else {\n  msg.payload = {} ;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":240,"wires":[["65e2ec9e.b6d674"]]},{"id":"ef3d031e.87a34","type":"http in","z":"4786ed6c.e20fb4","name":"http in (/CTF)","url":"/CTF","method":"post","upload":false,"swaggerDoc":"","x":110,"y":240,"wires":[["400499da.eec828","2002daf7.db1226"]]},{"id":"6163e39d.52fa0c","type":"serial request","z":"4786ed6c.e20fb4","name":"","serial":"14635042.d7f02","x":870,"y":240,"wires":[["16855029.7f309"]]},{"id":"bb6de86a.ab31c8","type":"join","z":"4786ed6c.e20fb4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1150,"y":240,"wires":[["d25b105b.0639f"]]},{"id":"445acd3d.64fcf4","type":"complete","z":"4786ed6c.e20fb4","name":"when one request finish","scope":["16855029.7f309"],"uncaught":false,"x":220,"y":280,"wires":[["65e2ec9e.b6d674"]]},{"id":"d25b105b.0639f","type":"function","z":"4786ed6c.e20fb4","name":"data output","func":"var json_res = {} ;\nfor (i = 1; i<msg.payload.length+1; i++) {\n  json_res[\"response\" + String(i)] = msg.payload[i-1] ;\n}\nmsg.payload = json_res ;\nglobal.set('status','ok') ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":1290,"y":240,"wires":[["4da041b7.f60f8"]]},{"id":"4da041b7.f60f8","type":"http response","z":"4786ed6c.e20fb4","name":"http response","statusCode":"","headers":{},"x":1460,"y":240,"wires":[]},{"id":"5b55cb8a.025544","type":"function","z":"4786ed6c.e20fb4","name":"Datastore","func":"var count = global.get('count') || 0;\nvar json_obj = global.get('json_obj')\n\nif((count%6)===0) { //count를 6으로 나눈 나머지가 0일 경우\n  json_obj = {\n    result1 : \"\",\n    result2 : \"\", \n    result3 : \"\",\n    result4 : \"\",\n    result5 : \"\",\n    result6 : \"\"\n  } ;\n  json_obj.result1 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n} else if((count%6)===1) { //count를 6으로 나눈 나머지가 1일 경우\n  json_obj.result2 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n} else if((count%6)===2) { //count를 6으로 나눈 나머지가 2일 경우\n  json_obj.result3 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n} else if((count%6)===3) { //count를 6으로 나눈 나머지가 3일 경우\n  json_obj.result4 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n} else if((count%6)===4) { //count를 6으로 나눈 나머지가 4일 경우\n  json_obj.result5 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n} else if((count%6)===5) { //count를 6으로 나눈 나머지가 5일 경우\n  json_obj.result6 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n  return msg;\n}\n","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["71b96ecf.2825c"]]},{"id":"71b96ecf.2825c","type":"function","z":"4786ed6c.e20fb4","name":"data transfer json","func":"var json_data = {\n  \"zone1\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone2\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone3\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone4\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone5\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone6\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone7\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone8\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone9\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone10\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone11\": {\n    \"planqty\": '',\n    \"prodqty\": '',\n    \"goodqty\": '',\n    \"cavity\": ''\n  }\n} ;\n\n\njson_data.zone1.nowtemp = (msg.payload.result1[5]*256+msg.payload.result1[6])/10 ;\njson_data.zone1.settemp = (msg.payload.result1[7]*256+msg.payload.result1[8])/10 ;\njson_data.zone1.upper = (msg.payload.result1[9]*256+msg.payload.result1[10])/10 ;\njson_data.zone1.lower = (msg.payload.result1[11]*256+msg.payload.result1[12])/10 ;\njson_data.zone2.nowtemp = (msg.payload.result1[16]*256+msg.payload.result1[17])/10 ;\njson_data.zone2.settemp = (msg.payload.result1[18]*256+msg.payload.result1[19])/10 ;\njson_data.zone2.upper = (msg.payload.result1[20]*256+msg.payload.result1[21])/10 ;\njson_data.zone2.lower = (msg.payload.result1[22]*256+msg.payload.result1[23])/10 ;\n\njson_data.zone3.nowtemp = (msg.payload.result2[5]*256+msg.payload.result2[6])/10 ;\njson_data.zone3.settemp = (msg.payload.result2[7]*256+msg.payload.result2[8])/10 ;\njson_data.zone3.upper = (msg.payload.result2[9]*256+msg.payload.result2[10])/10 ;\njson_data.zone3.lower = (msg.payload.result2[11]*256+msg.payload.result2[12])/10 ;\njson_data.zone4.nowtemp = (msg.payload.result2[16]*256+msg.payload.result2[17])/10 ;\njson_data.zone4.settemp = (msg.payload.result2[18]*256+msg.payload.result2[19])/10 ;\njson_data.zone4.upper = (msg.payload.result2[20]*256+msg.payload.result2[21])/10 ;\njson_data.zone4.lower = (msg.payload.result2[22]*256+msg.payload.result2[23])/10 ;\n\njson_data.zone5.nowtemp = (msg.payload.result3[5]*256+msg.payload.result3[6])/10 ;\njson_data.zone5.settemp = (msg.payload.result3[7]*256+msg.payload.result3[8])/10 ;\njson_data.zone5.upper = (msg.payload.result3[9]*256+msg.payload.result3[10])/10 ;\njson_data.zone5.lower = (msg.payload.result3[11]*256+msg.payload.result3[12])/10 ;\njson_data.zone6.nowtemp = (msg.payload.result3[16]*256+msg.payload.result3[17])/10 ;\njson_data.zone6.settemp = (msg.payload.result3[18]*256+msg.payload.result3[19])/10 ;\njson_data.zone6.upper = (msg.payload.result3[20]*256+msg.payload.result3[21])/10 ;\njson_data.zone6.lower = (msg.payload.result3[22]*256+msg.payload.result3[23])/10 ;\n\njson_data.zone7.nowtemp = (msg.payload.result4[5]*256+msg.payload.result4[6])/10 ;\njson_data.zone7.settemp = (msg.payload.result4[7]*256+msg.payload.result4[8])/10 ;\njson_data.zone7.upper = (msg.payload.result4[9]*256+msg.payload.result4[10])/10 ;\njson_data.zone7.lower = (msg.payload.result4[11]*256+msg.payload.result4[12])/10 ;\njson_data.zone8.nowtemp = (msg.payload.result4[16]*256+msg.payload.result4[17])/10 ;\njson_data.zone8.settemp = (msg.payload.result4[18]*256+msg.payload.result4[19])/10 ;\njson_data.zone8.upper = (msg.payload.result4[20]*256+msg.payload.result4[21])/10 ;\njson_data.zone8.lower = (msg.payload.result4[22]*256+msg.payload.result4[23])/10 ;\n\njson_data.zone9.nowtemp = (msg.payload.result5[5]*256+msg.payload.result5[6])/10 ;\njson_data.zone9.settemp = (msg.payload.result5[7]*256+msg.payload.result5[8])/10 ;\njson_data.zone9.upper = (msg.payload.result5[9]*256+msg.payload.result5[10])/10 ;\njson_data.zone9.lower = (msg.payload.result5[11]*256+msg.payload.result5[12])/10 ;\njson_data.zone10.nowtemp = (msg.payload.result5[16]*256+msg.payload.result5[17])/10 ;\njson_data.zone10.settemp = (msg.payload.result5[18]*256+msg.payload.result5[19])/10 ;\njson_data.zone10.upper = (msg.payload.result5[20]*256+msg.payload.result5[21])/10 ;\njson_data.zone10.lower = (msg.payload.result5[22]*256+msg.payload.result5[23])/10 ;\n\njson_data.zone11.planqty = msg.payload.result6[3]*256+msg.payload.result6[4] ;\njson_data.zone11.prodqty = msg.payload.result6[6]*256+msg.payload.result6[7] ;\njson_data.zone11.goodqty = msg.payload.result6[10]*256+msg.payload.result6[11] ;\njson_data.zone11.cavity = msg.payload.result6[5] ;\n\nmsg.payload = json_data ;\nreturn msg ;","outputs":1,"noerr":0,"x":690,"y":80,"wires":[["dc3ae47f.81df98"]]},{"id":"65e2ec9e.b6d674","type":"function","z":"4786ed6c.e20fb4","name":"data split","func":"var command = flow.get('command') || [] ; //전역 변수 'command'를 받아옴 , 'command'란 http 통신을 통해 들어온 명령어의 array\nvar comcount = flow.get('comcount') || 0 ; //전역 변수 'comcount'를 받아옴, 'comcount'란 http 통신을 통해 들어온 명령어의 갯수\n\nif (comcount === 0) { //첫 명령어\n  command = Object.values(msg.payload) ; // 명령어들을 myvalue라는 array로 만듬 (name 값인 'CTFadmin' 포함)\n  command.splice(0,1) ; // 'CTFadmin' 삭제\n  comcount += 1 ;\n  if (comcount == command.length) {\n    msg.complete = true ;\n  } \n  flow.set('comcount',comcount) ;\n  flow.set('command',command) ;\n  msg.payload = command[0] ;\n  return msg ;\n} else if (comcount < command.length) { //triggered by complete node\n  msg.payload = command[comcount] ;\n  comcount += 1 ;\n  flow.set('comcount',comcount) ;\n  if (comcount == command.length) {\n    msg.complete = true ;\n  }\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["75a99ff6.eab7a"]]},{"id":"ff253fd6.fe4a2","type":"delay","z":"4786ed6c.e20fb4","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":240,"wires":[["6163e39d.52fa0c"]]},{"id":"71bcd7d7.84d6a8","type":"serial request","z":"4786ed6c.e20fb4","name":"","serial":"14635042.d7f02","x":390,"y":80,"wires":[["5b55cb8a.025544"]]},{"id":"75a99ff6.eab7a","type":"function","z":"4786ed6c.e20fb4","name":"convert to buffer","func":"var str = '' ;\nfor (var i = 0; (i < msg.payload.length); i += 2) {\n  str += String.fromCharCode('0x' + msg.payload.substr(i, 2)) ;\n}\nmsg.payload = Buffer.from(str,\"ascii\") ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["ff253fd6.fe4a2"]]},{"id":"b98f4d7b.7a7f4","type":"comment","z":"4786ed6c.e20fb4","name":"data refresher","info":"","x":110,"y":40,"wires":[]},{"id":"bb40c6ef.11a3e8","type":"comment","z":"4786ed6c.e20fb4","name":"http comunication","info":"","x":120,"y":200,"wires":[]},{"id":"16855029.7f309","type":"function","z":"4786ed6c.e20fb4","name":"check error","func":"if ( msg.payload!==undefined ) {\n    return msg ;\n} else {\n    msg.payload = \"error\" ;\n    return msg ;\n}","outputs":1,"noerr":0,"x":1010,"y":240,"wires":[["bb6de86a.ab31c8"]]},{"id":"dc3ae47f.81df98","type":"link out","z":"4786ed6c.e20fb4","name":"","links":["1cb14a52.a3d2a6"],"x":840,"y":80,"wires":[]},{"id":"ef3c9461.89d5a8","type":"function","z":"e19cb28a.88a83","name":"msg maker","func":"var status = global.get('status') || 'ok'; //ok is loop, no is http\nif (!!msg.res) {\n  status = 'no' ;\n  global.set('status', status);\n}\nif (status == 'ok') {\n  var routine = global.get('routine') || 0 ;\n  routine += 1 ;\n  if (routine >= 61){\n    routine = 1 ;\n  }\n  global.set('routine',routine) ;\n  msg.payload = Buffer.from(String.fromCharCode(0xC0, 0xF0, '0x'+routine.toString(16), 0xE0, 0x00, 0x00, 0x00, 0xC1),\"ascii\") ;\n  return msg ;\n}","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["baadd05c.58fc9"]]},{"id":"299c6f4a.0a9d","type":"inject","z":"e19cb28a.88a83","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["ef3c9461.89d5a8"]]},{"id":"9b3a7c77.eadb8","type":"inject","z":"e19cb28a.88a83","name":"per sec","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[[]]},{"id":"7adce41b.220a4c","type":"inject","z":"92388d1.b921f7","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["a17eaef1.28e68"]]},{"id":"3f40edd7.5715f2","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":750,"y":280,"wires":[]},{"id":"d198ad28.37739","type":"function","z":"92388d1.b921f7","name":"Data categorization","func":"var json_res =\n{\n  initial: \"\",\n  ID: \"\",\n  setting : \"\",\n  ErrorNo : \"\",\n  nowtemp : \"\",\n  upper : \"\",\n  lower : \"\",\n  starttime : \"\",\n  starthour : \"\",\n  startminute : \"\",\n  endtime : \"\",\n  endhour : \"\",\n  endminute : \"\",\n  dayofweek : \"\",\n  setdate : \"\",\n  sethour : \"\",\n  nowdate : \"\",\n  nowhour : \"\",\n  resource : \"\",\n  settemp : \"\",\n  resourceNo : \"\",\n  alarm : \"\",\n  BCC : \"\",\n  final : \"\"\n} ;\n// output data = 2,1,177,1,0,22,0,5,0,0,0,9,3,1,1,57,127,0,99,0,0,0,7,0,0,98,18,0,0,3\njson_res.initial = msg.payload[0] ; //0x02\njson_res.ID = msg.payload[1] ; //ID\njson_res.setting = msg.payload[2] ; //0xB1\njson_res.ErrorNo = msg.payload[3] ; //Error No.\njson_res.nowtemp = msg.payload[4]*256+msg.payload[5] ; //현재온도\njson_res.upper = msg.payload[6]*256+msg.payload[7] ; //상한값\njson_res.lower = msg.payload[8]*256+msg.payload[9] ; //하한값\njson_res.starttime = msg.payload[10] ; // AM/PM\njson_res.starthour = msg.payload[11] ; //시\njson_res.startminute = msg.payload[12] ; //분\njson_res.endtime = msg.payload[13] ; // AM/PM\njson_res.endhour = msg.payload[14] ; //시\njson_res.endminute = msg.payload[15] ; //분\njson_res.dayofweek = msg.payload[16] ; //작동요일\njson_res.setdate = msg.payload[17]*256+msg.payload[18] ; //일\njson_res.sethour = msg.payload[19] ; //시\njson_res.nowdate = msg.payload[20]*256+msg.payload[21] ; //일\njson_res.nowhour = msg.payload[22] ; //시\njson_res.resource = msg.payload[23] ; //재료\njson_res.settemp = msg.payload[24]*256+msg.payload[25] ; //세팅온도\njson_res.resourceNo = msg.payload[26] ; //원재료명\njson_res.alarm = msg.payload[27] ; //알람\njson_res.BCC = msg.payload[28] ; //BCC\njson_res.final = msg.payload[29] ; //0x03\n\nmsg.payload = json_res ;\nreturn msg ;","outputs":1,"noerr":0,"x":370,"y":520,"wires":[["f615546b.dee138","d921cae9.0a9e98","4d25e0c4.d5adf","5b452825.744978","dd2c1a92.73c938","15a63b0c.496c95","5ca68728.fcdf58","e3da102e.1f8a5","22082ed6.ef6492","ba8e8f88.85a3c","2c959f68.fa4f1","f717fac2.222a48","3cb831cf.37bafe","c0e93d1b.4ecf","87dabaff.449398","fc95cf77.50408","71b68574.c0a0bc","753b0b25.fd6b74","a253413a.c4b93","a04bd3c3.e4f8a","dcbac8a6.e73168","3855cca8.2e1a84","286110e7.74d61","a7ba69ba.4288e8"]]},{"id":"98ba66ed.2be828","type":"serial request","z":"92388d1.b921f7","name":"","serial":"14635042.d7f02","x":550,"y":280,"wires":[["3f40edd7.5715f2","d198ad28.37739"]]},{"id":"5b452825.744978","type":"function","z":"92388d1.b921f7","name":"ErrorNo","func":"msg.payload = msg.payload.ErrorNo ;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":540,"wires":[["e0165a40.dde0f8"]]},{"id":"f615546b.dee138","type":"function","z":"92388d1.b921f7","name":"0x02","func":"msg.payload = msg.payload.initial ;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["6729faca.fba824"]]},{"id":"d921cae9.0a9e98","type":"function","z":"92388d1.b921f7","name":"ID","func":"msg.payload = msg.payload.ID ;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":420,"wires":[["8c5c5696.efdc08"]]},{"id":"4d25e0c4.d5adf","type":"function","z":"92388d1.b921f7","name":"0xb1","func":"msg.payload = msg.payload.setting ;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":480,"wires":[["4c14974f.768878"]]},{"id":"dd2c1a92.73c938","type":"function","z":"92388d1.b921f7","name":"현재온도","func":"msg.payload = msg.payload.nowtemp ;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":600,"wires":[["e746a896.a12098"]]},{"id":"15a63b0c.496c95","type":"function","z":"92388d1.b921f7","name":"상한값","func":"msg.payload = msg.payload.upper ;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":660,"wires":[["d911fdbc.a907f"]]},{"id":"5ca68728.fcdf58","type":"function","z":"92388d1.b921f7","name":"하한값","func":"msg.payload = msg.payload.lower ;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":720,"wires":[["ae594720.6dc0d8"]]},{"id":"22082ed6.ef6492","type":"function","z":"92388d1.b921f7","name":"설정시간","func":"msg.payload = msg.payload.starttime ;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":780,"wires":[["81c34078.b027b"]]},{"id":"ba8e8f88.85a3c","type":"function","z":"92388d1.b921f7","name":"시작시","func":"msg.payload = msg.payload.starthour ;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":360,"wires":[["3c99f95e.741fd6"]]},{"id":"2c959f68.fa4f1","type":"function","z":"92388d1.b921f7","name":"시작분","func":"msg.payload = msg.payload.startminute ;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":420,"wires":[["dbec10cd.92028"]]},{"id":"f717fac2.222a48","type":"function","z":"92388d1.b921f7","name":"종료시간","func":"msg.payload = msg.payload.endtime ;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":480,"wires":[["abba7499.f42288"]]},{"id":"3cb831cf.37bafe","type":"function","z":"92388d1.b921f7","name":"종료시","func":"msg.payload = msg.payload.endhour ;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":540,"wires":[["52e09e46.1aa38"]]},{"id":"71b68574.c0a0bc","type":"function","z":"92388d1.b921f7","name":"종료분","func":"msg.payload = msg.payload.endminute ;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":600,"wires":[["c530b079.0f1b8"]]},{"id":"753b0b25.fd6b74","type":"function","z":"92388d1.b921f7","name":"작동요일","func":"msg.payload = msg.payload.dayofweek  ;\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":660,"wires":[["fc196ed7.95fcf"]]},{"id":"3855cca8.2e1a84","type":"function","z":"92388d1.b921f7","name":"셋팅일","func":"msg.payload = msg.payload.setdate ;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":720,"wires":[["55f5f72e.798768"]]},{"id":"c0e93d1b.4ecf","type":"function","z":"92388d1.b921f7","name":"셋팅시","func":"msg.payload = msg.payload.sethour ;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":780,"wires":[["7c9bd2ac.48ba7c"]]},{"id":"87dabaff.449398","type":"function","z":"92388d1.b921f7","name":"현재일","func":"msg.payload = msg.payload.nowdate ;\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":360,"wires":[["54af15a.5d9e9ec"]]},{"id":"fc95cf77.50408","type":"function","z":"92388d1.b921f7","name":"현재시","func":"msg.payload = msg.payload.nowhour ;\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":420,"wires":[["7c53980b.88ba88"]]},{"id":"a7ba69ba.4288e8","type":"function","z":"92388d1.b921f7","name":"재료","func":"msg.payload = msg.payload.resource ;\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":480,"wires":[["ce2e256e.a0b328"]]},{"id":"286110e7.74d61","type":"function","z":"92388d1.b921f7","name":"설정온도","func":"msg.payload = msg.payload.settemp ;\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":540,"wires":[["d3c0d7f.7696128"]]},{"id":"dcbac8a6.e73168","type":"function","z":"92388d1.b921f7","name":"원재료명","func":"msg.payload = msg.payload.resourceNo ;\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":600,"wires":[["b0cc37d0.5af7a8"]]},{"id":"e3da102e.1f8a5","type":"function","z":"92388d1.b921f7","name":"알람","func":"msg.payload = msg.payload.alarm ;\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":660,"wires":[["1382acca.80d903"]]},{"id":"a253413a.c4b93","type":"function","z":"92388d1.b921f7","name":"BCC","func":"msg.payload = msg.payload.BCC ;\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":720,"wires":[["d56003d8.be23b"]]},{"id":"a04bd3c3.e4f8a","type":"function","z":"92388d1.b921f7","name":"0x03","func":"msg.payload = msg.payload.final ;\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":780,"wires":[["b9b0b8b9.586528"]]},{"id":"6729faca.fba824","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":360,"wires":[]},{"id":"8c5c5696.efdc08","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":420,"wires":[]},{"id":"4c14974f.768878","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":480,"wires":[]},{"id":"e0165a40.dde0f8","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":540,"wires":[]},{"id":"e746a896.a12098","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":600,"wires":[]},{"id":"d911fdbc.a907f","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":660,"wires":[]},{"id":"ae594720.6dc0d8","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":720,"wires":[]},{"id":"1382acca.80d903","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":660,"wires":[]},{"id":"81c34078.b027b","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":780,"wires":[]},{"id":"3c99f95e.741fd6","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":360,"wires":[]},{"id":"dbec10cd.92028","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":420,"wires":[]},{"id":"abba7499.f42288","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":480,"wires":[]},{"id":"52e09e46.1aa38","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":540,"wires":[]},{"id":"c530b079.0f1b8","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":600,"wires":[]},{"id":"fc196ed7.95fcf","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":660,"wires":[]},{"id":"d56003d8.be23b","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":720,"wires":[]},{"id":"7c9bd2ac.48ba7c","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":780,"wires":[]},{"id":"54af15a.5d9e9ec","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":360,"wires":[]},{"id":"7c53980b.88ba88","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":420,"wires":[]},{"id":"ce2e256e.a0b328","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":480,"wires":[]},{"id":"d3c0d7f.7696128","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1430,"y":540,"wires":[]},{"id":"55f5f72e.798768","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":720,"wires":[]},{"id":"b0cc37d0.5af7a8","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1430,"y":600,"wires":[]},{"id":"b9b0b8b9.586528","type":"debug","z":"92388d1.b921f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":780,"wires":[]},{"id":"db03c9a5.2380e8","type":"function","z":"92388d1.b921f7","name":"authorize","func":"if (msg.payload.name == 'CTFadmin') {\n    flow.set('comcount',0) ;\n    flow.set('command',[]) ;\n    return msg;\n} ","outputs":1,"noerr":0,"x":260,"y":40,"wires":[["6dc773a3.3b3bcc"]]},{"id":"c4c8ed4d.32918","type":"http in","z":"92388d1.b921f7","name":"MG","url":"/MG","method":"post","upload":false,"swaggerDoc":"","x":90,"y":40,"wires":[["db03c9a5.2380e8","a17eaef1.28e68"]]},{"id":"7146d6dd.aab4e8","type":"serial request","z":"92388d1.b921f7","name":"","serial":"14635042.d7f02","x":870,"y":40,"wires":[["7af9cb76.aa4f34"]]},{"id":"434879ee.48e8c8","type":"join","z":"92388d1.b921f7","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1150,"y":40,"wires":[["daad7ba0.66f828"]]},{"id":"ffdbd59b.aaeb98","type":"complete","z":"92388d1.b921f7","name":"when one request finish","scope":["7af9cb76.aa4f34"],"uncaught":false,"x":220,"y":80,"wires":[["6dc773a3.3b3bcc"]]},{"id":"6dc773a3.3b3bcc","type":"function","z":"92388d1.b921f7","name":"data split","func":"var command = flow.get('command') || [] ; //전역 변수 'command'를 받아옴 , 'command'란 http 통신을 통해 들어온 명령어의 array\nvar comcount = flow.get('comcount') || 0 ; //전역 변수 'comcount'를 받아옴, 'comcount'란 http 통신을 통해 들어온 명령어의 갯수\n\nif (comcount === 0) { //첫 명령어\n  command = Object.values(msg.payload) ; // 명령어들을 myvalue라는 array로 만듬 (name 값인 'CTFadmin' 포함)\n  command.splice(0,1) ; // 'CTFadmin' 삭제\n  comcount += 1 ;\n  if (comcount == command.length) {\n    msg.complete = true ;\n  } \n  flow.set('comcount',comcount) ;\n  flow.set('command',command) ;\n  msg.payload = command[0] ;\n  return msg ;\n} else if (comcount < command.length) { //triggered by complete node\n  msg.payload = command[comcount] ;\n  comcount += 1 ;\n  flow.set('comcount',comcount) ;\n  if (comcount == command.length) {\n    msg.complete = true ;\n  }\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":400,"y":40,"wires":[["70746758.e7b108"]]},{"id":"b19f6847.556f68","type":"delay","z":"92388d1.b921f7","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":40,"wires":[["7146d6dd.aab4e8"]]},{"id":"70746758.e7b108","type":"function","z":"92388d1.b921f7","name":"convert to buffer","func":"var str = '' ;\nfor (var i = 0; (i < msg.payload.length); i += 2) {\n  str += String.fromCharCode('0x' + msg.payload.substr(i, 2)) ;\n}\nmsg.payload = Buffer.from(str,\"ascii\") ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":560,"y":40,"wires":[["b19f6847.556f68"]]},{"id":"7af9cb76.aa4f34","type":"function","z":"92388d1.b921f7","name":"check error","func":"if ( msg.payload!==undefined ) {\n    return msg ;\n} else {\n    msg.payload = \"error\" ;\n    return msg ;\n}","outputs":1,"noerr":0,"x":1010,"y":40,"wires":[["434879ee.48e8c8"]]},{"id":"daad7ba0.66f828","type":"function","z":"92388d1.b921f7","name":"data output","func":"var json_res = {} ;\nfor (i = 1; i<msg.payload.length+1; i++) {\n  json_res[\"response\" + String(i)] = msg.payload[i-1] ;\n}\nmsg.payload = json_res ;\nglobal.set('status','ok') ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":1290,"y":40,"wires":[["3b68b48.c12084c"]]},{"id":"3b68b48.c12084c","type":"http response","z":"92388d1.b921f7","name":"http response","statusCode":"","headers":{},"x":1460,"y":40,"wires":[]},{"id":"a17eaef1.28e68","type":"function","z":"92388d1.b921f7","name":"Signal input","func":"var status = global.get('status') || 'ok'; //ok is loop, no is http\nif (!!msg.res) {\n  status = 'no' ;\n  global.set('status', status);\n}\nif (status == 'ok') {\n  msg.payload = Buffer.from(String.fromCharCode(0x02, 0x01, 0xB1, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  return msg ;\n}","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["98ba66ed.2be828"]]},{"id":"d6f3d768.9cb538","type":"function","z":"e19cb28a.88a83","name":"data transfer json","func":"var json_res = {} ;\n\njson_res.ID = msg.payload[2] ; //ID\njson_res.nowtemp = msg.payload[4]*256+msg.payload[5] ; //현재온도\njson_res.settemp = msg.payload[6]*256+msg.payload[7] ; //설정온도\njson_res.outcurrent = msg.payload[8] ; //출력전류\njson_res.outpercent = msg.payload[9]*256+msg.payload[10] ; //출력퍼센트\njson_res.TCtype = msg.payload[11] ; //T/C타입\njson_res.softstat = msg.payload[12] ; //소프트상태\njson_res.maxcurrent = msg.payload[13]*256+msg.payload[14] ; //전류상한\njson_res.mincurrent = msg.payload[15] ; //전류하한\njson_res.maxalarm = msg.payload[16] ; //알람상한\njson_res.minalarm = msg.payload[17] ; //알람하한\njson_res.dispNo = msg.payload[18] ; //온도표시\njson_res.alert = msg.payload[19] ; //경보발생 On/Off\njson_res.degree = msg.payload[20] ; //섭씨/화씨\njson_res.standbyout = msg.payload[21] ; //스탠바이 출력\njson_res.standbytime = msg.payload[22] ; //스탠바이 시간\njson_res.standbymin = msg.payload[23] ; //스탠바이 분\njson_res.alertstat = msg.payload[24]*256+msg.payload[25] ; //경보발생 상태\njson_res.zoneTC = msg.payload[26] ; //존 T/C 변경\njson_res.capacity = msg.payload[27]*256+msg.payload[28] ; //히터용량\n\nmsg.payload = json_res ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":570,"y":80,"wires":[[]]},{"id":"baadd05c.58fc9","type":"serial request","z":"e19cb28a.88a83","name":"","serial":"14635042.d7f02","x":410,"y":80,"wires":[["d6f3d768.9cb538"]]},{"id":"4b1d417a.022f1","type":"function","z":"4786ed6c.e20fb4","name":"data transfer json short","func":"var json_data = {} ;\nfor (i = 1; i<12; i++) {\n  json_data[\"zone\" + String(i)] = {} ;\n}\n\njson_data.zone1.nowtemp = (msg.payload.result1[5]*256+msg.payload.result1[6])/10 ;\njson_data.zone1.settemp = (msg.payload.result1[7]*256+msg.payload.result1[8])/10 ;\njson_data.zone1.upper = (msg.payload.result1[9]*256+msg.payload.result1[10])/10 ;\njson_data.zone1.lower = (msg.payload.result1[11]*256+msg.payload.result1[12])/10 ;\njson_data.zone2.nowtemp = (msg.payload.result1[16]*256+msg.payload.result1[17])/10 ;\njson_data.zone2.settemp = (msg.payload.result1[18]*256+msg.payload.result1[19])/10 ;\njson_data.zone2.upper = (msg.payload.result1[20]*256+msg.payload.result1[21])/10 ;\njson_data.zone2.lower = (msg.payload.result1[22]*256+msg.payload.result1[23])/10 ;\n\njson_data.zone3.nowtemp = (msg.payload.result2[5]*256+msg.payload.result2[6])/10 ;\njson_data.zone3.settemp = (msg.payload.result2[7]*256+msg.payload.result2[8])/10 ;\njson_data.zone3.upper = (msg.payload.result2[9]*256+msg.payload.result2[10])/10 ;\njson_data.zone3.lower = (msg.payload.result2[11]*256+msg.payload.result2[12])/10 ;\njson_data.zone4.nowtemp = (msg.payload.result2[16]*256+msg.payload.result2[17])/10 ;\njson_data.zone4.settemp = (msg.payload.result2[18]*256+msg.payload.result2[19])/10 ;\njson_data.zone4.upper = (msg.payload.result2[20]*256+msg.payload.result2[21])/10 ;\njson_data.zone4.lower = (msg.payload.result2[22]*256+msg.payload.result2[23])/10 ;\n\njson_data.zone5.nowtemp = (msg.payload.result3[5]*256+msg.payload.result3[6])/10 ;\njson_data.zone5.settemp = (msg.payload.result3[7]*256+msg.payload.result3[8])/10 ;\njson_data.zone5.upper = (msg.payload.result3[9]*256+msg.payload.result3[10])/10 ;\njson_data.zone5.lower = (msg.payload.result3[11]*256+msg.payload.result3[12])/10 ;\njson_data.zone6.nowtemp = (msg.payload.result3[16]*256+msg.payload.result3[17])/10 ;\njson_data.zone6.settemp = (msg.payload.result3[18]*256+msg.payload.result3[19])/10 ;\njson_data.zone6.upper = (msg.payload.result3[20]*256+msg.payload.result3[21])/10 ;\njson_data.zone6.lower = (msg.payload.result3[22]*256+msg.payload.result3[23])/10 ;\n\njson_data.zone7.nowtemp = (msg.payload.result4[5]*256+msg.payload.result4[6])/10 ;\njson_data.zone7.settemp = (msg.payload.result4[7]*256+msg.payload.result4[8])/10 ;\njson_data.zone7.upper = (msg.payload.result4[9]*256+msg.payload.result4[10])/10 ;\njson_data.zone7.lower = (msg.payload.result4[11]*256+msg.payload.result4[12])/10 ;\njson_data.zone8.nowtemp = (msg.payload.result4[16]*256+msg.payload.result4[17])/10 ;\njson_data.zone8.settemp = (msg.payload.result4[18]*256+msg.payload.result4[19])/10 ;\njson_data.zone8.upper = (msg.payload.result4[20]*256+msg.payload.result4[21])/10 ;\njson_data.zone8.lower = (msg.payload.result4[22]*256+msg.payload.result4[23])/10 ;\n\njson_data.zone9.nowtemp = (msg.payload.result5[5]*256+msg.payload.result5[6])/10 ;\njson_data.zone9.settemp = (msg.payload.result5[7]*256+msg.payload.result5[8])/10 ;\njson_data.zone9.upper = (msg.payload.result5[9]*256+msg.payload.result5[10])/10 ;\njson_data.zone9.lower = (msg.payload.result5[11]*256+msg.payload.result5[12])/10 ;\njson_data.zone10.nowtemp = (msg.payload.result5[16]*256+msg.payload.result5[17])/10 ;\njson_data.zone10.settemp = (msg.payload.result5[18]*256+msg.payload.result5[19])/10 ;\njson_data.zone10.upper = (msg.payload.result5[20]*256+msg.payload.result5[21])/10 ;\njson_data.zone10.lower = (msg.payload.result5[22]*256+msg.payload.result5[23])/10 ;\n\njson_data.zone11.planqty = msg.payload.result6[3]*256+msg.payload.result6[4] ;\njson_data.zone11.prodqty = msg.payload.result6[6]*256+msg.payload.result6[7] ;\njson_data.zone11.goodqty = msg.payload.result6[10]*256+msg.payload.result6[11] ;\njson_data.zone11.cavity = msg.payload.result6[5] ;\n\nmsg.payload = json_data ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":700,"y":120,"wires":[[]]},{"id":"93f2fb41.b50198","type":"inject","z":"3b75c39c.60db4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":80,"wires":[["7aa6b861.855de8"]]},{"id":"7aa6b861.855de8","type":"function","z":"3b75c39c.60db4c","name":"counter msg","func":"msg.payload = Buffer.from(String.fromCharCode(0x05, 0x30, 0x30, 0x52, 0x53, 0x53, 0x30, 0x31, 0x30, 0x36, 0x25, 0x44, 0x44, 0x31, 0x30, 0x30, 0x04),\"ascii\"); //카운터\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":80,"wires":[["6853dceb.020aa4"]]},{"id":"6853dceb.020aa4","type":"serial request","z":"3b75c39c.60db4c","name":"","serial":"14635042.d7f02","x":490,"y":80,"wires":[["cb0154ed.6ee7e8"]]},{"id":"cb0154ed.6ee7e8","type":"function","z":"3b75c39c.60db4c","name":"compare count","func":"var oldcount = flow.get('count') || 0;\nvar counter = parseInt('0x'+String.fromCharCode(msg.payload[14],msg.payload[15],msg.payload[16],msg.payload[17]), 16) ;\nif (counter !== oldcount) {\n  flow.set('count', counter) ;\n  msg.payload = Buffer.from(String.fromCharCode(0x05, 0x30, 0x30, 0x52, 0x53, 0x53, 0x30, 0x31, 0x30, 0x36, 0x25, 0x44, 0x44, 0x30, 0x35, 0x30, 0x04),\"ascii\"); //무게\n  return msg ;\n} else{\n  flow.set('count', counter) ;\n}","outputs":1,"noerr":0,"x":640,"y":80,"wires":[["b3d4c284.e4968"]]},{"id":"b3d4c284.e4968","type":"serial request","z":"3b75c39c.60db4c","name":"","serial":"14635042.d7f02","x":790,"y":80,"wires":[["3747cde0.96b2e2"]]},{"id":"3747cde0.96b2e2","type":"function","z":"3b75c39c.60db4c","name":"weigh output","func":"msg.payload = parseInt('0x'+String.fromCharCode(msg.payload[14],msg.payload[15],msg.payload[16],msg.payload[17]), 16)/10 ;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":80,"wires":[[]]}]
