JSON/flow/split 이용한 command 12개.json
[{"id":"eee661e2.8242a","type":"tab","label":"Main Function","disabled":false,"info":""},{"id":"b24f4506.50b758","type":"serial out","z":"eee661e2.8242a","d":true,"name":"","serial":"bf1d3460.07ad38","x":430,"y":80,"wires":[]},{"id":"4ffcbca2.060eb4","type":"inject","z":"eee661e2.8242a","name":"XFPTRT","topic":"Xenon_Foolproof_Temperature_Request_Timer","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["a6af4548.4555f8"]]},{"id":"ff20f3d4.ce702","type":"serial in","z":"eee661e2.8242a","d":true,"name":"","serial":"bf1d3460.07ad38","x":90,"y":120,"wires":[["ccd81fa3.fe594"]]},{"id":"a6af4548.4555f8","type":"function","z":"eee661e2.8242a","name":"msg maker","func":"var status = global.get('status') || 'ok'; //ok is loop, no is http\nif (!!msg.res) {\n  status = 'no' ;\n  global.set('status', status);\n}\nif (status == 'ok') {\n  var count = global.get('count') || 0;\n  count += 1 ;\n  global.set('count',count);\n\n  if((count%6)===0) {\n    msg.payload = String.fromCharCode(0x02, 0x01, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n  } else if((count%6)===1) {\n    msg.payload = String.fromCharCode(0x02, 0x02, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n  } else if((count%6)===2) {\n    msg.payload = String.fromCharCode(0x02, 0x03, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n  } else if((count%6)===3) {\n    msg.payload = String.fromCharCode(0x02, 0x04, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n  } else if((count%6)===4) {\n    msg.payload = String.fromCharCode(0x02, 0x05, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n  } else if((count%6)===5) {\n    msg.payload = String.fromCharCode(0x02, 0x06, 0x41, 0x00, 0x00, 0x00, 0x00, 0x03);\n  }\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["b24f4506.50b758"]]},{"id":"9e8304b7.a27708","type":"function","z":"eee661e2.8242a","name":"authorize","func":"if (msg.payload.name == 'CTFadmin') {\n  return msg;\n} ","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["1aff2ee.bec1ed1"]]},{"id":"1aff2ee.bec1ed1","type":"function","z":"eee661e2.8242a","name":"data input","func":"//http를 통해 받은 문자열을 parse하는 함수\n//hex는 \"020131000003\"와 같은 형식이기 때문에 매 2글자마다 첫 2글자만을 parse하여 유니코드로 변환\nfunction hex2a(hex) { //hex라는 문자열을 파싱하는 함수 hex2a\n    var str = ''; //빈 str 생성\n    for (var i = 0; (i < hex.length); i += 2) //2씩 늘어나는 i값에 대하여 hex의 길이보다 작을 때 까지 반복\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));// str에 i 부터 2개 연속된 값을 16진법에서 유니코드로 변환하여 추가\n    return str;\n}\n\nvar command1 = hex2a(msg.payload.command1) ; //구분없이 나열된 명령값을 parse하여 원하는 값만을 유니코드로 재배열\nvar command2 = hex2a(msg.payload.command2) ;\nvar command3 = hex2a(msg.payload.command3) ;\nvar command4 = hex2a(msg.payload.command4) ;\nvar command5 = hex2a(msg.payload.command5) ;\nvar command6 = hex2a(msg.payload.command6) ;\nvar command7 = hex2a(msg.payload.command7) ;\nvar command8 = hex2a(msg.payload.command8) ;\nvar command9 = hex2a(msg.payload.command9) ;\nvar command10 = hex2a(msg.payload.command10) ;\nvar command11 = hex2a(msg.payload.command11) ;\nvar command12 = hex2a(msg.payload.command12) ;\nmsg.payload = [command1, command2, command3, command4, command5, command6, command7, command8, command9, command10, command11, command12] ;\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["9a49714e.0d0fd","4da3bdd6.71b8c4","7ad53e55.b3eb3","f5e933d7.6733a"]]},{"id":"3d353144.f5dbde","type":"http in","z":"eee661e2.8242a","name":"http in (/CTF)","url":"/CTF1","method":"post","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["9e8304b7.a27708","a6af4548.4555f8"]]},{"id":"9a49714e.0d0fd","type":"function","z":"eee661e2.8242a","name":"1~3","func":"msg.payload = [ msg.payload[0], msg.payload[1], msg.payload[2] ];\nreturn msg ;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["a9cdaf.862bd25"]]},{"id":"4da3bdd6.71b8c4","type":"function","z":"eee661e2.8242a","name":"4~6","func":"msg.payload = [ msg.payload[3], msg.payload[4], msg.payload[5] ];\nreturn msg ;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["65e45452.7620fc"]]},{"id":"a9cdaf.862bd25","type":"splitter","z":"eee661e2.8242a","name":"","property":"payload","x":710,"y":160,"wires":[["a1475988.749e38"]],"info":"node-red-contrib-splitter"},{"id":"65e45452.7620fc","type":"splitter","z":"eee661e2.8242a","name":"","property":"payload","x":710,"y":200,"wires":[["ba4a9cfe.199c1"]],"info":"node-red-contrib-splitter"},{"id":"a1475988.749e38","type":"serial request","z":"eee661e2.8242a","name":"","serial":"55d3f2ba.c296ac","x":830,"y":160,"wires":[["c69e2dbb.612c9"]]},{"id":"ba4a9cfe.199c1","type":"serial request","z":"eee661e2.8242a","name":"","serial":"55d3f2ba.c296ac","x":830,"y":200,"wires":[["c69e2dbb.612c9"]]},{"id":"c69e2dbb.612c9","type":"join","z":"eee661e2.8242a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"12","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":220,"wires":[["1a52fbae.e45554"]]},{"id":"96dc5bd4.7acd38","type":"complete","z":"eee661e2.8242a","name":"after 1~3","scope":["a1475988.749e38"],"uncaught":false,"x":440,"y":200,"wires":[["4da3bdd6.71b8c4"]]},{"id":"7ad53e55.b3eb3","type":"function","z":"eee661e2.8242a","name":"7~9","func":"msg.payload = [ msg.payload[6], msg.payload[7], msg.payload[8] ];\nreturn msg ;","outputs":1,"noerr":0,"x":590,"y":240,"wires":[["df65e666.fa8608"]]},{"id":"df65e666.fa8608","type":"splitter","z":"eee661e2.8242a","name":"","property":"payload","x":710,"y":240,"wires":[["c12254c9.6499c8"]],"info":"node-red-contrib-splitter"},{"id":"c12254c9.6499c8","type":"serial request","z":"eee661e2.8242a","name":"","serial":"55d3f2ba.c296ac","x":830,"y":240,"wires":[["c69e2dbb.612c9"]]},{"id":"73992246.daf24c","type":"complete","z":"eee661e2.8242a","name":"after 4~6","scope":["ba4a9cfe.199c1"],"uncaught":false,"x":440,"y":240,"wires":[["7ad53e55.b3eb3"]]},{"id":"1a52fbae.e45554","type":"function","z":"eee661e2.8242a","name":"data output","func":"response1 = msg.payload[0] ;\nresponse2 = msg.payload[1] ;\nresponse3 = msg.payload[2] ;\nresponse4 = msg.payload[3] ;\nresponse5 = msg.payload[4] ;\nresponse6 = msg.payload[5] ;\nresponse7 = msg.payload[6] ;\nresponse8 = msg.payload[7] ;\nresponse9 = msg.payload[8] ;\nresponse10 = msg.payload[9] ;\nresponse11 = msg.payload[10] ;\nresponse12 = msg.payload[11] ;\n\nvar json_res = {\n  \"response1\": response1,\n  \"response2\": response2,\n  \"response3\": response3,\n  \"response4\": response4,\n  \"response5\": response5,\n  \"response6\": response6,\n  \"response7\": response7,\n  \"response8\": response8,\n  \"response9\": response9,\n  \"response10\": response10,\n  \"response11\": response11,\n  \"response12\": response12\n}\n\nmsg.payload = json_res ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":1110,"y":220,"wires":[["c8de4cdb.a73ea"]]},{"id":"c8de4cdb.a73ea","type":"template","z":"eee661e2.8242a","name":"page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>response1 : {{payload.response1}}</h1>\n        <h1>response2 : {{payload.response2}}</h1>\n        <h1>response3 : {{payload.response3}}</h1>\n        <h1>response4 : {{payload.response4}}</h1>\n        <h1>response5 : {{payload.response5}}</h1>\n        <h1>response6 : {{payload.response6}}</h1>\n        <h1>response7 : {{payload.response7}}</h1>\n        <h1>response8 : {{payload.response8}}</h1>\n        <h1>response9 : {{payload.response9}}</h1>\n        <h1>response10 : {{payload.response10}}</h1>\n        <h1>response11 : {{payload.response11}}</h1>\n        <h1>response12 : {{payload.response12}}</h1>\n    </body>\n</html>","x":1250,"y":220,"wires":[["6c5ccd7e.33ca24"]]},{"id":"6c5ccd7e.33ca24","type":"http response","z":"eee661e2.8242a","name":"http response","statusCode":"","headers":{},"x":1400,"y":220,"wires":[]},{"id":"63d6e80f.277f18","type":"function","z":"eee661e2.8242a","name":"Datastore","func":"var count = global.get('count') || 0;\nvar json_obj = global.get('json_obj')\n\n\n\nif((count%6)===0) { //count를 6으로 나눈 나머지가 0일 경우\n  json_obj = {result1 : '', result2 : '', result3 : '', result4 : '', result5 : '', result6 : ''} ;\n  json_obj.result1 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===1) { //count를 6으로 나눈 나머지가 1일 경우\n  json_obj.result2 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===2) { //count를 6으로 나눈 나머지가 2일 경우\n  json_obj.result3 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===3) { //count를 6으로 나눈 나머지가 3일 경우\n  json_obj.result4 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===4) { //count를 6으로 나눈 나머지가 4일 경우\n  json_obj.result5 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===5) { //count를 6으로 나눈 나머지가 5일 경우\n  json_obj.result6 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["eca59a78.498ad8"]]},{"id":"eca59a78.498ad8","type":"function","z":"eee661e2.8242a","name":"data transfer json","func":"if (msg.payload.result6 != '') {\n  var json_data = {\n    \"zone1\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone2\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone3\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone4\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone5\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone6\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone7\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone8\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone9\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone10\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone11\": {\n      \"planqty\": '',\n      \"prodqty\": '',\n      \"goodqty\": '',\n      \"cavity\": ''\n    }\n  } ;\n\n\n  json_data.zone1.nowtemp = parseInt(msg.payload.result1[5].concat(msg.payload.result1[6]), 16) ;\n  json_data.zone1.settemp = parseInt(msg.payload.result1[7].concat(msg.payload.result1[8]), 16) ;\n  json_data.zone1.upper = parseInt(msg.payload.result1[9].concat(msg.payload.result1[10]), 16) ;\n  json_data.zone1.lower = parseInt(msg.payload.result1[11].concat(msg.payload.result1[12]), 16) ;\n  json_data.zone2.nowtemp = parseInt(msg.payload.result1[16].concat(msg.payload.result1[17]), 16) ;\n  json_data.zone2.settemp = parseInt(msg.payload.result1[18].concat(msg.payload.result1[19]), 16) ;\n  json_data.zone2.upper = parseInt(msg.payload.result1[20].concat(msg.payload.result1[21]), 16) ;\n  json_data.zone2.lower = parseInt(msg.payload.result1[22].concat(msg.payload.result1[23]), 16) ;\n\n  json_data.zone3.nowtemp = parseInt(msg.payload.result2[5].concat(msg.payload.result2[6]), 16) ;\n  json_data.zone3.settemp = parseInt(msg.payload.result2[7].concat(msg.payload.result2[8]), 16) ;\n  json_data.zone3.upper = parseInt(msg.payload.result2[9].concat(msg.payload.result2[10]), 16) ;\n  json_data.zone3.lower = parseInt(msg.payload.result2[11].concat(msg.payload.result2[12]), 16) ;\n  json_data.zone4.nowtemp = parseInt(msg.payload.result2[16].concat(msg.payload.result2[17]), 16) ;\n  json_data.zone4.settemp = parseInt(msg.payload.result2[18].concat(msg.payload.result2[19]), 16) ;\n  json_data.zone4.upper = parseInt(msg.payload.result2[20].concat(msg.payload.result2[21]), 16) ;\n  json_data.zone4.lower = parseInt(msg.payload.result2[22].concat(msg.payload.result2[23]), 16) ;\n\n  json_data.zone5.nowtemp = parseInt(msg.payload.result3[5].concat(msg.payload.result3[6]), 16) ;\n  json_data.zone5.settemp = parseInt(msg.payload.result3[7].concat(msg.payload.result3[8]), 16) ;\n  json_data.zone5.upper = parseInt(msg.payload.result3[9].concat(msg.payload.result3[10]), 16) ;\n  json_data.zone5.lower = parseInt(msg.payload.result3[11].concat(msg.payload.result3[12]), 16) ;\n  json_data.zone6.nowtemp = parseInt(msg.payload.result3[16].concat(msg.payload.result3[17]), 16) ;\n  json_data.zone6.settemp = parseInt(msg.payload.result3[18].concat(msg.payload.result3[19]), 16) ;\n  json_data.zone6.upper = parseInt(msg.payload.result3[20].concat(msg.payload.result3[21]), 16) ;\n  json_data.zone6.lower = parseInt(msg.payload.result3[22].concat(msg.payload.result3[23]), 16) ;\n\n  json_data.zone7.nowtemp = parseInt(msg.payload.result4[5].concat(msg.payload.result4[6]), 16) ;\n  json_data.zone7.settemp = parseInt(msg.payload.result4[7].concat(msg.payload.result4[8]), 16) ;\n  json_data.zone7.upper = parseInt(msg.payload.result4[9].concat(msg.payload.result4[10]), 16) ;\n  json_data.zone7.lower = parseInt(msg.payload.result4[11].concat(msg.payload.result4[12]), 16) ;\n  json_data.zone8.nowtemp = parseInt(msg.payload.result4[16].concat(msg.payload.result4[17]), 16) ;\n  json_data.zone8.settemp = parseInt(msg.payload.result4[18].concat(msg.payload.result4[19]), 16) ;\n  json_data.zone8.upper = parseInt(msg.payload.result4[20].concat(msg.payload.result4[21]), 16) ;\n  json_data.zone8.lower = parseInt(msg.payload.result4[22].concat(msg.payload.result4[23]), 16) ;\n\n  json_data.zone9.nowtemp = parseInt(msg.payload.result5[5].concat(msg.payload.result5[6]), 16) ;\n  json_data.zone9.settemp = parseInt(msg.payload.result5[7].concat(msg.payload.result5[8]), 16) ;\n  json_data.zone9.upper = parseInt(msg.payload.result5[9].concat(msg.payload.result5[10]), 16) ;\n  json_data.zone9.lower = parseInt(msg.payload.result5[11].concat(msg.payload.result5[12]), 16) ;\n  json_data.zone10.nowtemp = parseInt(msg.payload.result5[16].concat(msg.payload.result5[17]), 16) ;\n  json_data.zone10.settemp = parseInt(msg.payload.result5[18].concat(msg.payload.result5[19]), 16) ;\n  json_data.zone10.upper = parseInt(msg.payload.result5[20].concat(msg.payload.result5[21]), 16) ;\n  json_data.zone10.lower = parseInt(msg.payload.result5[22].concat(msg.payload.result5[23]), 16) ;\n\n  json_data.zone11.planqty = parseInt(msg.payload.result6[3].concat(msg.payload.result6[4]), 16) ;\n  json_data.zone11.prodqty = parseInt(msg.payload.result6[6].concat(msg.payload.result6[7]), 16) ;\n  json_data.zone11.goodqty = parseInt(msg.payload.result6[10].concat(msg.payload.result6[11]), 16) ;\n  json_data.zone11.cavity = parseInt(msg.payload.result6[5], 16) ;\n\n  msg.payload = json_data ;\n  return msg;\n\n}\n","outputs":1,"noerr":0,"x":630,"y":120,"wires":[["26eebac.6c56346"]]},{"id":"7411208.24663e","type":"inject","z":"eee661e2.8242a","name":"count 초기화","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1170,"y":40,"wires":[["d25c82e7.9d895"]]},{"id":"d25c82e7.9d895","type":"function","z":"eee661e2.8242a","name":"0","func":"global.set('count',0) ;\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":40,"wires":[[]]},{"id":"26eebac.6c56346","type":"debug","z":"eee661e2.8242a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":830,"y":120,"wires":[]},{"id":"ccd81fa3.fe594","type":"function","z":"eee661e2.8242a","name":"convert to hex","func":"var str = msg.payload ; //PF에서 나온 결과값을 str로 지정\nvar resultlist = [] ; //빈 array인 strlist 생성\nfor (i = 0; i<str.length; i++) { //str 길이만큼 반복\n  hex = str.charCodeAt(i).toString(16); //str에서 i번째 문자를 16진법으로 변환하여 hex에 지정\n  resultlist.push((\"0\"+hex).slice(-2)) ;//hex값을 strlist에 저장\n}\nmsg.payload = resultlist ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":280,"y":120,"wires":[["63d6e80f.277f18"]]},{"id":"7c0c1325.119f7c","type":"complete","z":"eee661e2.8242a","name":"","scope":["1a52fbae.e45554"],"uncaught":false,"x":110,"y":200,"wires":[["bad32115.a1b89"]]},{"id":"c65056e.eaa5fa8","type":"inject","z":"eee661e2.8242a","name":"status 초기화","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1170,"y":80,"wires":[["ae0b7ec7.0474f"]]},{"id":"ae0b7ec7.0474f","type":"function","z":"eee661e2.8242a","name":"ok","func":"global.set('status','ok') ;\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":80,"wires":[[]]},{"id":"12ebd54b.9b639b","type":"serial request","z":"eee661e2.8242a","name":"","serial":"55d3f2ba.c296ac","x":830,"y":280,"wires":[["c69e2dbb.612c9"]]},{"id":"42559aed.fb79b4","type":"splitter","z":"eee661e2.8242a","name":"","property":"payload","x":710,"y":280,"wires":[["12ebd54b.9b639b"]],"info":"node-red-contrib-splitter"},{"id":"f5e933d7.6733a","type":"function","z":"eee661e2.8242a","name":"10~12","func":"msg.payload = [ msg.payload[9], msg.payload[10], msg.payload[11] ];\nreturn msg ;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["42559aed.fb79b4"]]},{"id":"bf34ebbc.cd2338","type":"complete","z":"eee661e2.8242a","name":"after 7~9","scope":["c12254c9.6499c8"],"uncaught":false,"x":440,"y":280,"wires":[["f5e933d7.6733a"]]},{"id":"bad32115.a1b89","type":"function","z":"eee661e2.8242a","name":"set status ok","func":"var status = 'ok';\nglobal.set('status',status) ;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[[]]},{"id":"bf1d3460.07ad38","type":"serial-port","z":"","serialport":"COM4","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"0x02","newline":"10","bin":"false","out":"time","addchar":"","responsetimeout":"10000"},{"id":"55d3f2ba.c296ac","type":"serial-port","z":"","serialport":"COM3","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"0x02","newline":"10","bin":"false","out":"time","addchar":"","responsetimeout":"10000"}]
