Cyber_Tech_Friend_Freelancer/flow/connect dashboard.json
[{"id":"94faa159.a0489","type":"tab","label":"connect dashboard","disabled":false,"info":""},{"id":"41887395.d2932c","type":"function","z":"94faa159.a0489","name":"msg maker (global count)","func":"var count = global.get('count') || 0;\ncount += 1 ;\nglobal.set('count',count);\n\nif((count%6)===0) {\n  msg.payload = String.fromCharCode(0x02, 0x01, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n} else if((count%6)===1) {\n  msg.payload = String.fromCharCode(0x02, 0x02, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n} else if((count%6)===2) {\n  msg.payload = String.fromCharCode(0x02, 0x03, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n} else if((count%6)===3) {\n  msg.payload = String.fromCharCode(0x02, 0x04, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n} else if((count%6)===4) {\n  msg.payload = String.fromCharCode(0x02, 0x05, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n} else if((count%6)===5) {\n  msg.payload = String.fromCharCode(0x02, 0x06, 0x41, 0x00, 0x00, 0x00, 0x00, 0x03);\n}\nreturn msg ;\n","outputs":1,"noerr":0,"x":630,"y":40,"wires":[["3548ae89.d06fa2"]]},{"id":"304239de.75bb06","type":"function","z":"94faa159.a0489","name":"SMART-Q Data Array","func":"var count = global.get('count') || 0;\nif((count%6)!=5) {\n  var str = msg.payload ;\n  var resultlist = [str.length] ;\n  \n  for (i = 0; i<str.length; i++) {\n    hex = str.charCodeAt(i).toString(16);\n    resultlist.push((\"0\"+hex).slice(-2)) ;\n  }\n  \n  msg.payload = resultlist ;\n  return msg ;\n} else {\n  msg.payload = NaN ;\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":2900,"y":1600,"wires":[["5d589d76.ef5214","70aa37fe.1945c8","25806438.32c32c","9c762aa6.62e2b8","8e67b7c4.848d18","aaffae38.a8f3e","10e8dbc3.983064","c2b28f3f.ed954","ff0f406.248aac","6c7bfe86.857b8","e4665552.f87028","1ac05d16.eeda23","2d036fc0.0c3a3","60b85570.6de21c","eb067559.f82ef8","ecdc72f2.6ecd5","6c629b9f.b82844","de9fa0eb.f7923","69d4b740.731248","2df5294f.ea5736","9e4cd6e7.826908","57fedc6b.181544"]]},{"id":"3548ae89.d06fa2","type":"serial out","z":"94faa159.a0489","d":true,"name":"","serial":"4c9dd35f.55d98c","x":850,"y":40,"wires":[]},{"id":"d33615ac.a5cac8","type":"serial in","z":"94faa159.a0489","d":true,"name":"","serial":"4c9dd35f.55d98c","x":90,"y":300,"wires":[["665c86bd.ebfe88"]]},{"id":"5d589d76.ef5214","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3190,"y":1120,"wires":[]},{"id":"70aa37fe.1945c8","type":"function","z":"94faa159.a0489","name":"2(ID)","func":"var result = parseInt(msg.payload[2], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3170,"y":1300,"wires":[["1cc4cc63.501b44"]]},{"id":"1cc4cc63.501b44","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3390,"y":1300,"wires":[]},{"id":"8e67b7c4.848d18","type":"function","z":"94faa159.a0489","name":"3(0x31)","func":"var result = parseInt(msg.payload[3], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3180,"y":1360,"wires":[["38b1bb54.ec6144"]]},{"id":"38b1bb54.ec6144","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3390,"y":1360,"wires":[]},{"id":"aaffae38.a8f3e","type":"function","z":"94faa159.a0489","name":"4(Disp No.)","func":"var result = parseInt(msg.payload[4], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3190,"y":1420,"wires":[["5b438192.c0786"]]},{"id":"5b438192.c0786","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3390,"y":1420,"wires":[]},{"id":"10e8dbc3.983064","type":"function","z":"94faa159.a0489","name":"5Error No.)","func":"var result = parseInt(msg.payload[5], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3190,"y":1480,"wires":[["9ac6dbea.dce078"]]},{"id":"9ac6dbea.dce078","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3390,"y":1480,"wires":[]},{"id":"c2b28f3f.ed954","type":"function","z":"94faa159.a0489","name":"6, 7(현재온도)","func":"var result = parseInt(msg.payload[6].concat(msg.payload[7]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3200,"y":1540,"wires":[["c3b6ea9.91f1718"]]},{"id":"c3b6ea9.91f1718","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3390,"y":1540,"wires":[]},{"id":"9c762aa6.62e2b8","type":"function","z":"94faa159.a0489","name":"1(0x02)","func":"var result = parseInt(msg.payload[1], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3180,"y":1240,"wires":[["a25a7064.8c9e6"]]},{"id":"a25a7064.8c9e6","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3390,"y":1240,"wires":[]},{"id":"25806438.32c32c","type":"function","z":"94faa159.a0489","name":"length","func":"var result = msg.payload[0] ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3170,"y":1180,"wires":[["28eaab5f.390f24"]]},{"id":"28eaab5f.390f24","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3390,"y":1180,"wires":[]},{"id":"ff0f406.248aac","type":"function","z":"94faa159.a0489","name":"14(옵셋값)","func":"var result = parseInt(msg.payload[14], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3190,"y":1780,"wires":[["2173e60d.b1e1ca"]]},{"id":"2173e60d.b1e1ca","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3390,"y":1780,"wires":[]},{"id":"6c7bfe86.857b8","type":"function","z":"94faa159.a0489","name":"15(옵셋부호)","func":"var result = parseInt(msg.payload[15], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3190,"y":1840,"wires":[["5b9ae0fe.937b6"]]},{"id":"e4665552.f87028","type":"function","z":"94faa159.a0489","name":"27(BCC)","func":"var result = parseInt(msg.payload[27], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3600,"y":1900,"wires":[["75a28dfc.0921a4"]]},{"id":"75a28dfc.0921a4","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3810,"y":1900,"wires":[]},{"id":"1ac05d16.eeda23","type":"function","z":"94faa159.a0489","name":"28(0x03)","func":"var result = parseInt(msg.payload[28], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3600,"y":1960,"wires":[["e85fd50e.9204c8"]]},{"id":"e85fd50e.9204c8","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3810,"y":1960,"wires":[]},{"id":"2d036fc0.0c3a3","type":"function","z":"94faa159.a0489","name":"8, 9(세팅온도)","func":"var result = parseInt(msg.payload[8].concat(msg.payload[9]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3200,"y":1600,"wires":[["fa5c1c7e.072cb"]]},{"id":"fa5c1c7e.072cb","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3390,"y":1600,"wires":[]},{"id":"60b85570.6de21c","type":"function","z":"94faa159.a0489","name":"10, 11(상한값)","func":"var result = parseInt(msg.payload[10].concat(msg.payload[11]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3200,"y":1660,"wires":[["274f997c.2fea66"]]},{"id":"274f997c.2fea66","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3390,"y":1660,"wires":[]},{"id":"eb067559.f82ef8","type":"function","z":"94faa159.a0489","name":"12, 13(하한값)","func":"var result = parseInt(msg.payload[12].concat(msg.payload[13]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3200,"y":1720,"wires":[["ce6b0c04.76a16"]]},{"id":"ce6b0c04.76a16","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3390,"y":1720,"wires":[]},{"id":"5b9ae0fe.937b6","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3390,"y":1840,"wires":[]},{"id":"ecdc72f2.6ecd5","type":"function","z":"94faa159.a0489","name":"16(Error No.)","func":"var result = parseInt(msg.payload[16], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3610,"y":1480,"wires":[["4f2cfdf1.853bc4"]]},{"id":"4f2cfdf1.853bc4","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3810,"y":1480,"wires":[]},{"id":"6c629b9f.b82844","type":"function","z":"94faa159.a0489","name":"17, 18(현재온도)","func":"var result = parseInt(msg.payload[17].concat(msg.payload[18]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3630,"y":1540,"wires":[["81be6146.5e6ec"]]},{"id":"81be6146.5e6ec","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3810,"y":1540,"wires":[]},{"id":"9e4cd6e7.826908","type":"function","z":"94faa159.a0489","name":"25(옵셋값)","func":"var result = parseInt(msg.payload[25], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3610,"y":1780,"wires":[["fc8a31c6.f4894"]]},{"id":"fc8a31c6.f4894","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3810,"y":1780,"wires":[]},{"id":"57fedc6b.181544","type":"function","z":"94faa159.a0489","name":"26(옵셋부호)","func":"var result = parseInt(msg.payload[26], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3610,"y":1840,"wires":[["6c0a43d1.0f427c"]]},{"id":"de9fa0eb.f7923","type":"function","z":"94faa159.a0489","name":"19, 20(세팅온도)","func":"var result = parseInt(msg.payload[19].concat(msg.payload[20]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3630,"y":1600,"wires":[["28a51f44.5fa96"]]},{"id":"28a51f44.5fa96","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3810,"y":1600,"wires":[]},{"id":"69d4b740.731248","type":"function","z":"94faa159.a0489","name":"21, 22(상한값)","func":"var result = parseInt(msg.payload[21].concat(msg.payload[22]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3620,"y":1660,"wires":[["e3adfd45.d53d3"]]},{"id":"e3adfd45.d53d3","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3810,"y":1660,"wires":[]},{"id":"2df5294f.ea5736","type":"function","z":"94faa159.a0489","name":"23, 24(하한값)","func":"var result = parseInt(msg.payload[23].concat(msg.payload[24]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3620,"y":1720,"wires":[["a9c28ecf.8ab93"]]},{"id":"a9c28ecf.8ab93","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3810,"y":1720,"wires":[]},{"id":"6c0a43d1.0f427c","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3810,"y":1840,"wires":[]},{"id":"ca3a4420.1b9da8","type":"function","z":"94faa159.a0489","name":"2(ID)","func":"var result = parseInt(msg.payload[2], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3310,"y":440,"wires":[["fd0968b6.756f38"]]},{"id":"fd0968b6.756f38","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":440,"wires":[]},{"id":"4668e67.a70c418","type":"function","z":"94faa159.a0489","name":"3(0x41)","func":"var result = parseInt(msg.payload[3], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3320,"y":500,"wires":[["70e61713.a234c8"]]},{"id":"70e61713.a234c8","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":500,"wires":[]},{"id":"a52b5fa3.b2cdb","type":"function","z":"94faa159.a0489","name":"4, 5(목표수량)","func":"var result = parseInt(msg.payload[4].concat(msg.payload[5]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3340,"y":560,"wires":[["1c1a2794.91f1a8"]]},{"id":"1c1a2794.91f1a8","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":560,"wires":[]},{"id":"c943b2e1.1be8e","type":"function","z":"94faa159.a0489","name":"1(0x02)","func":"var result = parseInt(msg.payload[1], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3320,"y":380,"wires":[["60fea16b.edbe6"]]},{"id":"60fea16b.edbe6","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":380,"wires":[]},{"id":"dbf0c8e4.bf2e88","type":"function","z":"94faa159.a0489","name":"length","func":"var result = msg.payload[0] ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3310,"y":320,"wires":[["7bacb381.c962bc"]]},{"id":"7bacb381.c962bc","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":320,"wires":[]},{"id":"9da7e07c.59ee7","type":"function","z":"94faa159.a0489","name":"14(B호퍼)","func":"var result = parseInt(msg.payload[14], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3320,"y":920,"wires":[["cc20a654.8aec68"]]},{"id":"cc20a654.8aec68","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":920,"wires":[]},{"id":"69d3c071.3f899","type":"function","z":"94faa159.a0489","name":"15(레벨센서)","func":"var result = parseInt(msg.payload[15], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3330,"y":980,"wires":[["b1429fd5.13524"]]},{"id":"32bcd52f.6d06fa","type":"function","z":"94faa159.a0489","name":"22(BCC)","func":"var result = parseInt(msg.payload[22], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3320,"y":1100,"wires":[["78a3d448.21356c"]]},{"id":"78a3d448.21356c","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":1100,"wires":[]},{"id":"802b0d94.e828c","type":"function","z":"94faa159.a0489","name":"23(0x03)","func":"var result = parseInt(msg.payload[23], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3320,"y":1160,"wires":[["a80ceca1.60853"]]},{"id":"a80ceca1.60853","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":1160,"wires":[]},{"id":"8a6e8b45.088e08","type":"function","z":"94faa159.a0489","name":"7, 8(생산수량)","func":"var result = parseInt(msg.payload[7].concat(msg.payload[8]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3340,"y":680,"wires":[["8535ad4f.2a81c"]]},{"id":"8535ad4f.2a81c","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":680,"wires":[]},{"id":"3c929068.56d13","type":"function","z":"94faa159.a0489","name":"9, 10(불량수량)","func":"var result = parseInt(msg.payload[9].concat(msg.payload[10]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3340,"y":740,"wires":[["dce824ca.c1a248"]]},{"id":"dce824ca.c1a248","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":740,"wires":[]},{"id":"7aed5d35.b445c4","type":"function","z":"94faa159.a0489","name":"11, 12(양품수량)","func":"var result = parseInt(msg.payload[11].concat(msg.payload[12]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3340,"y":800,"wires":[["21cda510.6f522a"]]},{"id":"21cda510.6f522a","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":800,"wires":[]},{"id":"b1429fd5.13524","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":980,"wires":[]},{"id":"ef2548ff.654f48","type":"function","z":"94faa159.a0489","name":"6(캐비티수량)","func":"var result = parseInt(msg.payload[6], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3340,"y":620,"wires":[["a831a9ed.0471e8"]]},{"id":"a831a9ed.0471e8","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":620,"wires":[]},{"id":"32d8f0ec.658bc","type":"function","z":"94faa159.a0489","name":"13(A호퍼)","func":"var result = parseInt(msg.payload[13], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3320,"y":860,"wires":[["814e3637.ccf658"]]},{"id":"814e3637.ccf658","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":860,"wires":[]},{"id":"ba640414.2ad238","type":"function","z":"94faa159.a0489","name":"16 ~ 21(Reserved)","func":"var result = '' ;\nfor (i = 16; i<=21; i++) {\n  result = result.concat(msg.payload[i]) ;\n}\nmsg.payload = result ;\nreturn msg ;","outputs":1,"noerr":0,"x":3350,"y":1040,"wires":[["588f3ae3.96cad4"]]},{"id":"588f3ae3.96cad4","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":1040,"wires":[]},{"id":"3f536f8d.7f244","type":"function","z":"94faa159.a0489","name":"실적 Data Array","func":"var count = global.get('count') || 0;\nif((count%6)==5) {\n  var str = msg.payload ;\n  var resultlist = [str.length] ;\n  \n  for (i = 0; i<str.length; i++) {\n    hex = str.charCodeAt(i).toString(16);\n    resultlist.push((\"0\"+hex).slice(-2)) ;\n  }\n  \n  msg.payload = resultlist ;\n  return msg ;\n} else {\n  msg.payload = NaN ;\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":3020,"y":440,"wires":[["dbf0c8e4.bf2e88","c943b2e1.1be8e","ca3a4420.1b9da8","4668e67.a70c418","a52b5fa3.b2cdb","ef2548ff.654f48","8a6e8b45.088e08","3c929068.56d13","7aed5d35.b445c4","32d8f0ec.658bc","9da7e07c.59ee7","69d3c071.3f899","ba640414.2ad238","32bcd52f.6d06fa","802b0d94.e828c"]]},{"id":"444cbe47.dd64d","type":"function","z":"94faa159.a0489","name":"result1","func":"var str = msg.payload.result1 ;\nmsg.payload = str ;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[[]]},{"id":"9061cdd7.6be13","type":"function","z":"94faa159.a0489","name":"result2","func":"var str = msg.payload.result2 ;\nmsg.payload = str ;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":280,"wires":[[]]},{"id":"1444b181.bf0b8e","type":"function","z":"94faa159.a0489","name":"result3","func":"var str = msg.payload.result3 ;\nmsg.payload = str ;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[[]]},{"id":"58d531ba.874ac","type":"function","z":"94faa159.a0489","name":"result4","func":"var str = msg.payload.result4 ;\nmsg.payload = str ;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[[]]},{"id":"73aebe7f.0a817","type":"function","z":"94faa159.a0489","name":"result5","func":"var str = msg.payload.result5 ;\nmsg.payload = str ;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":460,"wires":[[]]},{"id":"d82343e6.d98fc","type":"function","z":"94faa159.a0489","name":"result6","func":"var str = msg.payload.result6 ;\nmsg.payload = str ;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":520,"wires":[[]]},{"id":"6f52db8a.4f94e4","type":"function","z":"94faa159.a0489","name":"Datastore","func":"var count = global.get('count') || 0;\nvar json_obj = global.get('json_obj')\n\n\n\nif((count%6)===0) { //count를 6으로 나눈 나머지가 0일 경우\n  json_obj = {result1 : '', result2 : '', result3 : '', result4 : '', result5 : '', result6 : ''} ;\n  json_obj.result1 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===1) { //count를 6으로 나눈 나머지가 1일 경우\n  json_obj.result2 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===2) { //count를 6으로 나눈 나머지가 2일 경우\n  json_obj.result3 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===3) { //count를 6으로 나눈 나머지가 3일 경우\n  json_obj.result4 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===4) { //count를 6으로 나눈 나머지가 4일 경우\n  json_obj.result5 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===5) { //count를 6으로 나눈 나머지가 5일 경우\n  json_obj.result6 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":300,"wires":[["444cbe47.dd64d","9061cdd7.6be13","1444b181.bf0b8e","58d531ba.874ac","73aebe7f.0a817","d82343e6.d98fc","dc26b797.466038"]]},{"id":"5e65c1d2.c99e7","type":"inject","z":"94faa159.a0489","name":"count 초기화","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":600,"wires":[["49d23ef2.80a6"]]},{"id":"49d23ef2.80a6","type":"function","z":"94faa159.a0489","name":"","func":"global.set('count',0) ;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":600,"wires":[[]]},{"id":"dc26b797.466038","type":"function","z":"94faa159.a0489","name":"Transfer data","func":"if (msg.payload.result6 != '') {\n  return msg ;\n}","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["c5863c34.f362","779aa9c7.980ec8"]]},{"id":"e4d300e2.6ab39","type":"inject","z":"94faa159.a0489","name":"XFPTRT","topic":"Xenon_Foolproof_Temperature_Request_Timer","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[[]]},{"id":"665c86bd.ebfe88","type":"function","z":"94faa159.a0489","name":"returned data","func":"var str = msg.payload ; //PF에서 나온 결과값을 str로 지정\nvar resultlist = [] ; //빈 array인 strlist 생성\nfor (i = 0; i<str.length; i++) { //str 길이만큼 반복\n  hex = str.charCodeAt(i).toString(16); //str에서 i번째 문자를 16진법으로 변환하여 hex에 지정\n  resultlist.push((\"0\"+hex).slice(-2)) ;//hex값을 strlist에 저장\n}\nmsg.payload = resultlist ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":230,"y":300,"wires":[["6f52db8a.4f94e4"]]},{"id":"25c9794f.67b316","type":"function","z":"94faa159.a0489","name":"6, 7(현재온도)","func":"var result = parseInt(msg.payload[6].concat(msg.payload[7]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2820,"y":1140,"wires":[[]]},{"id":"250d2ece.0cd4c2","type":"function","z":"94faa159.a0489","name":"8, 9(세팅온도)","func":"var result = parseInt(msg.payload[8].concat(msg.payload[9]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2820,"y":1200,"wires":[[]]},{"id":"5bb2c6b7.916fe8","type":"function","z":"94faa159.a0489","name":"10, 11(상한값)","func":"var result = parseInt(msg.payload[10].concat(msg.payload[11]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2820,"y":1260,"wires":[[]]},{"id":"664e2f2.b0069d","type":"function","z":"94faa159.a0489","name":"12, 13(하한값)","func":"var result = parseInt(msg.payload[12].concat(msg.payload[13]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2820,"y":1320,"wires":[[]]},{"id":"d260591f.9a4708","type":"function","z":"94faa159.a0489","name":"17, 18(현재온도)","func":"var result = parseInt(msg.payload[17].concat(msg.payload[18]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2830,"y":1380,"wires":[[]]},{"id":"9442ca80.f7f3e8","type":"function","z":"94faa159.a0489","name":"19, 20(세팅온도)","func":"var result = parseInt(msg.payload[19].concat(msg.payload[20]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2830,"y":1440,"wires":[[]]},{"id":"bbf64bfb.ee0058","type":"function","z":"94faa159.a0489","name":"21, 22(상한값)","func":"var result = parseInt(msg.payload[21].concat(msg.payload[22]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2820,"y":1500,"wires":[[]]},{"id":"21f6dc1d.629e44","type":"function","z":"94faa159.a0489","name":"23, 24(하한값)","func":"var result = parseInt(msg.payload[23].concat(msg.payload[24]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2820,"y":1560,"wires":[[]]},{"id":"2a690b61.a93a04","type":"function","z":"94faa159.a0489","name":"4, 5(목표수량)","func":"var result = parseInt(msg.payload[4].concat(msg.payload[5]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2740,"y":580,"wires":[[]]},{"id":"4bf90681.81af68","type":"function","z":"94faa159.a0489","name":"7, 8(생산수량)","func":"var result = parseInt(msg.payload[7].concat(msg.payload[8]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2740,"y":620,"wires":[[]]},{"id":"103a96e4.451d19","type":"function","z":"94faa159.a0489","name":"11, 12(양품수량)","func":"var result = parseInt(msg.payload[11].concat(msg.payload[12]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2740,"y":660,"wires":[[]]},{"id":"cfe0b128.7638a","type":"function","z":"94faa159.a0489","name":"6(캐비티수량)","func":"var result = parseInt(msg.payload[6], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2740,"y":700,"wires":[[]]},{"id":"c5863c34.f362","type":"function","z":"94faa159.a0489","name":"","func":"var json_data = {\n  \"zone1\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone2\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone3\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone4\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone5\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone6\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone7\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone8\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone9\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone10\": {\n    \"nowtemp\": '',\n    \"settemp\": '',\n    \"upper\": '',\n    \"lower\": ''\n  },\n  \"zone11\": {\n    \"planqty\": '',\n    \"prodqty\": '',\n    \"goodqty\": '',\n    \"cavity\": ''\n  }\n} ;\n\n\njson_data.zone1.nowtemp = parseInt(msg.payload.result1[6].concat(msg.payload.result1[7]), 16) ;\njson_data.zone1.settemp = parseInt(msg.payload.result1[8].concat(msg.payload.result1[9]), 16) ;\njson_data.zone1.upper = parseInt(msg.payload.result1[10].concat(msg.payload.result1[11]), 16) ;\njson_data.zone1.lower = parseInt(msg.payload.result1[12].concat(msg.payload.result1[13]), 16) ;\njson_data.zone2.nowtemp = parseInt(msg.payload.result1[17].concat(msg.payload.result1[18]), 16) ;\njson_data.zone2.settemp = parseInt(msg.payload.result1[19].concat(msg.payload.result1[20]), 16) ;\njson_data.zone2.upper = parseInt(msg.payload.result1[21].concat(msg.payload.result1[22]), 16) ;\njson_data.zone2.lower = parseInt(msg.payload.result1[23].concat(msg.payload.result1[24]), 16) ;\n\njson_data.zone3.nowtemp = parseInt(msg.payload.result2[6].concat(msg.payload.result2[7]), 16) ;\njson_data.zone3.settemp = parseInt(msg.payload.result2[8].concat(msg.payload.result2[9]), 16) ;\njson_data.zone3.upper = parseInt(msg.payload.result2[10].concat(msg.payload.result2[11]), 16) ;\njson_data.zone3.upper = parseInt(msg.payload.result2[12].concat(msg.payload.result2[13]), 16) ;\njson_data.zone4.nowtemp = parseInt(msg.payload.result2[17].concat(msg.payload.result2[18]), 16) ;\njson_data.zone4.settemp = parseInt(msg.payload.result2[19].concat(msg.payload.result2[20]), 16) ;\njson_data.zone4.upper = parseInt(msg.payload.result2[21].concat(msg.payload.result2[22]), 16) ;\njson_data.zone4.lower = parseInt(msg.payload.result2[23].concat(msg.payload.result2[24]), 16) ;\n\njson_data.zone5.nowtemp = parseInt(msg.payload.result3[6].concat(msg.payload.result3[7]), 16) ;\njson_data.zone5.settemp = parseInt(msg.payload.result3[8].concat(msg.payload.result3[9]), 16) ;\njson_data.zone5.upper = parseInt(msg.payload.result3[10].concat(msg.payload.result3[11]), 16) ;\njson_data.zone5.upper = parseInt(msg.payload.result3[12].concat(msg.payload.result3[13]), 16) ;\njson_data.zone6.nowtemp = parseInt(msg.payload.result3[17].concat(msg.payload.result3[18]), 16) ;\njson_data.zone6.settemp = parseInt(msg.payload.result3[19].concat(msg.payload.result3[20]), 16) ;\njson_data.zone6.upper = parseInt(msg.payload.result3[21].concat(msg.payload.result3[22]), 16) ;\njson_data.zone6.lower = parseInt(msg.payload.result3[23].concat(msg.payload.result3[24]), 16) ;\n\njson_data.zone7.nowtemp = parseInt(msg.payload.result4[6].concat(msg.payload.result4[7]), 16) ;\njson_data.zone7.settemp = parseInt(msg.payload.result4[8].concat(msg.payload.result4[9]), 16) ;\njson_data.zone7.upper = parseInt(msg.payload.result4[10].concat(msg.payload.result4[11]), 16) ;\njson_data.zone7.upper = parseInt(msg.payload.result4[12].concat(msg.payload.result4[13]), 16) ;\njson_data.zone8.nowtemp = parseInt(msg.payload.result4[17].concat(msg.payload.result4[18]), 16) ;\njson_data.zone8.settemp = parseInt(msg.payload.result4[19].concat(msg.payload.result4[20]), 16) ;\njson_data.zone8.upper = parseInt(msg.payload.result4[21].concat(msg.payload.result4[22]), 16) ;\njson_data.zone8.lower = parseInt(msg.payload.result4[23].concat(msg.payload.result4[24]), 16) ;\n\njson_data.zone9.nowtemp = parseInt(msg.payload.result5[6].concat(msg.payload.result5[7]), 16) ;\njson_data.zone9.settemp = parseInt(msg.payload.result5[8].concat(msg.payload.result5[9]), 16) ;\njson_data.zone9.upper = parseInt(msg.payload.result5[10].concat(msg.payload.result5[11]), 16) ;\njson_data.zone9.upper = parseInt(msg.payload.result5[12].concat(msg.payload.result5[13]), 16) ;\njson_data.zone10.nowtemp = parseInt(msg.payload.result5[17].concat(msg.payload.result5[18]), 16) ;\njson_data.zone10.settemp = parseInt(msg.payload.result5[19].concat(msg.payload.result5[20]), 16) ;\njson_data.zone10.upper = parseInt(msg.payload.result5[21].concat(msg.payload.result5[22]), 16) ;\njson_data.zone10.lower = parseInt(msg.payload.result5[23].concat(msg.payload.result5[24]), 16) ;\n\njson_data.zone11.planqty = parseInt(msg.payload.result6[4].concat(msg.payload.result6[5]), 16) ;\njson_data.zone11.prodqty = parseInt(msg.payload.result6[7].concat(msg.payload.result6[8]), 16) ;\njson_data.zone11.goodqty = parseInt(msg.payload.result6[11].concat(msg.payload.result6[12]), 16) ;\njson_data.zone11.cavity = parseInt(msg.payload.result6[6], 16) ;\n\nmsg.payload = json_data ;\nreturn msg;\n","outputs":1,"noerr":0,"x":730,"y":100,"wires":[["5a9230a2.8edf4","c5b35a16.03fdc8","90ebf045.f3c97","2a1a8aff.59f9b6"]]},{"id":"5a9230a2.8edf4","type":"debug","z":"94faa159.a0489","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":910,"y":100,"wires":[]},{"id":"145573c9.89589c","type":"link out","z":"94faa159.a0489","name":"","links":["81c08528.b29708"],"x":935,"y":260,"wires":[]},{"id":"eee32e6a.0dd08","type":"link out","z":"94faa159.a0489","name":"","links":["a1bb52eb.5a18d"],"x":935,"y":320,"wires":[]},{"id":"2cd07bad.9fe654","type":"link out","z":"94faa159.a0489","name":"","links":["e2db5985.5e6148"],"x":895,"y":280,"wires":[]},{"id":"b8cd4cf6.4422f","type":"link out","z":"94faa159.a0489","name":"","links":["aee9d729.c5a4a8","4be04b4e.1f8804","378396a7.538aaa"],"x":995,"y":240,"wires":[]},{"id":"779aa9c7.980ec8","type":"function","z":"94faa159.a0489","name":"","func":"msg.payload=parseInt(msg.payload.result1[6].concat(msg.payload.result1[7]), 16) ;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":180,"wires":[["b8cd4cf6.4422f"]]},{"id":"c5b35a16.03fdc8","type":"function","z":"94faa159.a0489","name":"","func":"msg.payload=msg.payload.zone1.upper\nmsg.topic=\"plus\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":220,"wires":[["145573c9.89589c"]]},{"id":"90ebf045.f3c97","type":"function","z":"94faa159.a0489","name":"","func":"msg.payload=msg.payload.zone1.lower\nmsg.topic=\"minus\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":260,"wires":[["eee32e6a.0dd08"]]},{"id":"2a1a8aff.59f9b6","type":"function","z":"94faa159.a0489","name":"","func":"msg.payload=msg.payload.zone1.settemp\nmsg.topic=\"middle\"\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":300,"wires":[["2cd07bad.9fe654"]]},{"id":"4c9dd35f.55d98c","type":"serial-port","z":"","serialport":"COM8","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"0x02","newline":"10","bin":"false","out":"time","addchar":"","responsetimeout":"1000"}]
