Cyber_Tech_Friend_Freelancer/flow/완성.json
[{"id":"9c1a95cb.b0bda8","type":"tab","label":"작업중","disabled":false,"info":""},{"id":"b15dadf2.35bbf","type":"serial out","z":"9c1a95cb.b0bda8","name":"","serial":"55d3f2ba.c296ac","x":430,"y":80,"wires":[]},{"id":"7ebd96a8.76b288","type":"inject","z":"9c1a95cb.b0bda8","name":"XFPTRT","topic":"Xenon_Foolproof_Temperature_Request_Timer","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["9ddec497.e4bce8"]]},{"id":"a8a274ce.dbae68","type":"serial in","z":"9c1a95cb.b0bda8","name":"","serial":"55d3f2ba.c296ac","x":90,"y":120,"wires":[["6932fb9.c662b04"]]},{"id":"9ddec497.e4bce8","type":"function","z":"9c1a95cb.b0bda8","name":"msg maker","func":"var status = global.get('status') || 'ok'; //ok is loop, no is http\nif (!!msg.res) {\n  status = 'no' ;\n  global.set('status', status);\n}\nif (status == 'ok') {\n  var count = global.get('count') || 0;\n  count += 1 ;\n  global.set('count',count);\n\n  if((count%6)===0) {\n    msg.payload = String.fromCharCode(0x02, 0x01, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n  } else if((count%6)===1) {\n    msg.payload = String.fromCharCode(0x02, 0x02, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n  } else if((count%6)===2) {\n    msg.payload = String.fromCharCode(0x02, 0x03, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n  } else if((count%6)===3) {\n    msg.payload = String.fromCharCode(0x02, 0x04, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n  } else if((count%6)===4) {\n    msg.payload = String.fromCharCode(0x02, 0x05, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n  } else if((count%6)===5) {\n    msg.payload = String.fromCharCode(0x02, 0x06, 0x41, 0x00, 0x00, 0x00, 0x00, 0x03);\n  }\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["b15dadf2.35bbf"]]},{"id":"ce91a7f8.0b88b8","type":"function","z":"9c1a95cb.b0bda8","name":"authorize","func":"if (msg.payload.name == 'CTFadmin') {\n    flow.set('comcount',0) ;\n    flow.set('command',[]) ;\n    return msg;\n} ","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["ab5c83f0.7c358"]]},{"id":"52e6306f.03671","type":"http in","z":"9c1a95cb.b0bda8","name":"http in (/CTF)","url":"/CTF","method":"post","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["ce91a7f8.0b88b8","9ddec497.e4bce8"]]},{"id":"db7154ff.1a3d78","type":"serial request","z":"9c1a95cb.b0bda8","name":"","serial":"55d3f2ba.c296ac","x":750,"y":160,"wires":[["481ccfae.6f2f6","29d13bae.566ba4"]]},{"id":"481ccfae.6f2f6","type":"join","z":"9c1a95cb.b0bda8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":890,"y":160,"wires":[["e5d89884.3844c8"]]},{"id":"1008823c.346a4e","type":"complete","z":"9c1a95cb.b0bda8","name":"","scope":["29d13bae.566ba4"],"uncaught":false,"x":270,"y":200,"wires":[["ab5c83f0.7c358"]]},{"id":"e5d89884.3844c8","type":"function","z":"9c1a95cb.b0bda8","name":"data output","func":"var json_res = {} ;\nfor (i = 1; i<msg.payload.length+1; i++) {\n  json_res[\"response\" + String(i)] = msg.payload[i-1] ;\n}\nmsg.payload = json_res ;\nreturn msg ;","outputs":1,"noerr":0,"x":1030,"y":160,"wires":[["ebecaafa.b61b08"]]},{"id":"ebecaafa.b61b08","type":"http response","z":"9c1a95cb.b0bda8","name":"http response","statusCode":"","headers":{},"x":1200,"y":160,"wires":[]},{"id":"a192b872.94b568","type":"function","z":"9c1a95cb.b0bda8","name":"Datastore","func":"var count = global.get('count') || 0;\nvar json_obj = global.get('json_obj')\n\n\n\nif((count%6)===0) { //count를 6으로 나눈 나머지가 0일 경우\n  json_obj = {result1 : '', result2 : '', result3 : '', result4 : '', result5 : '', result6 : ''} ;\n  json_obj.result1 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===1) { //count를 6으로 나눈 나머지가 1일 경우\n  json_obj.result2 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===2) { //count를 6으로 나눈 나머지가 2일 경우\n  json_obj.result3 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===3) { //count를 6으로 나눈 나머지가 3일 경우\n  json_obj.result4 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===4) { //count를 6으로 나눈 나머지가 4일 경우\n  json_obj.result5 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===5) { //count를 6으로 나눈 나머지가 5일 경우\n  json_obj.result6 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":120,"wires":[["1ac560a2.5be90f"]]},{"id":"1ac560a2.5be90f","type":"function","z":"9c1a95cb.b0bda8","name":"data transfer json","func":"if (msg.payload.result6 !== '') {\n  var json_data = {\n    \"zone1\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone2\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone3\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone4\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone5\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone6\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone7\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone8\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone9\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone10\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone11\": {\n      \"planqty\": '',\n      \"prodqty\": '',\n      \"goodqty\": '',\n      \"cavity\": ''\n    }\n  } ;\n\n\n  json_data.zone1.nowtemp = parseInt(msg.payload.result1[5].concat(msg.payload.result1[6]), 16) ;\n  json_data.zone1.settemp = parseInt(msg.payload.result1[7].concat(msg.payload.result1[8]), 16) ;\n  json_data.zone1.upper = parseInt(msg.payload.result1[9].concat(msg.payload.result1[10]), 16) ;\n  json_data.zone1.lower = parseInt(msg.payload.result1[11].concat(msg.payload.result1[12]), 16) ;\n  json_data.zone2.nowtemp = parseInt(msg.payload.result1[16].concat(msg.payload.result1[17]), 16) ;\n  json_data.zone2.settemp = parseInt(msg.payload.result1[18].concat(msg.payload.result1[19]), 16) ;\n  json_data.zone2.upper = parseInt(msg.payload.result1[20].concat(msg.payload.result1[21]), 16) ;\n  json_data.zone2.lower = parseInt(msg.payload.result1[22].concat(msg.payload.result1[23]), 16) ;\n\n  json_data.zone3.nowtemp = parseInt(msg.payload.result2[5].concat(msg.payload.result2[6]), 16) ;\n  json_data.zone3.settemp = parseInt(msg.payload.result2[7].concat(msg.payload.result2[8]), 16) ;\n  json_data.zone3.upper = parseInt(msg.payload.result2[9].concat(msg.payload.result2[10]), 16) ;\n  json_data.zone3.lower = parseInt(msg.payload.result2[11].concat(msg.payload.result2[12]), 16) ;\n  json_data.zone4.nowtemp = parseInt(msg.payload.result2[16].concat(msg.payload.result2[17]), 16) ;\n  json_data.zone4.settemp = parseInt(msg.payload.result2[18].concat(msg.payload.result2[19]), 16) ;\n  json_data.zone4.upper = parseInt(msg.payload.result2[20].concat(msg.payload.result2[21]), 16) ;\n  json_data.zone4.lower = parseInt(msg.payload.result2[22].concat(msg.payload.result2[23]), 16) ;\n\n  json_data.zone5.nowtemp = parseInt(msg.payload.result3[5].concat(msg.payload.result3[6]), 16) ;\n  json_data.zone5.settemp = parseInt(msg.payload.result3[7].concat(msg.payload.result3[8]), 16) ;\n  json_data.zone5.upper = parseInt(msg.payload.result3[9].concat(msg.payload.result3[10]), 16) ;\n  json_data.zone5.lower = parseInt(msg.payload.result3[11].concat(msg.payload.result3[12]), 16) ;\n  json_data.zone6.nowtemp = parseInt(msg.payload.result3[16].concat(msg.payload.result3[17]), 16) ;\n  json_data.zone6.settemp = parseInt(msg.payload.result3[18].concat(msg.payload.result3[19]), 16) ;\n  json_data.zone6.upper = parseInt(msg.payload.result3[20].concat(msg.payload.result3[21]), 16) ;\n  json_data.zone6.lower = parseInt(msg.payload.result3[22].concat(msg.payload.result3[23]), 16) ;\n\n  json_data.zone7.nowtemp = parseInt(msg.payload.result4[5].concat(msg.payload.result4[6]), 16) ;\n  json_data.zone7.settemp = parseInt(msg.payload.result4[7].concat(msg.payload.result4[8]), 16) ;\n  json_data.zone7.upper = parseInt(msg.payload.result4[9].concat(msg.payload.result4[10]), 16) ;\n  json_data.zone7.lower = parseInt(msg.payload.result4[11].concat(msg.payload.result4[12]), 16) ;\n  json_data.zone8.nowtemp = parseInt(msg.payload.result4[16].concat(msg.payload.result4[17]), 16) ;\n  json_data.zone8.settemp = parseInt(msg.payload.result4[18].concat(msg.payload.result4[19]), 16) ;\n  json_data.zone8.upper = parseInt(msg.payload.result4[20].concat(msg.payload.result4[21]), 16) ;\n  json_data.zone8.lower = parseInt(msg.payload.result4[22].concat(msg.payload.result4[23]), 16) ;\n\n  json_data.zone9.nowtemp = parseInt(msg.payload.result5[5].concat(msg.payload.result5[6]), 16) ;\n  json_data.zone9.settemp = parseInt(msg.payload.result5[7].concat(msg.payload.result5[8]), 16) ;\n  json_data.zone9.upper = parseInt(msg.payload.result5[9].concat(msg.payload.result5[10]), 16) ;\n  json_data.zone9.lower = parseInt(msg.payload.result5[11].concat(msg.payload.result5[12]), 16) ;\n  json_data.zone10.nowtemp = parseInt(msg.payload.result5[16].concat(msg.payload.result5[17]), 16) ;\n  json_data.zone10.settemp = parseInt(msg.payload.result5[18].concat(msg.payload.result5[19]), 16) ;\n  json_data.zone10.upper = parseInt(msg.payload.result5[20].concat(msg.payload.result5[21]), 16) ;\n  json_data.zone10.lower = parseInt(msg.payload.result5[22].concat(msg.payload.result5[23]), 16) ;\n\n  json_data.zone11.planqty = parseInt(msg.payload.result6[3].concat(msg.payload.result6[4]), 16) ;\n  json_data.zone11.prodqty = parseInt(msg.payload.result6[6].concat(msg.payload.result6[7]), 16) ;\n  json_data.zone11.goodqty = parseInt(msg.payload.result6[10].concat(msg.payload.result6[11]), 16) ;\n  json_data.zone11.cavity = parseInt(msg.payload.result6[5], 16) ;\n\n  msg.payload = json_data ;\n  return msg;\n\n}\n","outputs":1,"noerr":0,"x":630,"y":120,"wires":[["d4650b.4129faf8"]]},{"id":"5fd585c9.a42bdc","type":"inject","z":"9c1a95cb.b0bda8","name":"count 초기화","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1170,"y":40,"wires":[["da215d3e.89143"]]},{"id":"da215d3e.89143","type":"function","z":"9c1a95cb.b0bda8","name":"0","func":"global.set('count',0) ;\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":40,"wires":[[]]},{"id":"d4650b.4129faf8","type":"debug","z":"9c1a95cb.b0bda8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":830,"y":120,"wires":[]},{"id":"6932fb9.c662b04","type":"function","z":"9c1a95cb.b0bda8","name":"convert to hex","func":"var str = msg.payload ; //PF에서 나온 결과값을 str로 지정\nvar resultlist = [] ; //빈 array인 strlist 생성\nfor (i = 0; i<str.length; i++) { //str 길이만큼 반복\n  hex = str.charCodeAt(i).toString(16); //str에서 i번째 문자를 16진법으로 변환하여 hex에 지정\n  resultlist.push((\"0\"+hex).slice(-2)) ;//hex값을 strlist에 저장\n}\nmsg.payload = resultlist ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":280,"y":120,"wires":[["a192b872.94b568"]]},{"id":"c7e50d83.7ca31","type":"complete","z":"9c1a95cb.b0bda8","name":"","scope":["ebecaafa.b61b08"],"uncaught":false,"x":110,"y":240,"wires":[["92736f22.1caac"]]},{"id":"193af1b1.802b0e","type":"inject","z":"9c1a95cb.b0bda8","name":"status 초기화","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1170,"y":80,"wires":[["aaa4ece9.4c5a7"]]},{"id":"aaa4ece9.4c5a7","type":"function","z":"9c1a95cb.b0bda8","name":"ok","func":"global.set('status','ok') ;\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":80,"wires":[[]]},{"id":"92736f22.1caac","type":"function","z":"9c1a95cb.b0bda8","name":"set status ok","func":"var status = 'ok';\nglobal.set('status',status) ;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[[]]},{"id":"ab5c83f0.7c358","type":"function","z":"9c1a95cb.b0bda8","name":"data input","func":"function hex2a(hex) { //hex라는 문자열을 파싱하는 함수 hex2a\n    var str = ''; //빈 str 생성\n    for (var i = 0; (i < hex.length); i += 2) //2씩 늘어나는 i값에 대하여 hex의 길이보다 작을 때 까지 반복\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));// str에 i 부터 2개 연속된 값을 16진법에서 유니코드로 변환하여 추가\n    return str;\n}\nvar command = flow.get('command') || [] ;\nvar comcount = flow.get('comcount') || 0 ;\n\nif (comcount === 0) { //first injection\n  var myvalue = Object.values(msg.payload) ;\n  myvalue.splice(0,1) ;\n  for (i=0; i<myvalue.length; i++) {\n    command.push(hex2a(myvalue[i])) ;\n  }\n  comcount += 1 ;\n  flow.set('comcount',comcount) ;\n  flow.set('command',command) ;\n  msg.payload = command[0] ;\n  return msg ;\n} else if (comcount < command.length) { //triggered by complete node\n  msg.payload = command[comcount] ;\n  comcount += 1 ;\n  flow.set('comcount',comcount) ;\n  if (comcount == command.length) {\n    msg.complete = true ;\n  }\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["33b1553a.0316ba"]]},{"id":"33b1553a.0316ba","type":"delay","z":"9c1a95cb.b0bda8","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":610,"y":160,"wires":[["db7154ff.1a3d78"]]},{"id":"29d13bae.566ba4","type":"debug","z":"9c1a95cb.b0bda8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":200,"wires":[]},{"id":"55d3f2ba.c296ac","type":"serial-port","z":"","serialport":"COM3","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"0x02","newline":"10","bin":"false","out":"time","addchar":"","responsetimeout":"10000"}]
