Cyber_Tech_Friend_Freelancer/flow/완성-3.json
[{"id":"eee661e2.8242a","type":"tab","label":"Main Function","disabled":true,"info":""},{"id":"c0d57e26.ebbcf","type":"inject","z":"eee661e2.8242a","name":"XFPTRT","topic":"Xenon_Foolproof_Temperature_Request_Timer","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["479022e2.2c498c"]]},{"id":"479022e2.2c498c","type":"function","z":"eee661e2.8242a","name":"msg maker","func":"var status = global.get('status') || 'ok'; //ok is loop, no is http\nif (!!msg.res) {\n  status = 'no' ;\n  global.set('status', status);\n}\nif (status == 'ok') {\n  var count = global.get('count') || 0;\n  count += 1 ;\n  global.set('count',count);\n\n  if((count%6)===0) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x01, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===1) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x02, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===2) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x03, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===3) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x04, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===4) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x05, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===5) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x06, 0x41, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  }\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["ec67583d.887198"]]},{"id":"293b9b33.8558e4","type":"function","z":"eee661e2.8242a","name":"authorize","func":"if (msg.payload.name == 'CTFadmin') {\n    flow.set('comcount',0) ;\n    flow.set('command',[]) ;\n    return msg;\n} ","outputs":1,"noerr":0,"x":260,"y":120,"wires":[["612e7f9e.69f74"]]},{"id":"5c7df866.506fd8","type":"http in","z":"eee661e2.8242a","name":"http in (/CTF)","url":"/CTF","method":"post","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["293b9b33.8558e4","479022e2.2c498c"]]},{"id":"3271e28f.3d04ee","type":"serial request","z":"eee661e2.8242a","name":"","serial":"55d3f2ba.c296ac","x":890,"y":120,"wires":[["5d3f6467.09539c","36947ffb.a1cc2"]]},{"id":"5d3f6467.09539c","type":"join","z":"eee661e2.8242a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1010,"y":120,"wires":[["91caaa7e.df7618"]]},{"id":"f3cd3939.134388","type":"complete","z":"eee661e2.8242a","name":"when one request finish","scope":["36947ffb.a1cc2"],"uncaught":false,"x":220,"y":160,"wires":[["612e7f9e.69f74"]]},{"id":"91caaa7e.df7618","type":"function","z":"eee661e2.8242a","name":"data output","func":"var json_res = {} ;\nfor (i = 1; i<msg.payload.length+1; i++) {\n  json_res[\"response\" + String(i)] = msg.payload[i-1] ;\n}\nmsg.payload = json_res ;\nglobal.set('status','ok') ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":1150,"y":120,"wires":[["edcc871f.a87e68"]]},{"id":"edcc871f.a87e68","type":"http response","z":"eee661e2.8242a","name":"http response","statusCode":"","headers":{},"x":1320,"y":120,"wires":[]},{"id":"1f53d0c7.8c335f","type":"function","z":"eee661e2.8242a","name":"Datastore","func":"var count = global.get('count') || 0;\nvar json_obj = global.get('json_obj')\n\nif((count%6)===0) { //count를 6으로 나눈 나머지가 0일 경우\n  json_obj = {\n    result1 : \"\",\n    result2 : \"\", \n    result3 : \"\",\n    result4 : \"\",\n    result5 : \"\",\n    result6 : \"\"\n  } ;\n  json_obj.result1 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===1) { //count를 6으로 나눈 나머지가 1일 경우\n  json_obj.result2 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===2) { //count를 6으로 나눈 나머지가 2일 경우\n  json_obj.result3 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===3) { //count를 6으로 나눈 나머지가 3일 경우\n  json_obj.result4 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===4) { //count를 6으로 나눈 나머지가 4일 경우\n  json_obj.result5 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===5) { //count를 6으로 나눈 나머지가 5일 경우\n  json_obj.result6 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":80,"wires":[["e9be5636.5932e8"]]},{"id":"e9be5636.5932e8","type":"function","z":"eee661e2.8242a","name":"data transfer json","func":"if (msg.payload.result6 != '') {\n  var json_data = {\n    \"zone1\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone2\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone3\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone4\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone5\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone6\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone7\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone8\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone9\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone10\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone11\": {\n      \"planqty\": '',\n      \"prodqty\": '',\n      \"goodqty\": '',\n      \"cavity\": ''\n    }\n  } ;\n\n\n  json_data.zone1.nowtemp = (msg.payload.result1[5]*256+msg.payload.result1[6])/10 ;\n  json_data.zone1.settemp = (msg.payload.result1[7]*256+msg.payload.result1[8])/10 ;\n  json_data.zone1.upper = (msg.payload.result1[9]*256+msg.payload.result1[10])/10 ;\n  json_data.zone1.lower = (msg.payload.result1[11]*256+msg.payload.result1[12])/10 ;\n  json_data.zone2.nowtemp = (msg.payload.result1[16]*256+msg.payload.result1[17])/10 ;\n  json_data.zone2.settemp = (msg.payload.result1[18]*256+msg.payload.result1[19])/10 ;\n  json_data.zone2.upper = (msg.payload.result1[20]*256+msg.payload.result1[21])/10 ;\n  json_data.zone2.lower = (msg.payload.result1[22]*256+msg.payload.result1[23])/10 ;\n\n  json_data.zone3.nowtemp = (msg.payload.result2[5]*256+msg.payload.result2[6])/10 ;\n  json_data.zone3.settemp = (msg.payload.result2[7]*256+msg.payload.result2[8])/10 ;\n  json_data.zone3.upper = (msg.payload.result2[9]*256+msg.payload.result2[10])/10 ;\n  json_data.zone3.lower = (msg.payload.result2[11]*256+msg.payload.result2[12])/10 ;\n  json_data.zone4.nowtemp = (msg.payload.result2[16]*256+msg.payload.result2[17])/10 ;\n  json_data.zone4.settemp = (msg.payload.result2[18]*256+msg.payload.result2[19])/10 ;\n  json_data.zone4.upper = (msg.payload.result2[20]*256+msg.payload.result2[21])/10 ;\n  json_data.zone4.lower = (msg.payload.result2[22]*256+msg.payload.result2[23])/10 ;\n\n  json_data.zone5.nowtemp = (msg.payload.result3[5]*256+msg.payload.result3[6])/10 ;\n  json_data.zone5.settemp = (msg.payload.result3[7]*256+msg.payload.result3[8])/10 ;\n  json_data.zone5.upper = (msg.payload.result3[9]*256+msg.payload.result3[10])/10 ;\n  json_data.zone5.lower = (msg.payload.result3[11]*256+msg.payload.result3[12])/10 ;\n  json_data.zone6.nowtemp = (msg.payload.result3[16]*256+msg.payload.result3[17])/10 ;\n  json_data.zone6.settemp = (msg.payload.result3[18]*256+msg.payload.result3[19])/10 ;\n  json_data.zone6.upper = (msg.payload.result3[20]*256+msg.payload.result3[21])/10 ;\n  json_data.zone6.lower = (msg.payload.result3[22]*256+msg.payload.result3[23])/10 ;\n\n  json_data.zone7.nowtemp = (msg.payload.result4[5]*256+msg.payload.result4[6])/10 ;\n  json_data.zone7.settemp = (msg.payload.result4[7]*256+msg.payload.result4[8])/10 ;\n  json_data.zone7.upper = (msg.payload.result4[9]*256+msg.payload.result4[10])/10 ;\n  json_data.zone7.lower = (msg.payload.result4[11]*256+msg.payload.result4[12])/10 ;\n  json_data.zone8.nowtemp = (msg.payload.result4[16]*256+msg.payload.result4[17])/10 ;\n  json_data.zone8.settemp = (msg.payload.result4[18]*256+msg.payload.result4[19])/10 ;\n  json_data.zone8.upper = (msg.payload.result4[20]*256+msg.payload.result4[21])/10 ;\n  json_data.zone8.lower = (msg.payload.result4[22]*256+msg.payload.result4[23])/10 ;\n\n  json_data.zone9.nowtemp = (msg.payload.result5[5]*256+msg.payload.result5[6])/10 ;\n  json_data.zone9.settemp = (msg.payload.result5[7]*256+msg.payload.result5[8])/10 ;\n  json_data.zone9.upper = (msg.payload.result5[9]*256+msg.payload.result5[10])/10 ;\n  json_data.zone9.lower = (msg.payload.result5[11]*256+msg.payload.result5[12])/10 ;\n  json_data.zone10.nowtemp = (msg.payload.result5[16]*256+msg.payload.result5[17])/10 ;\n  json_data.zone10.settemp = (msg.payload.result5[18]*256+msg.payload.result5[19])/10 ;\n  json_data.zone10.upper = (msg.payload.result5[20]*256+msg.payload.result5[21])/10 ;\n  json_data.zone10.lower = (msg.payload.result5[22]*256+msg.payload.result5[23])/10 ;\n\n  json_data.zone11.planqty = msg.payload.result6[3]*256+msg.payload.result6[4] ;\n  json_data.zone11.prodqty = msg.payload.result6[6]*256+msg.payload.result6[7] ;\n  json_data.zone11.goodqty = msg.payload.result6[10]*256+msg.payload.result6[11] ;\n  json_data.zone11.cavity = msg.payload.result6[5] ;\n\n  msg.payload = json_data ;\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":770,"y":80,"wires":[["1ccdc82e.b5b198"]]},{"id":"58b7235d.5d069c","type":"inject","z":"eee661e2.8242a","name":"count 초기화","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":240,"wires":[["5293d1c7.e364a"]]},{"id":"5293d1c7.e364a","type":"function","z":"eee661e2.8242a","name":"0","func":"global.set('count',0) ;\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":240,"wires":[[]]},{"id":"1ccdc82e.b5b198","type":"debug","z":"eee661e2.8242a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":950,"y":80,"wires":[]},{"id":"4556ce0a.92aa4","type":"inject","z":"eee661e2.8242a","name":"status 초기화","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":280,"wires":[["965abf44.1b058"]]},{"id":"965abf44.1b058","type":"function","z":"eee661e2.8242a","name":"ok","func":"global.set('status','ok') ;\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":280,"wires":[[]]},{"id":"612e7f9e.69f74","type":"function","z":"eee661e2.8242a","name":"data split","func":"var command = flow.get('command') || [] ; //전역 변수 'command'를 받아옴 , 'command'란 http 통신을 통해 들어온 명령어의 array\nvar comcount = flow.get('comcount') || 0 ; //전역 변수 'comcount'를 받아옴, 'comcount'란 http 통신을 통해 들어온 명령어의 갯수\n\nif (comcount === 0) { //첫 명령어\n  command = Object.values(msg.payload) ; // 명령어들을 myvalue라는 array로 만듬 (name 값인 'CTFadmin' 포함)\n  command.splice(0,1) ; // 'CTFadmin' 삭제\n  comcount += 1 ;\n  if (comcount == command.length) {\n    msg.complete = true ;\n  } \n  flow.set('comcount',comcount) ;\n  flow.set('command',command) ;\n  msg.payload = command[0] ;\n  return msg ;\n} else if (comcount < command.length) { //triggered by complete node\n  msg.payload = command[comcount] ;\n  comcount += 1 ;\n  flow.set('comcount',comcount) ;\n  if (comcount == command.length) {\n    msg.complete = true ;\n  }\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["b04787b8.768ae8"]]},{"id":"aad655e5.273178","type":"delay","z":"eee661e2.8242a","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":120,"wires":[["3271e28f.3d04ee"]]},{"id":"36947ffb.a1cc2","type":"debug","z":"eee661e2.8242a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":160,"wires":[]},{"id":"ec67583d.887198","type":"serial request","z":"eee661e2.8242a","name":"","serial":"55d3f2ba.c296ac","x":410,"y":80,"wires":[["1f53d0c7.8c335f"]]},{"id":"84bbbec0.c5218","type":"inject","z":"eee661e2.8242a","name":"comcount 초기화","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1140,"y":320,"wires":[["be1b1726.33fb78"]]},{"id":"be1b1726.33fb78","type":"function","z":"eee661e2.8242a","name":"0","func":"global.set('comcount',0) ;\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":320,"wires":[[]]},{"id":"b04787b8.768ae8","type":"function","z":"eee661e2.8242a","name":"convert to buffer","func":"var str = '' ;\nfor (var i = 0; (i < msg.payload.length); i += 2) {\n  str += String.fromCharCode('0x' + msg.payload.substr(i, 2)) ;\n}\nmsg.payload = Buffer.from(str,\"ascii\") ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":580,"y":120,"wires":[["aad655e5.273178"]]},{"id":"55d3f2ba.c296ac","type":"serial-port","z":"","serialport":"COM3","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"10","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"}]
