Cyber_Tech_Friend_Freelancer/flow/2020-08-03/mqtt fp.txt
[{"id":"6ec802c3.e1ba9c","type":"tab","label":"mqtt device","disabled":true,"info":""},{"id":"66392c26.8bb974","type":"mqtt in","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id1/zone1","qos":"2","datatype":"auto","broker":"202de2fb.22b3de","x":190,"y":380,"wires":[["36dde4a.3247e1c"]]},{"id":"5076fe13.61da5","type":"mqtt in","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id1/zone2","qos":"2","datatype":"auto","broker":"202de2fb.22b3de","x":190,"y":420,"wires":[["b518bd30.73096"]]},{"id":"3f730613.3a2b1a","type":"mqtt in","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id2/zone3","qos":"2","datatype":"auto","broker":"202de2fb.22b3de","x":190,"y":460,"wires":[["71307f8f.195f4"]]},{"id":"aa3cab8a.c88b58","type":"mqtt in","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id2/zone4","qos":"2","datatype":"auto","broker":"202de2fb.22b3de","x":190,"y":500,"wires":[["cbca541f.fa1ef8"]]},{"id":"810d5c29.04691","type":"mqtt in","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id3/zone5","qos":"2","datatype":"auto","broker":"202de2fb.22b3de","x":190,"y":540,"wires":[["e00df8b6.0f0ed8"]]},{"id":"311f9035.2bc4c","type":"mqtt in","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id3/zone6","qos":"2","datatype":"auto","broker":"202de2fb.22b3de","x":190,"y":580,"wires":[["47cce0d8.cee67"]]},{"id":"cc7e97a.9e32d68","type":"mqtt in","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id4/zone7","qos":"2","datatype":"auto","broker":"202de2fb.22b3de","x":190,"y":620,"wires":[["10b9a76f.e12039"]]},{"id":"828dbd7f.2927f","type":"mqtt in","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id4/zone8","qos":"2","datatype":"auto","broker":"202de2fb.22b3de","x":190,"y":660,"wires":[["879bafa2.55eba"]]},{"id":"5391c3bc.640fac","type":"mqtt in","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id5/zone9","qos":"2","datatype":"auto","broker":"202de2fb.22b3de","x":190,"y":700,"wires":[["8255462b.6bb558"]]},{"id":"99673b2.0b355c8","type":"mqtt in","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id5/zone10","qos":"2","datatype":"auto","broker":"202de2fb.22b3de","x":190,"y":740,"wires":[["25351642.d2c4fa"]]},{"id":"2e6164e9.9f925c","type":"mqtt in","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id6/zone11","qos":"2","datatype":"auto","broker":"202de2fb.22b3de","x":190,"y":780,"wires":[["4ceeadd7.d06d54"]]},{"id":"36dde4a.3247e1c","type":"debug","z":"6ec802c3.e1ba9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":380,"wires":[]},{"id":"b518bd30.73096","type":"debug","z":"6ec802c3.e1ba9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":420,"wires":[]},{"id":"71307f8f.195f4","type":"debug","z":"6ec802c3.e1ba9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":460,"wires":[]},{"id":"cbca541f.fa1ef8","type":"debug","z":"6ec802c3.e1ba9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":500,"wires":[]},{"id":"e00df8b6.0f0ed8","type":"debug","z":"6ec802c3.e1ba9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":540,"wires":[]},{"id":"47cce0d8.cee67","type":"debug","z":"6ec802c3.e1ba9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":580,"wires":[]},{"id":"10b9a76f.e12039","type":"debug","z":"6ec802c3.e1ba9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":620,"wires":[]},{"id":"879bafa2.55eba","type":"debug","z":"6ec802c3.e1ba9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":660,"wires":[]},{"id":"8255462b.6bb558","type":"debug","z":"6ec802c3.e1ba9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":700,"wires":[]},{"id":"25351642.d2c4fa","type":"debug","z":"6ec802c3.e1ba9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":740,"wires":[]},{"id":"4ceeadd7.d06d54","type":"debug","z":"6ec802c3.e1ba9c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":780,"wires":[]},{"id":"864053df.b1791","type":"mosca in","z":"6ec802c3.e1ba9c","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":160,"y":300,"wires":[[]]},{"id":"cffb3c0a.db53a","type":"function","z":"6ec802c3.e1ba9c","name":"data organization","func":"//data organization\n\nvar id = msg.payload[1]\nvar data1 = {}\nvar data2 = {}\nvar topic1 = \"/fp/id\"+String(id)+\"/zone\"+String(id*2-1)\nvar topic2 = \"/fp/id\"+String(id)+\"/zone\"+String(id*2)\n\n//토픽은 /fp/id1/zone1/\n\nif(id !== 6) {\n  data1[\"nowtemp\"] = (msg.payload[5]*256+msg.payload[6])/10\n  data1[\"settemp\"] = (msg.payload[7]*256+msg.payload[8])/10\n  data1[\"upper\"] = (msg.payload[9]*256+msg.payload[10])/10\n  data1[\"lower\"] = (msg.payload[11]*256+msg.payload[12])/10\n  \n  data2[\"nowtemp\"] = (msg.payload[16]*256+msg.payload[17])/10\n  data2[\"settemp\"] = (msg.payload[18]*256+msg.payload[19])/10\n  data2[\"upper\"] = (msg.payload[20]*256+msg.payload[21])/10\n  data2[\"lower\"] = (msg.payload[22]*256+msg.payload[23])/10\n} else {\n  data1[\"planqty\"] = msg.payload[3]*256+msg.payload[4]\n  data1[\"prodqty\"] = msg.payload[6]*256+msg.payload[7]\n  data1[\"goodqty\"] = msg.payload[10]*256+msg.payload[11]\n  data1[\"cavity\"] = msg.payload[5]\n}\n\nvar data = {}\ndata[\"id\"] = id\ndata[String(topic1)] = data1\ndata[String(topic2)] = data2\nmsg.payload = data\nreturn msg","outputs":1,"noerr":0,"x":590,"y":140,"wires":[["9022abae.3cd258"]]},{"id":"8db81988.78ed48","type":"inject","z":"6ec802c3.e1ba9c","name":"","topic":"","payload":"[2,1,49,1,1,1,4,1,1,0,60,0,60,0,0,1,1,4,1,1,0,76,0,60,1,1,0,3]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":60,"wires":[["ba2f4bb0.17cfe8"]]},{"id":"71189267.46152c","type":"inject","z":"6ec802c3.e1ba9c","name":"","topic":"","payload":"[2,2,49,1,1,1,11,1,1,0,30,0,30,2,1,1,1,11,1,1,0,30,0,30,1,1,0,3]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":100,"wires":[["e503908c.a7454"]]},{"id":"70b94b18.c2c424","type":"inject","z":"6ec802c3.e1ba9c","name":"","topic":"","payload":"[2,3,49,1,1,1,19,1,1,0,30,0,30,0,0,1,1,19,1,1,0,30,0,30,0,0,0,3]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["64717e77.56a47"]]},{"id":"ffeb41d.aedc9c","type":"inject","z":"6ec802c3.e1ba9c","name":"","topic":"","payload":"[2,4,49,1,1,1,16,1,1,0,30,0,30,0,0,1,1,16,1,1,0,30,0,30,0,0,0,3]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["4c73f99a.b63b88"]]},{"id":"74ad2c18.612c34","type":"inject","z":"6ec802c3.e1ba9c","name":"","topic":"","payload":"[2,5,49,1,1,1,24,1,1,0,50,0,50,0,0,1,1,24,1,1,0,50,0,50,2,1,0,3]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":220,"wires":[["e12ce4d.12a8918"]]},{"id":"196aaec5.58ac41","type":"inject","z":"6ec802c3.e1ba9c","name":"","topic":"","payload":"[2,6,65,7,208,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,146,3]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":260,"wires":[["48d63c16.257fa4"]]},{"id":"ba2f4bb0.17cfe8","type":"function","z":"6ec802c3.e1ba9c","name":"","func":"msg.payload = [2,1,49,1,1,1,4,1,1,0,60,0,60,0,0,1,1,4,1,1,0,76,0,60,1,1,0,3]\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":60,"wires":[["cffb3c0a.db53a"]]},{"id":"e503908c.a7454","type":"function","z":"6ec802c3.e1ba9c","name":"","func":"msg.payload = [2,2,49,1,1,1,11,1,1,0,30,0,30,2,1,1,1,11,1,1,0,30,0,30,1,1,0,3]\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["cffb3c0a.db53a"]]},{"id":"64717e77.56a47","type":"function","z":"6ec802c3.e1ba9c","name":"","func":"msg.payload = [2,3,49,1,1,1,19,1,1,0,30,0,30,0,0,1,1,19,1,1,0,30,0,30,0,0,0,3]\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["cffb3c0a.db53a"]]},{"id":"4c73f99a.b63b88","type":"function","z":"6ec802c3.e1ba9c","name":"","func":"msg.payload = [2,4,49,1,1,1,16,1,1,0,30,0,30,0,0,1,1,16,1,1,0,30,0,30,0,0,0,3]\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["cffb3c0a.db53a"]]},{"id":"e12ce4d.12a8918","type":"function","z":"6ec802c3.e1ba9c","name":"","func":"msg.payload = [2,5,49,1,1,1,24,1,1,0,50,0,50,0,0,1,1,24,1,1,0,50,0,50,2,1,0,3]\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["cffb3c0a.db53a"]]},{"id":"48d63c16.257fa4","type":"function","z":"6ec802c3.e1ba9c","name":"","func":"msg.payload = [2,6,65,7,208,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,146,3]\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["cffb3c0a.db53a"]]},{"id":"9022abae.3cd258","type":"switch","z":"6ec802c3.e1ba9c","name":"","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":770,"y":140,"wires":[["7b8b0a3.0ae70f4","5c8289a3.5685a8"],["28d16ce8.ae1f64","e4045720.cb0c28"],["fbd5026e.04eaf","b5dd0b54.62c688"],["86e38592.507378","97088348.d51fe"],["c6a663ae.d434e","a62dbdef.60be1"],["30ae0aa1.1b1b06"]]},{"id":"3ce49d4d.b240d2","type":"mqtt out","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id1/zone1","qos":"","retain":"","broker":"202de2fb.22b3de","x":1130,"y":40,"wires":[]},{"id":"38f6462a.c4955a","type":"mqtt out","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id1/zone2","qos":"","retain":"","broker":"202de2fb.22b3de","x":1130,"y":80,"wires":[]},{"id":"288f9e5a.11fed2","type":"mqtt out","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id2/zone3","qos":"","retain":"","broker":"202de2fb.22b3de","x":1130,"y":120,"wires":[]},{"id":"634530e7.167c1","type":"mqtt out","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id2/zone4","qos":"","retain":"","broker":"202de2fb.22b3de","x":1130,"y":160,"wires":[]},{"id":"73b49a71.886dc4","type":"mqtt out","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id3/zone5","qos":"","retain":"","broker":"202de2fb.22b3de","x":1130,"y":200,"wires":[]},{"id":"50ba7c81.470264","type":"mqtt out","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id3/zone6","qos":"","retain":"","broker":"202de2fb.22b3de","x":1130,"y":240,"wires":[]},{"id":"9d4c2f7c.e864","type":"mqtt out","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id4/zone7","qos":"","retain":"","broker":"202de2fb.22b3de","x":1130,"y":280,"wires":[]},{"id":"97abfeb5.23eb2","type":"mqtt out","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id4/zone8","qos":"","retain":"","broker":"202de2fb.22b3de","x":1130,"y":320,"wires":[]},{"id":"accc5f4c.aa4b4","type":"mqtt out","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id5/zone9","qos":"","retain":"","broker":"202de2fb.22b3de","x":1130,"y":360,"wires":[]},{"id":"dcd22fcf.8e552","type":"mqtt out","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id5/zone10","qos":"","retain":"","broker":"202de2fb.22b3de","x":1140,"y":400,"wires":[]},{"id":"8a63fbf5.710298","type":"mqtt out","z":"6ec802c3.e1ba9c","name":"","topic":"/fp/id6/zone11","qos":"","retain":"","broker":"202de2fb.22b3de","x":1140,"y":440,"wires":[]},{"id":"7b8b0a3.0ae70f4","type":"function","z":"6ec802c3.e1ba9c","name":"zone1","func":"msg.topic = Object.keys(msg.payload)[1]\nmsg.payload = Object.values(msg.payload)[1]\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":40,"wires":[["3ce49d4d.b240d2"]]},{"id":"5c8289a3.5685a8","type":"function","z":"6ec802c3.e1ba9c","name":"zone2","func":"msg.topic = Object.keys(msg.payload)[2]\nmsg.payload = Object.values(msg.payload)[2]\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":80,"wires":[["38f6462a.c4955a"]]},{"id":"28d16ce8.ae1f64","type":"function","z":"6ec802c3.e1ba9c","name":"zone3","func":"msg.topic = Object.keys(msg.payload)[1]\nmsg.payload = Object.values(msg.payload)[1]\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":120,"wires":[["288f9e5a.11fed2"]]},{"id":"e4045720.cb0c28","type":"function","z":"6ec802c3.e1ba9c","name":"zone4","func":"msg.topic = Object.keys(msg.payload)[2]\nmsg.payload = Object.values(msg.payload)[2]\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":160,"wires":[["634530e7.167c1"]]},{"id":"fbd5026e.04eaf","type":"function","z":"6ec802c3.e1ba9c","name":"zone5","func":"msg.topic = Object.keys(msg.payload)[1]\nmsg.payload = Object.values(msg.payload)[1]\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":200,"wires":[["73b49a71.886dc4"]]},{"id":"b5dd0b54.62c688","type":"function","z":"6ec802c3.e1ba9c","name":"zone6","func":"msg.topic = Object.keys(msg.payload)[2]\nmsg.payload = Object.values(msg.payload)[2]\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":240,"wires":[["50ba7c81.470264"]]},{"id":"86e38592.507378","type":"function","z":"6ec802c3.e1ba9c","name":"zone7","func":"msg.topic = Object.keys(msg.payload)[1]\nmsg.payload = Object.values(msg.payload)[1]\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":280,"wires":[["9d4c2f7c.e864"]]},{"id":"97088348.d51fe","type":"function","z":"6ec802c3.e1ba9c","name":"zone8","func":"msg.topic = Object.keys(msg.payload)[2]\nmsg.payload = Object.values(msg.payload)[2]\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":320,"wires":[["97abfeb5.23eb2"]]},{"id":"c6a663ae.d434e","type":"function","z":"6ec802c3.e1ba9c","name":"zone9","func":"msg.topic = Object.keys(msg.payload)[1]\nmsg.payload = Object.values(msg.payload)[1]\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":360,"wires":[["accc5f4c.aa4b4"]]},{"id":"a62dbdef.60be1","type":"function","z":"6ec802c3.e1ba9c","name":"zone10","func":"msg.topic = Object.keys(msg.payload)[2]\nmsg.payload = Object.values(msg.payload)[2]\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":400,"wires":[["dcd22fcf.8e552"]]},{"id":"30ae0aa1.1b1b06","type":"function","z":"6ec802c3.e1ba9c","name":"zone11","func":"msg.topic = Object.keys(msg.payload)[1]\nmsg.payload = Object.values(msg.payload)[1]\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":440,"wires":[["8a63fbf5.710298"]]},{"id":"202de2fb.22b3de","type":"mqtt-broker","z":"","name":"","broker":"e7217.synology.me","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
