Cyber_Tech_Friend Freelancer/flow/my iot_raspberry pi.json
[{"id":"c5da80cc.32145","type":"tab","label":"blanket","disabled":false,"info":""},{"id":"d8de6b09.fa4b48","type":"http in","z":"c5da80cc.32145","name":"","url":"/iot/blanket","method":"post","upload":false,"swaggerDoc":"","x":180,"y":100,"wires":[["4b25495c.095438","14372bdb.3f3d44"]]},{"id":"1f28e4e3.a5d01b","type":"http response","z":"c5da80cc.32145","name":"","statusCode":"","headers":{},"x":710,"y":100,"wires":[]},{"id":"f82d890.5a47c78","type":"inject","z":"c5da80cc.32145","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1160,"y":120,"wires":[["e2bd1411.8454c8"]]},{"id":"4b25495c.095438","type":"function","z":"c5da80cc.32145","name":"Main Function","func":"//http response를 위한 변수(휴대폰으로 현재상태 확인)\nvar status = flow.get('status') || 'off';\nvar temp = flow.get('temp') || 1;\nvar time = flow.get('time') || 'off';\n//발행하는 topic은 'status', 'tempup', 'tempdown' 3가지\nif (status == 'off') {\n  if (msg.payload.status == 'on') {\n    msg.topic = 'status' ;\n    flow.set('status', 'on') ;\n    flow.set('time', 'steady') ;\n    return msg ;\n  }\n  return msg ;\n} else if (msg.payload.status == 'off') {\n  msg.topic = 'status' ;\n  flow.set('status', 'off') ;\n  flow.set('temp', 1) ;\n  flow.set('time', 'off') ;\n  return msg ;\n} else if (msg.payload.temp > temp) {\n  msg.topic = 'tempup' ;\n  flow.set('temp', msg.payload.temp) ;\n  msg.payload = msg.payload.temp - temp ; // 여기에다가 실제 온도와 예측 온도와의 조정값 기입\n  return msg ;\n} else if (msg.payload.temp < temp) {\n  if (temp !== 1) {\n    msg.topic = 'tempdown' ;\n    flow.set('temp', msg.payload.temp) ;\n    msg.payload = temp - msg.payload.temp ; // 여기에다가 실제 온도와 예측 온도와의 조정값 기입\n    return msg ;\n  }\n} else {\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["ead9c31d.dee26","fb6b3f6f.d2189","73e733a5.b8d13c","cbf34895.c20e58","bce4985c.b82558"]]},{"id":"bd0e996f.1dd7b8","type":"inject","z":"c5da80cc.32145","name":"once a hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":380,"wires":[["7fb8708e.a7f4c"]]},{"id":"7fb8708e.a7f4c","type":"function","z":"c5da80cc.32145","name":"push if time steady","func":"var time = global.get('time');\nif (time == 'steady'){\n    return msg; //gpio 시간 상승 스위치 1회 누름\n}","outputs":1,"noerr":0,"x":470,"y":380,"wires":[["4e6a0583.c8c94c","69cde2c9.20633c"]]},{"id":"ead9c31d.dee26","type":"function","z":"c5da80cc.32145","name":"data for response","func":"var status = flow.get('status')\nvar temp = flow.get('temp')\nvar time = flow.get('time')\nmsg.payload = [status, temp, time]\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":100,"wires":[["1f28e4e3.a5d01b"]]},{"id":"fb6b3f6f.d2189","type":"function","z":"c5da80cc.32145","name":"전원","func":"if (msg.topic == 'status') {\n  return msg ;\n}","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["23580e4f.cb9d52","3ae76bca.76e8d4"]]},{"id":"23580e4f.cb9d52","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":180,"wires":[["fd67e281.a8428"]]},{"id":"fd67e281.a8428","type":"function","z":"c5da80cc.32145","name":"0","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":180,"wires":[["6bea1b59.69f994","b878c1d3.32baf"]]},{"id":"3ae76bca.76e8d4","type":"function","z":"c5da80cc.32145","name":"1","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":140,"wires":[["6bea1b59.69f994","b878c1d3.32baf"]]},{"id":"6bea1b59.69f994","type":"rpi-gpio out","z":"c5da80cc.32145","name":"","pin":"3","set":false,"level":"0","freq":"","out":"out","x":950,"y":140,"wires":[]},{"id":"b878c1d3.32baf","type":"debug","z":"c5da80cc.32145","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":970,"y":180,"wires":[]},{"id":"14372bdb.3f3d44","type":"debug","z":"c5da80cc.32145","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":350,"y":40,"wires":[]},{"id":"73e733a5.b8d13c","type":"function","z":"c5da80cc.32145","name":"온도 상승","func":"var upnum = '' ; //온도상승 버튼 눌러야 하는 횟수\nif (msg.topic == 'tempup') { //처음 명령을 받았을 때, msg.payload는 온도상승 버튼 눌러야 하는 횟수\n  upnum = msg.payload ;\n} else { //msg.complete로 부터 받은 명령\n  upnum = flow.get('upnum') || 0; //남은 온도상승 버튼 눌러야 하는 횟수\n}\nif (upnum !== 0) { //남은 온도상승 버튼 눌러야 하는 횟수가 0이 아닐 때\n  upnum-- ; //남은 온도상승 버튼 눌러야 하는 횟수 1 빼기\n  flow.set('upnum', upnum) ; //1 뺀 남은 온도상승 버튼 눌러야 하는 횟수 저장\n  msg.payload = '' ;\n  return msg ; // 온도상승 버튼 누르기\n}\n","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["ebb49db0.88547","d3b38e9.6bab17"]]},{"id":"47b2cf5d.cc24c","type":"complete","z":"c5da80cc.32145","name":"","scope":["5ce03b75.82fa64"],"uncaught":false,"x":230,"y":220,"wires":[["c0791904.66f178"]]},{"id":"d3b38e9.6bab17","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":220,"wires":[["6d4e0db4.c89384"]]},{"id":"ebb49db0.88547","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":260,"wires":[["5ce03b75.82fa64"]]},{"id":"5ce03b75.82fa64","type":"function","z":"c5da80cc.32145","name":"0","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":260,"wires":[["b76b310d.d2d2d","365f39d9.be7176"]]},{"id":"6d4e0db4.c89384","type":"function","z":"c5da80cc.32145","name":"1","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":220,"wires":[["b76b310d.d2d2d","365f39d9.be7176"]]},{"id":"b76b310d.d2d2d","type":"rpi-gpio out","z":"c5da80cc.32145","name":"","pin":"5","set":false,"level":"0","freq":"","out":"out","x":950,"y":220,"wires":[]},{"id":"365f39d9.be7176","type":"debug","z":"c5da80cc.32145","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":970,"y":260,"wires":[]},{"id":"cbf34895.c20e58","type":"function","z":"c5da80cc.32145","name":"온도 하강","func":"var downnum = '' ; //온도하강 버튼 눌러야 하는 횟수\nif (msg.topic == 'tempdown') { //처음 명령을 받았을 때, msg.payload는 온도하강 버튼 눌러야 하는 횟수\n  downnum = msg.payload ;\n} else { //msg.complete로 부터 받은 명령\n  downnum = flow.get('downnum') || 0; //남은 온도하강 버튼 눌러야 하는 횟수\n}\nif (downnum !== 0) { //남은 온도하강 버튼 눌러야 하는 횟수가 0이 아닐 때\n  downnum-- ; //남은 온도하강 버튼 눌러야 하는 횟수 1 빼기\n  flow.set('downnum', downnum) ; //1 뺀 남은 온도하강 버튼 눌러야 하는 횟수 저장\n  msg.payload = '' ;\n  return msg ; // 온도하강 버튼 누르기\n}\n","outputs":1,"noerr":0,"x":520,"y":300,"wires":[["8d6d19ea.6f8b38","4578395a.fc1a98"]]},{"id":"d4b3e452.6b2408","type":"complete","z":"c5da80cc.32145","name":"","scope":["f3123476.1bcf98"],"uncaught":false,"x":230,"y":300,"wires":[["2f069ea8.fc4192"]]},{"id":"4578395a.fc1a98","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":300,"wires":[["809d3ffe.43bd8"]]},{"id":"8d6d19ea.6f8b38","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":340,"wires":[["f3123476.1bcf98"]]},{"id":"f3123476.1bcf98","type":"function","z":"c5da80cc.32145","name":"0","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":340,"wires":[["f269d303.db59","86f3cde8.873cd"]]},{"id":"809d3ffe.43bd8","type":"function","z":"c5da80cc.32145","name":"1","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["f269d303.db59","86f3cde8.873cd"]]},{"id":"f269d303.db59","type":"rpi-gpio out","z":"c5da80cc.32145","name":"","pin":"7","set":false,"level":"0","freq":"","out":"out","x":950,"y":300,"wires":[]},{"id":"86f3cde8.873cd","type":"debug","z":"c5da80cc.32145","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":970,"y":340,"wires":[]},{"id":"4e6a0583.c8c94c","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":420,"wires":[["9c6c172e.607c58"]]},{"id":"9c6c172e.607c58","type":"function","z":"c5da80cc.32145","name":"0","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":420,"wires":[["70a13a31.473ce4","3ed25576.8ce3ba"]]},{"id":"f496f64d.2c8488","type":"function","z":"c5da80cc.32145","name":"1","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":380,"wires":[["70a13a31.473ce4","3ed25576.8ce3ba"]]},{"id":"70a13a31.473ce4","type":"rpi-gpio out","z":"c5da80cc.32145","name":"","pin":"11","set":false,"level":"0","freq":"","out":"out","x":960,"y":380,"wires":[]},{"id":"3ed25576.8ce3ba","type":"debug","z":"c5da80cc.32145","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":970,"y":420,"wires":[]},{"id":"6c4f497.3a068b8","type":"function","z":"c5da80cc.32145","name":"temp 0","func":"flow.set('temp', 0) ;","outputs":1,"noerr":0,"x":1310,"y":40,"wires":[[]]},{"id":"837bf3c2.cfa8","type":"function","z":"c5da80cc.32145","name":"upnum 0","func":"flow.set('upnum', 0) ;","outputs":1,"noerr":0,"x":1320,"y":200,"wires":[[]]},{"id":"41f51c1e.2c0a14","type":"function","z":"c5da80cc.32145","name":"status off","func":"flow.set('status', 'off') ;","outputs":1,"noerr":0,"x":1320,"y":80,"wires":[[]]},{"id":"e2bd1411.8454c8","type":"function","z":"c5da80cc.32145","name":"time off","func":"flow.set('time', 'off') ;","outputs":1,"noerr":0,"x":1320,"y":120,"wires":[[]]},{"id":"a32a2bed.7d7178","type":"inject","z":"c5da80cc.32145","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1160,"y":80,"wires":[["41f51c1e.2c0a14"]]},{"id":"ed3d1ac1.bcb9b8","type":"inject","z":"c5da80cc.32145","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1160,"y":200,"wires":[["837bf3c2.cfa8"]]},{"id":"3b3844eb.236d9c","type":"inject","z":"c5da80cc.32145","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1160,"y":40,"wires":[["6c4f497.3a068b8"]]},{"id":"c0791904.66f178","type":"change","z":"c5da80cc.32145","name":"토픽 제거","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":220,"wires":[["73e733a5.b8d13c"]]},{"id":"2f069ea8.fc4192","type":"change","z":"c5da80cc.32145","name":"토픽 제거","rules":[{"t":"delete","p":"topic","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":300,"wires":[["cbf34895.c20e58"]]},{"id":"bce4985c.b82558","type":"debug","z":"c5da80cc.32145","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":550,"y":40,"wires":[]},{"id":"4dceb84.f60d148","type":"inject","z":"c5da80cc.32145","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1160,"y":160,"wires":[["592ee571.57b28c"]]},{"id":"592ee571.57b28c","type":"function","z":"c5da80cc.32145","name":"status off","func":"flow.set('status', 'on') ;","outputs":1,"noerr":0,"x":1320,"y":160,"wires":[[]]},{"id":"ac5a74ac.b1ecc8","type":"inject","z":"c5da80cc.32145","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1160,"y":240,"wires":[["b96a866e.2f6318"]]},{"id":"b96a866e.2f6318","type":"function","z":"c5da80cc.32145","name":"downnum 0","func":"flow.set('downnum', 0) ;","outputs":1,"noerr":0,"x":1330,"y":240,"wires":[[]]},{"id":"43845df8.3c6a44","type":"function","z":"c5da80cc.32145","name":"0","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":540,"wires":[["8343cd7f.33517"]]},{"id":"7f9cc43a.8a88bc","type":"function","z":"c5da80cc.32145","name":"1","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":500,"wires":[["8343cd7f.33517"]]},{"id":"8343cd7f.33517","type":"rpi-gpio out","z":"c5da80cc.32145","name":"","pin":"3","set":false,"level":"0","freq":"","out":"out","x":1210,"y":500,"wires":[]},{"id":"658d9c05.39df84","type":"function","z":"c5da80cc.32145","name":"0","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":620,"wires":[["b6c1c6f8.252e68"]]},{"id":"a8a1c453.b2f828","type":"function","z":"c5da80cc.32145","name":"1","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":580,"wires":[["b6c1c6f8.252e68"]]},{"id":"b6c1c6f8.252e68","type":"rpi-gpio out","z":"c5da80cc.32145","name":"","pin":"5","set":false,"level":"0","freq":"","out":"out","x":1210,"y":580,"wires":[]},{"id":"50ea403f.8c33b","type":"function","z":"c5da80cc.32145","name":"0","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":700,"wires":[["2011a83.6f4f858"]]},{"id":"13d3d375.e5fcad","type":"function","z":"c5da80cc.32145","name":"1","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":660,"wires":[["2011a83.6f4f858"]]},{"id":"2011a83.6f4f858","type":"rpi-gpio out","z":"c5da80cc.32145","name":"","pin":"7","set":false,"level":"0","freq":"","out":"out","x":1210,"y":660,"wires":[]},{"id":"5d3bc11f.f7f3","type":"function","z":"c5da80cc.32145","name":"0","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":780,"wires":[["b902e682.d44898"]]},{"id":"a57ffe52.03381","type":"function","z":"c5da80cc.32145","name":"1","func":"msg.payload = 1\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":740,"wires":[["b902e682.d44898"]]},{"id":"b902e682.d44898","type":"rpi-gpio out","z":"c5da80cc.32145","name":"","pin":"11","set":false,"level":"0","freq":"","out":"out","x":1220,"y":740,"wires":[]},{"id":"e697f338.6f736","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":540,"wires":[["43845df8.3c6a44"]]},{"id":"6f67fefa.bebdb","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":580,"wires":[["a8a1c453.b2f828"]]},{"id":"7cc7a9ea.f2f9e8","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":620,"wires":[["658d9c05.39df84"]]},{"id":"2402e24.bea1c1e","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":660,"wires":[["13d3d375.e5fcad"]]},{"id":"9e1d4fc1.97d14","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":700,"wires":[["50ea403f.8c33b"]]},{"id":"32ad3b5e.ad7c24","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":920,"y":780,"wires":[["5d3bc11f.f7f3"]]},{"id":"3a9d7b0d.c0f704","type":"inject","z":"c5da80cc.32145","name":"전원","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":500,"wires":[["e697f338.6f736","80e181ed.9a342"]]},{"id":"28615aea.13dd16","type":"inject","z":"c5da80cc.32145","name":"온도상승","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":580,"wires":[["6f67fefa.bebdb","7cc7a9ea.f2f9e8"]]},{"id":"bd12399.4fb1dc8","type":"inject","z":"c5da80cc.32145","name":"온도 하강","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":660,"wires":[["2402e24.bea1c1e","9e1d4fc1.97d14"]]},{"id":"66d6788b.6549c8","type":"inject","z":"c5da80cc.32145","name":"시간 상승","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":740,"wires":[["32ad3b5e.ad7c24","e5c1e6c0.91c2d8"]]},{"id":"80e181ed.9a342","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":500,"wires":[["7f9cc43a.8a88bc"]]},{"id":"e5c1e6c0.91c2d8","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":740,"wires":[["a57ffe52.03381"]]},{"id":"69cde2c9.20633c","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":380,"wires":[["f496f64d.2c8488"]]},{"id":"afdd5035.0466e","type":"link in","z":"c5da80cc.32145","name":"","links":["fbd92c2c.dc484"],"x":115,"y":480,"wires":[["43fd19.6ed3e2e8","ae44550c.5e5fd8","179ae374.229dad","592c9dc2.8bc204","17ee1eb3.98a071"]]},{"id":"5ea14e3f.c98df","type":"comment","z":"c5da80cc.32145","name":"nfc 태그","info":"","x":160,"y":440,"wires":[]},{"id":"43fd19.6ed3e2e8","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"0","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":480,"wires":[["d3b38e9.6bab17","ebb49db0.88547"]]},{"id":"ae44550c.5e5fd8","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":520,"wires":[["4578395a.fc1a98","8d6d19ea.6f8b38"]]},{"id":"179ae374.229dad","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":560,"wires":[["d3b38e9.6bab17","ebb49db0.88547"]]},{"id":"592c9dc2.8bc204","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":600,"wires":[["d3b38e9.6bab17","ebb49db0.88547"]]},{"id":"17ee1eb3.98a071","type":"delay","z":"c5da80cc.32145","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":640,"wires":[["d3b38e9.6bab17","ebb49db0.88547"]]},{"id":"78291803.3a54a8","type":"ui_button","z":"c5da80cc.32145","name":"up","group":"c3990356.67113","order":4,"width":0,"height":0,"passthru":false,"label":"up","tooltip":"","color":"","bgcolor":"","icon":"","payload":"up","payloadType":"str","topic":"","x":130,"y":720,"wires":[["f097b786.fddb78","d3b38e9.6bab17","ebb49db0.88547"]]},{"id":"dd08a6ae.2bbb38","type":"ui_button","z":"c5da80cc.32145","name":"down","group":"c3990356.67113","order":4,"width":0,"height":0,"passthru":false,"label":"down","tooltip":"","color":"","bgcolor":"","icon":"","payload":"down","payloadType":"str","topic":"","x":130,"y":760,"wires":[["f097b786.fddb78","4578395a.fc1a98","8d6d19ea.6f8b38"]]},{"id":"f097b786.fddb78","type":"ui_toast","z":"c5da80cc.32145","position":"top right","displayTime":"1","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":330,"y":740,"wires":[]},{"id":"c3990356.67113","type":"ui_group","z":"","name":"gauge1","tab":"bae91927.0d7978","order":1,"disp":false,"width":"6","collapse":false},{"id":"bae91927.0d7978","type":"ui_tab","z":"","name":"tab1","icon":"dashboard","disabled":false,"hidden":false}]
