Cyber_Tech_Friend Freelancer/flow/데이터 분석.json
[{"id":"34698eb6.8a0412","type":"tab","label":"데이터 분석","disabled":false,"info":""},{"id":"126a286.f8618d8","type":"inject","z":"34698eb6.8a0412","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":60,"wires":[["a0bbf133.0b855"]]},{"id":"a0bbf133.0b855","type":"function","z":"34698eb6.8a0412","name":"1","func":"msg.payload = String.fromCharCode(0x02, 0x01, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["2df354bb.87ab1c"]]},{"id":"fc9757ed.461998","type":"function","z":"34698eb6.8a0412","name":"2","func":"msg.payload = String.fromCharCode(0x02, 0x02, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["2df354bb.87ab1c"]]},{"id":"9b6645fa.992b18","type":"function","z":"34698eb6.8a0412","name":"3","func":"msg.payload = String.fromCharCode(0x02, 0x03, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["2df354bb.87ab1c"]]},{"id":"9fb44bf0.eb2028","type":"function","z":"34698eb6.8a0412","name":"4","func":"msg.payload = String.fromCharCode(0x02, 0x04, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["2df354bb.87ab1c"]]},{"id":"55dd76a2.c91848","type":"function","z":"34698eb6.8a0412","name":"5","func":"msg.payload = String.fromCharCode(0x02, 0x05, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["2df354bb.87ab1c"]]},{"id":"9ff8baab.83ccf8","type":"function","z":"34698eb6.8a0412","name":"6","func":"msg.payload = String.fromCharCode(0x02, 0x06, 0x41, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["2df354bb.87ab1c"]]},{"id":"ab299f83.00bd1","type":"inject","z":"34698eb6.8a0412","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["fc9757ed.461998"]]},{"id":"4d425d1.3afc8a4","type":"inject","z":"34698eb6.8a0412","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":140,"wires":[["9b6645fa.992b18"]]},{"id":"d8ed945.d8daf68","type":"inject","z":"34698eb6.8a0412","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":180,"wires":[["9fb44bf0.eb2028"]]},{"id":"801f7113.0af2e","type":"inject","z":"34698eb6.8a0412","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":220,"wires":[["55dd76a2.c91848"]]},{"id":"f0b6d2fa.5dc1b","type":"inject","z":"34698eb6.8a0412","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":260,"wires":[["9ff8baab.83ccf8"]]},{"id":"2df354bb.87ab1c","type":"serial out","z":"34698eb6.8a0412","d":true,"name":"","serial":"582ff5ca.58f94c","x":470,"y":60,"wires":[]},{"id":"731e4b5d.442914","type":"function","z":"34698eb6.8a0412","name":"SMART-Q Data Array","func":"var str = msg.payload ;\nvar resultlist = [] ;\n\nfor (i = 0; i<str.length; i++) {\n  hex = str.charCodeAt(i).toString(16);\n  resultlist.push((\"0\"+hex).slice(-2)) ;\n}\nif (resultlist[1] != \"06\") {\n    msg.payload = resultlist ;\n     return msg;\n}","outputs":1,"noerr":0,"x":320,"y":300,"wires":[["73992b57.737a74","dfa7d091.eb673","564d8eab.0cf63","15412aa9.bac625","22995917.7dfec6","638ea3bf.242c5c","ea853d0.41be8c","20f424cf.a5925c"]]},{"id":"73992b57.737a74","type":"function","z":"34698eb6.8a0412","name":"6, 7(현재온도)","func":"var result = parseInt(msg.payload[5].concat(msg.payload[6]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":100,"wires":[["5cd17d99.dba4f4"]]},{"id":"5cd17d99.dba4f4","type":"debug","z":"34698eb6.8a0412","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":100,"wires":[]},{"id":"dfa7d091.eb673","type":"function","z":"34698eb6.8a0412","name":"8, 9(세팅온도)","func":"var result = parseInt(msg.payload[7].concat(msg.payload[8]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["dcdbfe52.4aba3"]]},{"id":"dcdbfe52.4aba3","type":"debug","z":"34698eb6.8a0412","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":160,"wires":[]},{"id":"564d8eab.0cf63","type":"function","z":"34698eb6.8a0412","name":"10, 11(상한값)","func":"var result = parseInt(msg.payload[9].concat(msg.payload[10]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["1764873c.ce00a9"]]},{"id":"1764873c.ce00a9","type":"debug","z":"34698eb6.8a0412","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":220,"wires":[]},{"id":"15412aa9.bac625","type":"function","z":"34698eb6.8a0412","name":"12, 13(하한값)","func":"var result = parseInt(msg.payload[11].concat(msg.payload[12]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":280,"wires":[["e60599c8.5a64f8"]]},{"id":"e60599c8.5a64f8","type":"debug","z":"34698eb6.8a0412","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":280,"wires":[]},{"id":"22995917.7dfec6","type":"function","z":"34698eb6.8a0412","name":"17, 18(현재온도)","func":"var result = parseInt(msg.payload[16].concat(msg.payload[17]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["11a4a24d.e29f3e"]]},{"id":"11a4a24d.e29f3e","type":"debug","z":"34698eb6.8a0412","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":340,"wires":[]},{"id":"638ea3bf.242c5c","type":"function","z":"34698eb6.8a0412","name":"19, 20(세팅온도)","func":"var result = parseInt(msg.payload[18].concat(msg.payload[19]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":630,"y":400,"wires":[["8a8eb7a3.86a0c8"]]},{"id":"8a8eb7a3.86a0c8","type":"debug","z":"34698eb6.8a0412","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":400,"wires":[]},{"id":"ea853d0.41be8c","type":"function","z":"34698eb6.8a0412","name":"21, 22(상한값)","func":"var result = parseInt(msg.payload[20].concat(msg.payload[21]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":460,"wires":[["493f179a.ea24a8"]]},{"id":"493f179a.ea24a8","type":"debug","z":"34698eb6.8a0412","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":460,"wires":[]},{"id":"20f424cf.a5925c","type":"function","z":"34698eb6.8a0412","name":"23, 24(하한값)","func":"var result = parseInt(msg.payload[22].concat(msg.payload[23]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":520,"wires":[["828d9fd7.0aa33"]]},{"id":"828d9fd7.0aa33","type":"debug","z":"34698eb6.8a0412","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":520,"wires":[]},{"id":"81dfe9f6.d927e8","type":"function","z":"34698eb6.8a0412","name":"4, 5(목표수량)","func":"var result = parseInt(msg.payload[3].concat(msg.payload[4]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":580,"wires":[["ff43de66.a9914"]]},{"id":"ff43de66.a9914","type":"debug","z":"34698eb6.8a0412","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":580,"wires":[]},{"id":"72fadd79.081384","type":"function","z":"34698eb6.8a0412","name":"7, 8(생산수량)","func":"var result = parseInt(msg.payload[5].concat(msg.payload[6]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":640,"wires":[["444acf34.4cfbf"]]},{"id":"444acf34.4cfbf","type":"debug","z":"34698eb6.8a0412","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":640,"wires":[]},{"id":"655387bd.119928","type":"function","z":"34698eb6.8a0412","name":"11, 12(양품수량)","func":"var result = parseInt(msg.payload[10].concat(msg.payload[11]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":700,"wires":[["260dbfb.429d14"]]},{"id":"260dbfb.429d14","type":"debug","z":"34698eb6.8a0412","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":700,"wires":[]},{"id":"fa3f5cff.d2dcb","type":"function","z":"34698eb6.8a0412","name":"6(캐비티수량)","func":"var result = parseInt(msg.payload[5], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":620,"y":760,"wires":[["305e189c.800498"]]},{"id":"305e189c.800498","type":"debug","z":"34698eb6.8a0412","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":810,"y":760,"wires":[]},{"id":"1cb8152.d964eeb","type":"function","z":"34698eb6.8a0412","name":"실적 Data Array","func":"var str = msg.payload ;\nvar resultlist = [] ;\n\nfor (i = 0; i<str.length; i++) {\n  hex = str.charCodeAt(i).toString(16);\n  resultlist.push((\"0\"+hex).slice(-2)) ;\n}\nif (resultlist[1] == \"06\") {\n    msg.payload = resultlist ;\n     return msg;\n}","outputs":1,"noerr":0,"x":320,"y":580,"wires":[["81dfe9f6.d927e8","fa3f5cff.d2dcb","72fadd79.081384","655387bd.119928"]]},{"id":"a5008c29.d561f","type":"serial in","z":"34698eb6.8a0412","d":true,"name":"","serial":"582ff5ca.58f94c","x":110,"y":300,"wires":[["731e4b5d.442914","1cb8152.d964eeb"]]},{"id":"582ff5ca.58f94c","type":"serial-port","z":"","serialport":"COM4","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"0x02","newline":"10","bin":"false","out":"time","addchar":"","responsetimeout":"10000"}]
