Cyber_Tech_Friend Freelancer/flow/모드버스.json
[{"id":"5e8d60de.683be","type":"tab","label":"workspace","disabled":false,"info":""},{"id":"701af800.9327e8","type":"function","z":"5e8d60de.683be","name":"TCP Client","func":"var require = global.get('require');\n\n// create an empty modbus client\nvar ModbusRTU = require(\"modbus-serial\");\nvar client = new ModbusRTU();\n\n// open connection to a tcp line\nclient.connectTCP(\"127.0.0.1\", { port: 10502 });\nclient.setID(1);\n\n// read the values of 1 registers starting at address 1003\n// on device number 1. and log the values to the console.\n\nsetInterval(function() {\n    client.readHoldingRegisters(0x03EB, 1, function(err, number) {\n        flow.set('tcp_data', number.data) ;\n    });\n}, 1000);\n","outputs":1,"noerr":0,"x":330,"y":380,"wires":[[]]},{"id":"e2510259.1db85","type":"inject","z":"5e8d60de.683be","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":380,"wires":[["701af800.9327e8"]]},{"id":"e195ffc9.9984d","type":"debug","z":"5e8d60de.683be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":530,"y":420,"wires":[]},{"id":"75d8aa88.ffa434","type":"catch","z":"5e8d60de.683be","name":"","scope":null,"x":1060,"y":140,"wires":[["a2199df8.600a"]]},{"id":"a2199df8.600a","type":"debug","z":"5e8d60de.683be","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1210,"y":140,"wires":[]},{"id":"823ff7f.c433008","type":"modbus-read","z":"5e8d60de.683be","name":"현재수량","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"InputRegister","adr":"1003","quantity":"1","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"967edffa.aa3e7","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160,"y":480,"wires":[["ecfb0c78.0d64f"],[]]},{"id":"ecfb0c78.0d64f","type":"debug","z":"5e8d60de.683be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":330,"y":480,"wires":[]},{"id":"84866cc1.3954c","type":"modbus-read","z":"5e8d60de.683be","name":"목표수량","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"InputRegister","adr":"1006","quantity":"1","rate":"5","rateUnit":"s","delayOnStart":false,"startDelayTime":"","server":"967edffa.aa3e7","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160,"y":540,"wires":[["2692ae9e.b961b2"],[]]},{"id":"2692ae9e.b961b2","type":"debug","z":"5e8d60de.683be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":330,"y":540,"wires":[]},{"id":"1ae49f1f.e0b111","type":"modbus-server","z":"5e8d60de.683be","name":"","logEnabled":false,"hostname":"0.0.0.0","serverPort":10502,"responseDelay":100,"delayUnit":"ms","coilsBufferSize":10000,"holdingBufferSize":10000,"inputBufferSize":10000,"discreteBufferSize":10000,"showErrors":false,"x":280,"y":60,"wires":[["f77ef59d.bdb3a8"],[],[],[]]},{"id":"bb7916b0.42bae8","type":"inject","z":"5e8d60de.683be","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["29bebf11.1d0dc"]]},{"id":"29bebf11.1d0dc","type":"function","z":"5e8d60de.683be","name":"","func":"msg.payload = 1\nreturn msg","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["94b4ff6c.e2157"]]},{"id":"ef30befb.ff8b9","type":"debug","z":"5e8d60de.683be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":120,"wires":[]},{"id":"be64a8f2.173018","type":"inject","z":"5e8d60de.683be","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["4b9bdc36.542994"]]},{"id":"4b9bdc36.542994","type":"function","z":"5e8d60de.683be","name":"100","func":"msg.payload = {value : 100}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["6914573a.6d9dc8"]]},{"id":"6914573a.6d9dc8","type":"modbus-write","z":"5e8d60de.683be","name":"","showStatusActivities":false,"showErrors":false,"unitid":"1","dataType":"HoldingRegister","adr":"1003","quantity":"1","server":"bb6b54c9.e10348","x":480,"y":260,"wires":[["963241e8.07ace"],[]]},{"id":"94b4ff6c.e2157","type":"modbus-getter","z":"5e8d60de.683be","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"1003","quantity":"1","server":"bb6b54c9.e10348","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":480,"y":140,"wires":[["ef30befb.ff8b9"],[]]},{"id":"51731d5a.5624d4","type":"debug","z":"5e8d60de.683be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":790,"y":260,"wires":[]},{"id":"5abf7d3f.973c74","type":"function","z":"5e8d60de.683be","name":"200","func":"msg.payload = {value : 200}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":240,"wires":[["6914573a.6d9dc8"]]},{"id":"e85719c7.4ea188","type":"inject","z":"5e8d60de.683be","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":240,"wires":[["5abf7d3f.973c74"]]},{"id":"dade72d0.91c05","type":"function","z":"5e8d60de.683be","name":"300","func":"msg.payload = {value : 300}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":280,"wires":[["6914573a.6d9dc8"]]},{"id":"1c12565e.1a361a","type":"inject","z":"5e8d60de.683be","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":280,"wires":[["dade72d0.91c05"]]},{"id":"75765d67.febeb4","type":"function","z":"5e8d60de.683be","name":"400","func":"msg.payload = {value : 400}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["6914573a.6d9dc8"]]},{"id":"8c22efcb.017dc","type":"inject","z":"5e8d60de.683be","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":320,"wires":[["75765d67.febeb4"]]},{"id":"4c3fc0f2.4decb","type":"inject","z":"5e8d60de.683be","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["1ae49f1f.e0b111"]]},{"id":"f77ef59d.bdb3a8","type":"debug","z":"5e8d60de.683be","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":470,"y":60,"wires":[]},{"id":"a75b9a66.738d68","type":"inject","z":"5e8d60de.683be","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":420,"wires":[["84f4da0d.2a9908"]]},{"id":"84f4da0d.2a9908","type":"function","z":"5e8d60de.683be","name":"read tcp property","func":"return {payload : flow.get('tcp_data')};","outputs":1,"noerr":0,"x":340,"y":420,"wires":[["e195ffc9.9984d"]]},{"id":"963241e8.07ace","type":"function","z":"5e8d60de.683be","name":"","func":"return {payload : msg.payload.value};","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["51731d5a.5624d4"]]},{"id":"967edffa.aa3e7","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"TPC-RTU-BUFFERED","serialPort":"COM3","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":200,"clientTimeout":1000,"reconnectOnTimeout":false,"reconnectTimeout":2000,"parallelUnitIdsAllowed":false},{"id":"bb6b54c9.e10348","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"10502","tcpType":"DEFAULT","serialPort":"COM3","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"200","clientTimeout":"1000","reconnectOnTimeout":false,"reconnectTimeout":"2000","parallelUnitIdsAllowed":false}]
