Cyber_Tech_Friend Freelancer/flow/완성-2.json
[{"id":"eee661e2.8242a","type":"tab","label":"Main Function","disabled":true,"info":""},{"id":"c0d57e26.ebbcf","type":"inject","z":"eee661e2.8242a","name":"XFPTRT","topic":"Xenon_Foolproof_Temperature_Request_Timer","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["479022e2.2c498c"]]},{"id":"479022e2.2c498c","type":"function","z":"eee661e2.8242a","name":"msg maker","func":"var status = global.get('status') || 'ok'; //ok is loop, no is http\nif (!!msg.res) {\n  status = 'no' ;\n  global.set('status', status);\n}\nif (status == 'ok') {\n  var count = global.get('count') || 0;\n  count += 1 ;\n  global.set('count',count);\n\n  if((count%6)===0) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x01, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===1) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x02, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===2) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x03, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===3) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x04, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===4) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x05, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===5) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x06, 0x41, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  }\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["ec67583d.887198"]]},{"id":"293b9b33.8558e4","type":"function","z":"eee661e2.8242a","name":"authorize","func":"if (msg.payload.name == 'CTFadmin') {\n    flow.set('comcount',0) ;\n    flow.set('command',[]) ;\n    return msg;\n} ","outputs":1,"noerr":0,"x":260,"y":120,"wires":[["612e7f9e.69f74"]]},{"id":"5c7df866.506fd8","type":"http in","z":"eee661e2.8242a","name":"http in (/CTF)","url":"/CTF","method":"post","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["293b9b33.8558e4","479022e2.2c498c"]]},{"id":"3271e28f.3d04ee","type":"serial request","z":"eee661e2.8242a","name":"","serial":"55d3f2ba.c296ac","x":730,"y":120,"wires":[["5d3f6467.09539c","36947ffb.a1cc2"]]},{"id":"5d3f6467.09539c","type":"join","z":"eee661e2.8242a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":850,"y":120,"wires":[["91caaa7e.df7618"]]},{"id":"f3cd3939.134388","type":"complete","z":"eee661e2.8242a","name":"","scope":["36947ffb.a1cc2"],"uncaught":false,"x":270,"y":160,"wires":[["612e7f9e.69f74"]]},{"id":"91caaa7e.df7618","type":"function","z":"eee661e2.8242a","name":"data output","func":"var json_res = {} ;\nfor (i = 1; i<msg.payload.length+1; i++) {\n  json_res[\"response\" + String(i)] = msg.payload[i-1] ;\n}\nmsg.payload = json_res ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":990,"y":120,"wires":[["edcc871f.a87e68"]]},{"id":"edcc871f.a87e68","type":"http response","z":"eee661e2.8242a","name":"http response","statusCode":"","headers":{},"x":1160,"y":120,"wires":[]},{"id":"1f53d0c7.8c335f","type":"function","z":"eee661e2.8242a","name":"Datastore","func":"var count = global.get('count') || 0;\nvar json_obj = global.get('json_obj')\n\nif((count%6)===0) { //count를 6으로 나눈 나머지가 0일 경우\n  json_obj = {\n    result1 : \"\",\n    result2 : \"\", \n    result3 : \"\",\n    result4 : \"\",\n    result5 : \"\",\n    result6 : \"\"\n  } ;\n  json_obj.result1 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===1) { //count를 6으로 나눈 나머지가 1일 경우\n  json_obj.result2 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===2) { //count를 6으로 나눈 나머지가 2일 경우\n  json_obj.result3 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===3) { //count를 6으로 나눈 나머지가 3일 경우\n  json_obj.result4 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===4) { //count를 6으로 나눈 나머지가 4일 경우\n  json_obj.result5 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===5) { //count를 6으로 나눈 나머지가 5일 경우\n  json_obj.result6 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":80,"wires":[["e9be5636.5932e8"]]},{"id":"e9be5636.5932e8","type":"function","z":"eee661e2.8242a","name":"data transfer json","func":"if (msg.payload.result6 != '') {\n  var json_data = {\n    \"zone1\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone2\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone3\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone4\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone5\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone6\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone7\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone8\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone9\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone10\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone11\": {\n      \"planqty\": '',\n      \"prodqty\": '',\n      \"goodqty\": '',\n      \"cavity\": ''\n    }\n  } ;\n\n\n  json_data.zone1.nowtemp = msg.payload.result1[5]*256+msg.payload.result1[6]/10 ;\n  json_data.zone1.settemp = msg.payload.result1[7]*256+msg.payload.result1[8]/10 ;\n  json_data.zone1.upper = msg.payload.result1[9]*256+msg.payload.result1[10]/10 ;\n  json_data.zone1.lower = msg.payload.result1[11]*256+msg.payload.result1[12]/10 ;\n  json_data.zone2.nowtemp = msg.payload.result1[16]*256+msg.payload.result1[17]/10 ;\n  json_data.zone2.settemp = msg.payload.result1[18]*256+msg.payload.result1[19]/10 ;\n  json_data.zone2.upper = msg.payload.result1[20]*256+msg.payload.result1[21]/10 ;\n  json_data.zone2.lower = msg.payload.result1[22]*256+msg.payload.result1[23]/10 ;\n\n  json_data.zone3.nowtemp = msg.payload.result2[5]*256+msg.payload.result2[6]/10 ;\n  json_data.zone3.settemp = msg.payload.result2[7]*256+msg.payload.result2[8]/10 ;\n  json_data.zone3.upper = msg.payload.result2[9]*256+msg.payload.result2[10]/10 ;\n  json_data.zone3.lower = msg.payload.result2[11]*256+msg.payload.result2[12]/10 ;\n  json_data.zone4.nowtemp = msg.payload.result2[16]*256+msg.payload.result2[17]/10 ;\n  json_data.zone4.settemp = msg.payload.result2[18]*256+msg.payload.result2[19]/10 ;\n  json_data.zone4.upper = msg.payload.result2[20]*256+msg.payload.result2[21]/10 ;\n  json_data.zone4.lower = msg.payload.result2[22]*256+msg.payload.result2[23]/10 ;\n\n  json_data.zone5.nowtemp = msg.payload.result3[5]*256+msg.payload.result3[6]/10 ;\n  json_data.zone5.settemp = msg.payload.result3[7]*256+msg.payload.result3[8]/10 ;\n  json_data.zone5.upper = msg.payload.result3[9]*256+msg.payload.result3[10]/10 ;\n  json_data.zone5.lower = msg.payload.result3[11]*256+msg.payload.result3[12]/10 ;\n  json_data.zone6.nowtemp = msg.payload.result3[16]*256+msg.payload.result3[17]/10 ;\n  json_data.zone6.settemp = msg.payload.result3[18]*256+msg.payload.result3[19]/10 ;\n  json_data.zone6.upper = msg.payload.result3[20]*256+msg.payload.result3[21]/10 ;\n  json_data.zone6.lower = msg.payload.result3[22]*256+msg.payload.result3[23]/10 ;\n\n  json_data.zone7.nowtemp = msg.payload.result4[5]*256+msg.payload.result4[6]/10 ;\n  json_data.zone7.settemp = msg.payload.result4[7]*256+msg.payload.result4[8]/10 ;\n  json_data.zone7.upper = msg.payload.result4[9]*256+msg.payload.result4[10]/10 ;\n  json_data.zone7.lower = msg.payload.result4[11]*256+msg.payload.result4[12]/10 ;\n  json_data.zone8.nowtemp = msg.payload.result4[16]*256+msg.payload.result4[17]/10 ;\n  json_data.zone8.settemp = msg.payload.result4[18]*256+msg.payload.result4[19]/10 ;\n  json_data.zone8.upper = msg.payload.result4[20]*256+msg.payload.result4[21]/10 ;\n  json_data.zone8.lower = msg.payload.result4[22]*256+msg.payload.result4[23]/10 ;\n\n  json_data.zone9.nowtemp = msg.payload.result5[5]*256+msg.payload.result5[6]/10 ;\n  json_data.zone9.settemp = msg.payload.result5[7]*256+msg.payload.result5[8]/10 ;\n  json_data.zone9.upper = msg.payload.result5[9]*256+msg.payload.result5[10]/10 ;\n  json_data.zone9.lower = msg.payload.result5[11]*256+msg.payload.result5[12]/10 ;\n  json_data.zone10.nowtemp = msg.payload.result5[16]*256+msg.payload.result5[17]/10 ;\n  json_data.zone10.settemp = msg.payload.result5[18]*256+msg.payload.result5[19]/10 ;\n  json_data.zone10.upper = msg.payload.result5[20]*256+msg.payload.result5[21]/10 ;\n  json_data.zone10.lower = msg.payload.result5[22]*256+msg.payload.result5[23]/10 ;\n\n  json_data.zone11.planqty = msg.payload.result6[3]*256+msg.payload.result6[4] ;\n  json_data.zone11.prodqty = msg.payload.result6[6]*256+msg.payload.result6[7] ;\n  json_data.zone11.goodqty = msg.payload.result6[10]*256+msg.payload.result6[11] ;\n  json_data.zone11.cavity = msg.payload.result6[5] ;\n\n  msg.payload = json_data ;\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":770,"y":80,"wires":[["1ccdc82e.b5b198"]]},{"id":"58b7235d.5d069c","type":"inject","z":"eee661e2.8242a","name":"count 초기화","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1150,"y":40,"wires":[["5293d1c7.e364a"]]},{"id":"5293d1c7.e364a","type":"function","z":"eee661e2.8242a","name":"0","func":"global.set('count',0) ;\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":40,"wires":[[]]},{"id":"1ccdc82e.b5b198","type":"debug","z":"eee661e2.8242a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":950,"y":80,"wires":[]},{"id":"72d4dabb.7b8e84","type":"complete","z":"eee661e2.8242a","name":"","scope":["edcc871f.a87e68"],"uncaught":false,"x":430,"y":160,"wires":[["399105d6.00a96a"]]},{"id":"4556ce0a.92aa4","type":"inject","z":"eee661e2.8242a","name":"status 초기화","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1150,"y":80,"wires":[["965abf44.1b058"]]},{"id":"965abf44.1b058","type":"function","z":"eee661e2.8242a","name":"ok","func":"global.set('status','ok') ;\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":80,"wires":[[]]},{"id":"399105d6.00a96a","type":"function","z":"eee661e2.8242a","name":"set status ok","func":"var status = 'ok';\nglobal.set('status',status) ;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[[]]},{"id":"612e7f9e.69f74","type":"function","z":"eee661e2.8242a","name":"data input","func":"function hex2a(hex) { //hex라는 문자열을 파싱하는 함수 hex2a\n    var str = ''; //빈 str 생성\n    for (var i = 0; (i < hex.length); i += 2) //2씩 늘어나는 i값에 대하여 hex의 길이보다 작을 때 까지 반복\n        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));// str에 i 부터 2개 연속된 값을 16진법에서 유니코드로 변환하여 추가\n    return str;\n}\nvar command = flow.get('command') || [] ;\nvar comcount = flow.get('comcount') || 0 ;\n\nif (comcount === 0) { //first injection\n  var myvalue = Object.values(msg.payload) ;\n  myvalue.splice(0,1) ;\n  for (i=0; i<myvalue.length; i++) {\n    command.push(hex2a(myvalue[i])) ;\n  }\n  comcount += 1 ;\n  flow.set('comcount',comcount) ;\n  flow.set('command',command) ;\n  msg.payload = command[0] ;\n  return msg ;\n} else if (comcount < command.length) { //triggered by complete node\n  msg.payload = command[comcount] ;\n  comcount += 1 ;\n  flow.set('comcount',comcount) ;\n  if (comcount == command.length) {\n    msg.complete = true ;\n  }\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["aad655e5.273178"]]},{"id":"aad655e5.273178","type":"delay","z":"eee661e2.8242a","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":120,"wires":[["3271e28f.3d04ee"]]},{"id":"36947ffb.a1cc2","type":"debug","z":"eee661e2.8242a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":160,"wires":[]},{"id":"ec67583d.887198","type":"serial request","z":"eee661e2.8242a","name":"","serial":"55d3f2ba.c296ac","x":410,"y":80,"wires":[["1f53d0c7.8c335f"]]},{"id":"55d3f2ba.c296ac","type":"serial-port","z":"","serialport":"COM3","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"10","bin":"bin","out":"time","addchar":"","responsetimeout":"10000"}]
