Cyber_Tech_Friend Freelancer/flow/완성-4.json
[{"id":"eee661e2.8242a","type":"tab","label":"Main Function","disabled":true,"info":""},{"id":"c0d57e26.ebbcf","type":"inject","z":"eee661e2.8242a","name":"XFPTRT","topic":"Xenon_Foolproof_Temperature_Request_Timer","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["479022e2.2c498c"]]},{"id":"479022e2.2c498c","type":"function","z":"eee661e2.8242a","name":"msg maker","func":"var status = global.get('status') || 'ok'; //ok is loop, no is http\nif (!!msg.res) {\n  status = 'no' ;\n  global.set('status', status);\n}\nif (status == 'ok') {\n  var count = global.get('count') || 0;\n  count += 1 ;\n  global.set('count',count);\n\n  if((count%6)===0) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x01, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===1) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x02, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===2) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x03, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===3) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x04, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===4) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x05, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===5) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x06, 0x41, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  }\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":250,"y":80,"wires":[["ec67583d.887198"]]},{"id":"293b9b33.8558e4","type":"function","z":"eee661e2.8242a","name":"authorize","func":"if (msg.payload.name == 'CTFadmin') {\n    flow.set('comcount',0) ;\n    flow.set('command',[]) ;\n    return msg;\n} ","outputs":1,"noerr":0,"x":260,"y":240,"wires":[["612e7f9e.69f74"]]},{"id":"5c7df866.506fd8","type":"http in","z":"eee661e2.8242a","name":"http in (/CTF)","url":"/CTF","method":"post","upload":false,"swaggerDoc":"","x":110,"y":240,"wires":[["293b9b33.8558e4","479022e2.2c498c"]]},{"id":"3271e28f.3d04ee","type":"serial request","z":"eee661e2.8242a","name":"","serial":"55d3f2ba.c296ac","x":870,"y":240,"wires":[["83f86282.26015"]]},{"id":"5d3f6467.09539c","type":"join","z":"eee661e2.8242a","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1150,"y":240,"wires":[["91caaa7e.df7618"]]},{"id":"f3cd3939.134388","type":"complete","z":"eee661e2.8242a","name":"when one request finish","scope":["83f86282.26015"],"uncaught":false,"x":220,"y":280,"wires":[["612e7f9e.69f74"]]},{"id":"91caaa7e.df7618","type":"function","z":"eee661e2.8242a","name":"data output","func":"var json_res = {} ;\nfor (i = 1; i<msg.payload.length+1; i++) {\n  json_res[\"response\" + String(i)] = msg.payload[i-1] ;\n}\nmsg.payload = json_res ;\nglobal.set('status','ok') ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":1290,"y":240,"wires":[["edcc871f.a87e68"]]},{"id":"edcc871f.a87e68","type":"http response","z":"eee661e2.8242a","name":"http response","statusCode":"","headers":{},"x":1460,"y":240,"wires":[]},{"id":"1f53d0c7.8c335f","type":"function","z":"eee661e2.8242a","name":"Datastore","func":"var count = global.get('count') || 0;\nvar json_obj = global.get('json_obj')\n\nif((count%6)===0) { //count를 6으로 나눈 나머지가 0일 경우\n  json_obj = {\n    result1 : \"\",\n    result2 : \"\", \n    result3 : \"\",\n    result4 : \"\",\n    result5 : \"\",\n    result6 : \"\"\n  } ;\n  json_obj.result1 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===1) { //count를 6으로 나눈 나머지가 1일 경우\n  json_obj.result2 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===2) { //count를 6으로 나눈 나머지가 2일 경우\n  json_obj.result3 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===3) { //count를 6으로 나눈 나머지가 3일 경우\n  json_obj.result4 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===4) { //count를 6으로 나눈 나머지가 4일 경우\n  json_obj.result5 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===5) { //count를 6으로 나눈 나머지가 5일 경우\n  json_obj.result6 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":80,"wires":[["e9be5636.5932e8"]]},{"id":"e9be5636.5932e8","type":"function","z":"eee661e2.8242a","name":"data transfer json","func":"if (msg.payload.result6 != '') {\n  var json_data = {\n    \"zone1\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone2\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone3\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone4\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone5\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone6\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone7\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone8\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone9\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone10\": {\n      \"nowtemp\": '',\n      \"settemp\": '',\n      \"upper\": '',\n      \"lower\": ''\n    },\n    \"zone11\": {\n      \"planqty\": '',\n      \"prodqty\": '',\n      \"goodqty\": '',\n      \"cavity\": ''\n    }\n  } ;\n\n\n  json_data.zone1.nowtemp = (msg.payload.result1[5]*256+msg.payload.result1[6])/10 ;\n  json_data.zone1.settemp = (msg.payload.result1[7]*256+msg.payload.result1[8])/10 ;\n  json_data.zone1.upper = (msg.payload.result1[9]*256+msg.payload.result1[10])/10 ;\n  json_data.zone1.lower = (msg.payload.result1[11]*256+msg.payload.result1[12])/10 ;\n  json_data.zone2.nowtemp = (msg.payload.result1[16]*256+msg.payload.result1[17])/10 ;\n  json_data.zone2.settemp = (msg.payload.result1[18]*256+msg.payload.result1[19])/10 ;\n  json_data.zone2.upper = (msg.payload.result1[20]*256+msg.payload.result1[21])/10 ;\n  json_data.zone2.lower = (msg.payload.result1[22]*256+msg.payload.result1[23])/10 ;\n\n  json_data.zone3.nowtemp = (msg.payload.result2[5]*256+msg.payload.result2[6])/10 ;\n  json_data.zone3.settemp = (msg.payload.result2[7]*256+msg.payload.result2[8])/10 ;\n  json_data.zone3.upper = (msg.payload.result2[9]*256+msg.payload.result2[10])/10 ;\n  json_data.zone3.lower = (msg.payload.result2[11]*256+msg.payload.result2[12])/10 ;\n  json_data.zone4.nowtemp = (msg.payload.result2[16]*256+msg.payload.result2[17])/10 ;\n  json_data.zone4.settemp = (msg.payload.result2[18]*256+msg.payload.result2[19])/10 ;\n  json_data.zone4.upper = (msg.payload.result2[20]*256+msg.payload.result2[21])/10 ;\n  json_data.zone4.lower = (msg.payload.result2[22]*256+msg.payload.result2[23])/10 ;\n\n  json_data.zone5.nowtemp = (msg.payload.result3[5]*256+msg.payload.result3[6])/10 ;\n  json_data.zone5.settemp = (msg.payload.result3[7]*256+msg.payload.result3[8])/10 ;\n  json_data.zone5.upper = (msg.payload.result3[9]*256+msg.payload.result3[10])/10 ;\n  json_data.zone5.lower = (msg.payload.result3[11]*256+msg.payload.result3[12])/10 ;\n  json_data.zone6.nowtemp = (msg.payload.result3[16]*256+msg.payload.result3[17])/10 ;\n  json_data.zone6.settemp = (msg.payload.result3[18]*256+msg.payload.result3[19])/10 ;\n  json_data.zone6.upper = (msg.payload.result3[20]*256+msg.payload.result3[21])/10 ;\n  json_data.zone6.lower = (msg.payload.result3[22]*256+msg.payload.result3[23])/10 ;\n\n  json_data.zone7.nowtemp = (msg.payload.result4[5]*256+msg.payload.result4[6])/10 ;\n  json_data.zone7.settemp = (msg.payload.result4[7]*256+msg.payload.result4[8])/10 ;\n  json_data.zone7.upper = (msg.payload.result4[9]*256+msg.payload.result4[10])/10 ;\n  json_data.zone7.lower = (msg.payload.result4[11]*256+msg.payload.result4[12])/10 ;\n  json_data.zone8.nowtemp = (msg.payload.result4[16]*256+msg.payload.result4[17])/10 ;\n  json_data.zone8.settemp = (msg.payload.result4[18]*256+msg.payload.result4[19])/10 ;\n  json_data.zone8.upper = (msg.payload.result4[20]*256+msg.payload.result4[21])/10 ;\n  json_data.zone8.lower = (msg.payload.result4[22]*256+msg.payload.result4[23])/10 ;\n\n  json_data.zone9.nowtemp = (msg.payload.result5[5]*256+msg.payload.result5[6])/10 ;\n  json_data.zone9.settemp = (msg.payload.result5[7]*256+msg.payload.result5[8])/10 ;\n  json_data.zone9.upper = (msg.payload.result5[9]*256+msg.payload.result5[10])/10 ;\n  json_data.zone9.lower = (msg.payload.result5[11]*256+msg.payload.result5[12])/10 ;\n  json_data.zone10.nowtemp = (msg.payload.result5[16]*256+msg.payload.result5[17])/10 ;\n  json_data.zone10.settemp = (msg.payload.result5[18]*256+msg.payload.result5[19])/10 ;\n  json_data.zone10.upper = (msg.payload.result5[20]*256+msg.payload.result5[21])/10 ;\n  json_data.zone10.lower = (msg.payload.result5[22]*256+msg.payload.result5[23])/10 ;\n\n  json_data.zone11.planqty = msg.payload.result6[3]*256+msg.payload.result6[4] ;\n  json_data.zone11.prodqty = msg.payload.result6[6]*256+msg.payload.result6[7] ;\n  json_data.zone11.goodqty = msg.payload.result6[10]*256+msg.payload.result6[11] ;\n  json_data.zone11.cavity = msg.payload.result6[5] ;\n\n  msg.payload = json_data ;\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":690,"y":80,"wires":[["f18b0d1c.f02a1"]]},{"id":"58b7235d.5d069c","type":"inject","z":"eee661e2.8242a","name":"count 초기화","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":60,"wires":[["5293d1c7.e364a"]]},{"id":"5293d1c7.e364a","type":"function","z":"eee661e2.8242a","name":"0","func":"global.set('count',0) ;\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":60,"wires":[[]]},{"id":"4556ce0a.92aa4","type":"inject","z":"eee661e2.8242a","name":"status 초기화","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1130,"y":100,"wires":[["965abf44.1b058"]]},{"id":"965abf44.1b058","type":"function","z":"eee661e2.8242a","name":"ok","func":"global.set('status','ok') ;\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":100,"wires":[[]]},{"id":"612e7f9e.69f74","type":"function","z":"eee661e2.8242a","name":"data split","func":"var command = flow.get('command') || [] ; //전역 변수 'command'를 받아옴 , 'command'란 http 통신을 통해 들어온 명령어의 array\nvar comcount = flow.get('comcount') || 0 ; //전역 변수 'comcount'를 받아옴, 'comcount'란 http 통신을 통해 들어온 명령어의 갯수\n\nif (comcount === 0) { //첫 명령어\n  command = Object.values(msg.payload) ; // 명령어들을 myvalue라는 array로 만듬 (name 값인 'CTFadmin' 포함)\n  command.splice(0,1) ; // 'CTFadmin' 삭제\n  comcount += 1 ;\n  if (comcount == command.length) {\n    msg.complete = true ;\n  } \n  flow.set('comcount',comcount) ;\n  flow.set('command',command) ;\n  msg.payload = command[0] ;\n  return msg ;\n} else if (comcount < command.length) { //triggered by complete node\n  msg.payload = command[comcount] ;\n  comcount += 1 ;\n  flow.set('comcount',comcount) ;\n  if (comcount == command.length) {\n    msg.complete = true ;\n  }\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["b04787b8.768ae8"]]},{"id":"aad655e5.273178","type":"delay","z":"eee661e2.8242a","name":"","pauseType":"delay","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":730,"y":240,"wires":[["3271e28f.3d04ee"]]},{"id":"ec67583d.887198","type":"serial request","z":"eee661e2.8242a","name":"","serial":"55d3f2ba.c296ac","x":390,"y":80,"wires":[["1f53d0c7.8c335f"]]},{"id":"84bbbec0.c5218","type":"inject","z":"eee661e2.8242a","name":"comcount 초기화","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1140,"y":140,"wires":[["be1b1726.33fb78"]]},{"id":"be1b1726.33fb78","type":"function","z":"eee661e2.8242a","name":"0","func":"global.set('comcount',0) ;\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":140,"wires":[[]]},{"id":"b04787b8.768ae8","type":"function","z":"eee661e2.8242a","name":"convert to buffer","func":"var str = '' ;\nfor (var i = 0; (i < msg.payload.length); i += 2) {\n  str += String.fromCharCode('0x' + msg.payload.substr(i, 2)) ;\n}\nmsg.payload = Buffer.from(str,\"ascii\") ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["aad655e5.273178"]]},{"id":"f54286ee.a64c08","type":"comment","z":"eee661e2.8242a","name":"data refresher","info":"","x":110,"y":40,"wires":[]},{"id":"92cdb67f.14cb68","type":"comment","z":"eee661e2.8242a","name":"http comunication","info":"","x":120,"y":200,"wires":[]},{"id":"83f86282.26015","type":"function","z":"eee661e2.8242a","name":"check error","func":"if ( msg.payload!==undefined ) {\n    return msg ;\n} else {\n    msg.payload = \"error\" ;\n    return msg ;\n}","outputs":1,"noerr":0,"x":1010,"y":240,"wires":[["5d3f6467.09539c"]]},{"id":"f18b0d1c.f02a1","type":"link out","z":"eee661e2.8242a","name":"","links":["3b48b362.38eafc"],"x":815,"y":80,"wires":[]},{"id":"48f599d9.205668","type":"tab","label":"플로우 1","disabled":true,"info":""},{"id":"4a5b8d94.9d6f84","type":"ui_gauge","z":"48f599d9.205668","name":"gauge1","group":"f0ba3b75.06a518","order":1,"width":"0","height":"0","gtype":"gage","title":"gauge1","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1360,"y":140,"wires":[]},{"id":"e9529c2e.f9e05","type":"ui_gauge","z":"48f599d9.205668","name":"gauge3","group":"978560a5.4f433","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge3","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":300,"wires":[]},{"id":"67beaf8a.08206","type":"ui_gauge","z":"48f599d9.205668","name":"gauge4","group":"978560a5.4f433","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge4","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1320,"y":340,"wires":[]},{"id":"61bea5df.43e37c","type":"ui_gauge","z":"48f599d9.205668","name":"gauge5","group":"2df22dff.33ce02","order":4,"width":0,"height":0,"gtype":"gage","title":"gauge5","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":460,"wires":[]},{"id":"46253081.044e6","type":"ui_gauge","z":"48f599d9.205668","name":"gauge6","group":"2df22dff.33ce02","order":5,"width":0,"height":0,"gtype":"gage","title":"gauge6","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1360,"y":460,"wires":[]},{"id":"56fda8e3.755f18","type":"ui_gauge","z":"48f599d9.205668","name":"gauge2","group":"f0ba3b75.06a518","order":8,"width":"0","height":"0","gtype":"gage","title":"gauge2","label":"units","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":120,"wires":[]},{"id":"2aa4b475.cda41c","type":"ui_gauge","z":"48f599d9.205668","name":"gauge7","group":"340c4b1d.c2aa94","order":6,"width":0,"height":0,"gtype":"gage","title":"gauge7","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":620,"wires":[]},{"id":"656cd233.06742c","type":"ui_gauge","z":"48f599d9.205668","name":"gauge8","group":"340c4b1d.c2aa94","order":7,"width":0,"height":0,"gtype":"gage","title":"gauge8","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1360,"y":619,"wires":[]},{"id":"bae5a1ea.a0db","type":"ui_gauge","z":"48f599d9.205668","name":"gauge9","group":"39c1c35.c15023c","order":8,"width":0,"height":0,"gtype":"gage","title":"gauge9","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":780,"wires":[]},{"id":"f12f345d.5b2198","type":"ui_gauge","z":"48f599d9.205668","name":"gauge10","group":"39c1c35.c15023c","order":9,"width":0,"height":0,"gtype":"gage","title":"gauge10","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1360,"y":779,"wires":[]},{"id":"bb557aec.ba4c78","type":"function","z":"48f599d9.205668","name":"목표수량","func":"msg.payload=msg.payload.plan\nmsg.topic=\"plan\"\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1200,"wires":[["d80f39f1.455c28","423c122e.9e50cc"]]},{"id":"5e0aabcb.bc6464","type":"function","z":"48f599d9.205668","name":"생산하지 않은 수량","func":"msg.payload=msg.payload.yet\nmsg.topic=\"yet\"\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":920,"wires":[[]]},{"id":"c814365a.cf1748","type":"function","z":"48f599d9.205668","name":"불량 수량","func":"msg.payload=msg.payload.failure\nmsg.topic=\"failure\"\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":1000,"wires":[["d36df8e9.0b0b68","423c122e.9e50cc"]]},{"id":"1c0bd915.0e1397","type":"function","z":"48f599d9.205668","name":"양품 수량","func":"msg.payload=msg.payload.good\nmsg.topic=\"good\"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":1080,"wires":[["423c122e.9e50cc"]]},{"id":"177ef587.ab628a","type":"function","z":"48f599d9.205668","name":"생산수량","func":"msg.payload=msg.payload.produce\nmsg.topic=\"produce\"\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":1140,"wires":[["5f32f9cd.9bbbc8"]]},{"id":"258b8699.2afe7a","type":"function","z":"48f599d9.205668","name":"생산해야할 수량","func":"msg.payload=msg.payload.toproduce\nmsg.topic=\"toproduce\"\nreturn msg","outputs":1,"noerr":0,"x":750,"y":1260,"wires":[[]]},{"id":"b0b2c6d1.6c0988","type":"ui_text","z":"48f599d9.205668","group":"4b81906d.fce73","order":2,"width":0,"height":0,"name":"","label":"샷","format":"{{msg.payload}}회","layout":"row-spread","x":1190,"y":1340,"wires":[]},{"id":"2d9d7772.1b5d98","type":"function","z":"48f599d9.205668","name":"캐비티 계산","func":"toproduce=msg.payload.toproduce\ncavity=msg.payload.cavity\nmsg={payload:(toproduce/cavity)}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1340,"wires":[["b0b2c6d1.6c0988"]]},{"id":"4235b177.4369a","type":"link in","z":"48f599d9.205668","name":"","links":["a06cdd8b.46fb7","ecc5b76d.bfb818"],"x":355,"y":1000,"wires":[["6140ebca.e1dda4"]]},{"id":"f24b5ef4.3d927","type":"link in","z":"48f599d9.205668","name":"","links":["61512c44.3b1464","e9a7c73e.6c7a68"],"x":515,"y":1140,"wires":[[]]},{"id":"111d5d43.b6b823","type":"link in","z":"48f599d9.205668","name":"","links":["2c8061dc.4f60be","f46b53e2.1dd72"],"x":515,"y":1200,"wires":[[]]},{"id":"d36df8e9.0b0b68","type":"ui_text","z":"48f599d9.205668","group":"4b81906d.fce73","order":2,"width":0,"height":0,"name":"","label":"불량","format":"{{msg.payload}}개","layout":"row-spread","x":1170,"y":1000,"wires":[]},{"id":"cdfaaeb9.21e7e","type":"function","z":"48f599d9.205668","name":"setting","func":"\nvar middle = msg.payload.settemp ;\nvar minus = msg.payload.lower ;\nvar plus = msg.payload.upper ;\n\n\nmsg ={payload:msg.payload.nowtemp,ui_control:{min:middle-(minus*2),max:(middle+(plus*2)),seg1:(middle-minus),seg2:(middle+plus)}};\nreturn msg","outputs":1,"noerr":0,"x":690,"y":299,"wires":[["e9529c2e.f9e05"]]},{"id":"a56e92ca.b26a8","type":"link in","z":"48f599d9.205668","name":"","links":[],"x":555,"y":300,"wires":[["cdfaaeb9.21e7e"]]},{"id":"913003f3.b6e7c","type":"function","z":"48f599d9.205668","name":"setting","func":"\nvar middle = msg.payload.settemp ;\nvar minus = msg.payload.lower ;\nvar plus = msg.payload.upper ;\n\n\nmsg ={payload:msg.payload.nowtemp,ui_control:{min:middle-(minus*2),max:(middle+(plus*2)),seg1:(middle-minus),seg2:(middle+plus)}};\nreturn msg","outputs":1,"noerr":0,"x":710,"y":459,"wires":[["61bea5df.43e37c"]]},{"id":"67c6e0a7.c9104","type":"link in","z":"48f599d9.205668","name":"","links":[],"x":575,"y":460,"wires":[["913003f3.b6e7c"]]},{"id":"48fe9e5.ee53b6","type":"function","z":"48f599d9.205668","name":"setting","func":"\nvar middle = msg.payload.settemp ;\nvar minus = msg.payload.lower ;\nvar plus = msg.payload.upper ;\n\n\nmsg ={payload:msg.payload.nowtemp,ui_control:{min:middle-(minus*2),max:(middle+(plus*2)),seg1:(middle-minus),seg2:(middle+plus)}};\nreturn msg","outputs":1,"noerr":0,"x":710,"y":619,"wires":[["2aa4b475.cda41c"]]},{"id":"6207e603.3bb5d8","type":"link in","z":"48f599d9.205668","name":"","links":[],"x":575,"y":620,"wires":[["48fe9e5.ee53b6"]]},{"id":"9ead01f0.abcd9","type":"function","z":"48f599d9.205668","name":"setting","func":"\nvar middle = msg.payload.settemp ;\nvar minus = msg.payload.lower ;\nvar plus = msg.payload.upper ;\n\n\nmsg ={payload:msg.payload.nowtemp,ui_control:{min:middle-(minus*2),max:(middle+(plus*2)),seg1:(middle-minus),seg2:(middle+plus)}};\nreturn msg","outputs":1,"noerr":0,"x":730,"y":779,"wires":[["bae5a1ea.a0db"]]},{"id":"f293ba1c.7fb378","type":"link in","z":"48f599d9.205668","name":"","links":[],"x":595,"y":779,"wires":[["9ead01f0.abcd9"]]},{"id":"ba2e57ac.678668","type":"function","z":"48f599d9.205668","name":"setting","func":"\nvar middle = msg.payload.settemp ;\nvar minus = msg.payload.lower ;\nvar plus = msg.payload.upper ;\n\n\nmsg ={payload:msg.payload.nowtemp,ui_control:{min:middle-(minus*2),max:(middle+(plus*2)),seg1:(middle-minus),seg2:(middle+plus)}};\nreturn msg","outputs":1,"noerr":0,"x":1190,"y":139,"wires":[["4a5b8d94.9d6f84"]]},{"id":"2a2d8ac5.f65876","type":"link in","z":"48f599d9.205668","name":"","links":[],"x":1055,"y":139,"wires":[["ba2e57ac.678668"]]},{"id":"761e25cc.c5432c","type":"function","z":"48f599d9.205668","name":"setting","func":"\nvar middle = msg.payload.settemp ;\nvar minus = msg.payload.lower ;\nvar plus = msg.payload.upper ;\n\n\nmsg ={payload:msg.payload.nowtemp,ui_control:{min:middle-(minus*2),max:(middle+(plus*2)),seg1:(middle-minus),seg2:(middle+plus)}};\nreturn msg","outputs":1,"noerr":0,"x":1130,"y":340,"wires":[["67beaf8a.08206"]]},{"id":"f870b548.8df7c8","type":"function","z":"48f599d9.205668","name":"setting","func":"\nvar middle = msg.payload.settemp ;\nvar minus = msg.payload.lower ;\nvar plus = msg.payload.upper ;\n\n\nmsg ={payload:msg.payload.nowtemp,ui_control:{min:middle-(minus*2),max:(middle+(plus*2)),seg1:(middle-minus),seg2:(middle+plus)}};\nreturn msg","outputs":1,"noerr":0,"x":1190,"y":460,"wires":[["46253081.044e6"]]},{"id":"d08f26bd.f35338","type":"link in","z":"48f599d9.205668","name":"","links":[],"x":1055,"y":459,"wires":[["f870b548.8df7c8"]]},{"id":"f22b09b5.b6f108","type":"function","z":"48f599d9.205668","name":"setting","func":"\nvar middle = msg.payload.settemp ;\nvar minus = msg.payload.lower ;\nvar plus = msg.payload.upper ;\n\n\nmsg ={payload:msg.payload.nowtemp,ui_control:{min:middle-(minus*2),max:(middle+(plus*2)),seg1:(middle-minus),seg2:(middle+plus)}};\nreturn msg","outputs":1,"noerr":0,"x":1190,"y":619,"wires":[["656cd233.06742c"]]},{"id":"c8e239d4.c32d28","type":"link in","z":"48f599d9.205668","name":"","links":[],"x":1055,"y":619,"wires":[["f22b09b5.b6f108"]]},{"id":"119b6e57.92eb52","type":"function","z":"48f599d9.205668","name":"setting","func":"\nvar middle = msg.payload.settemp ;\nvar minus = msg.payload.lower ;\nvar plus = msg.payload.upper ;\n\n\nmsg ={payload:msg.payload.nowtemp,ui_control:{min:middle-(minus*2),max:(middle+(plus*2)),seg1:(middle-minus),seg2:(middle+plus)}};\nreturn msg","outputs":1,"noerr":0,"x":1210,"y":779,"wires":[["f12f345d.5b2198"]]},{"id":"a124f2ac.24508","type":"link in","z":"48f599d9.205668","name":"","links":[],"x":1075,"y":779,"wires":[["119b6e57.92eb52"]]},{"id":"6f72fb9b.f44754","type":"function","z":"48f599d9.205668","name":"1","func":"msg.payload=msg.payload.zone1\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":180,"wires":[["ba2e57ac.678668"]]},{"id":"b7dc96f3.5e1548","type":"function","z":"48f599d9.205668","name":"2","func":"msg.payload=msg.payload.zone2\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["41c177d2.25ad58"]]},{"id":"80b3f2b0.bb335","type":"function","z":"48f599d9.205668","name":"3","func":"msg.payload=msg.payload.zone3\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["cdfaaeb9.21e7e"]]},{"id":"c9633ffc.4f1d1","type":"function","z":"48f599d9.205668","name":"4","func":"msg.payload=msg.payload.zone4\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["761e25cc.c5432c"]]},{"id":"79f55860.d16e88","type":"function","z":"48f599d9.205668","name":"5","func":"msg.payload=msg.payload.zone5\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["913003f3.b6e7c"]]},{"id":"1b50d758.728059","type":"function","z":"48f599d9.205668","name":"6","func":"msg.payload=msg.payload.zone6\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["f870b548.8df7c8"]]},{"id":"ebf12512.bd45b8","type":"function","z":"48f599d9.205668","name":"7","func":"msg.payload=msg.payload.zone7\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["48fe9e5.ee53b6"]]},{"id":"a25ed6a6.5c5a38","type":"function","z":"48f599d9.205668","name":"8","func":"msg.payload=msg.payload.zone8\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":460,"wires":[["f22b09b5.b6f108"]]},{"id":"7f55d86e.74c868","type":"function","z":"48f599d9.205668","name":"9","func":"msg.payload=msg.payload.zone9\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":500,"wires":[["9ead01f0.abcd9"]]},{"id":"e8829c6b.2b75d","type":"function","z":"48f599d9.205668","name":"10","func":"msg.payload=msg.payload.zone10\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":540,"wires":[["119b6e57.92eb52"]]},{"id":"dc82da96.cf27a8","type":"function","z":"48f599d9.205668","name":"11","func":"msg.payload=msg.payload.zone11\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":580,"wires":[["6140ebca.e1dda4"]]},{"id":"12aa1c4e.41d6e4","type":"function","z":"48f599d9.205668","name":"","func":"return msg ;;","outputs":1,"noerr":0,"x":190,"y":360,"wires":[["6f72fb9b.f44754","b7dc96f3.5e1548","80b3f2b0.bb335","c9633ffc.4f1d1","79f55860.d16e88","1b50d758.728059","ebf12512.bd45b8","a25ed6a6.5c5a38","7f55d86e.74c868","e8829c6b.2b75d","dc82da96.cf27a8"]]},{"id":"41c177d2.25ad58","type":"function","z":"48f599d9.205668","name":"setting","func":"\nvar middle = msg.payload.settemp ;\nvar minus = msg.payload.lower ;\nvar plus = msg.payload.upper ;\n\n\nmsg ={payload:msg.payload.nowtemp,ui_control:{min:middle-(minus*2),max:(middle+(plus*2)),seg1:(middle-minus),seg2:(middle+plus)}};\nreturn msg","outputs":1,"noerr":0,"x":690,"y":200,"wires":[["56fda8e3.755f18"]]},{"id":"6140ebca.e1dda4","type":"function","z":"48f599d9.205668","name":"","func":"var myjson={\n    \n  \"yet\": \"\",\n  \"failure\": \"\",\n  \"toproduce\": \"\",\n  \"good\": \"\",\n  \"produce\": \"\",\n  \"plan\": \"\",\n  \"cavity\": \"\"\n\n};\n\nvar plan=msg.payload.planqty;\nvar good=msg.payload.goodqty;\nvar prod=msg.payload.prodqty;\nvar cavity=msg.payload.cavity;\n\nmyjson.yet=plan-prod;\nmyjson.failure=prod-good;\nmyjson.toproduce=myjson.yet+myjson.failure;\nmyjson.good=good;\nmyjson.produce=prod;\nmyjson.plan=plan;\nmyjson.cavity=cavity;\n\nmsg.payload=myjson;\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":860,"wires":[["5e0aabcb.bc6464","c814365a.cf1748","1c0bd915.0e1397","177ef587.ab628a","bb557aec.ba4c78","258b8699.2afe7a","2d9d7772.1b5d98","1cde3eeb.8322d1"]]},{"id":"d80f39f1.455c28","type":"ui_text","z":"48f599d9.205668","group":"4b81906d.fce73","order":3,"width":0,"height":0,"name":"","label":"목표","format":"{{msg.payload}}개","layout":"row-spread","x":1170,"y":1200,"wires":[]},{"id":"5f32f9cd.9bbbc8","type":"ui_text","z":"48f599d9.205668","group":"4b81906d.fce73","order":4,"width":0,"height":0,"name":"","label":"현재 생산","format":"{{msg.payload}}개","layout":"row-spread","x":1180,"y":1140,"wires":[]},{"id":"36bcf363.cc24ac","type":"ui_text","z":"48f599d9.205668","group":"4b81906d.fce73","order":2,"width":0,"height":0,"name":"","label":"캐비티","format":"{{msg.payload}}","layout":"row-spread","x":1190,"y":1400,"wires":[]},{"id":"1cde3eeb.8322d1","type":"function","z":"48f599d9.205668","name":"","func":"cavity=msg.payload.cavity\nmsg.payload=cavity\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1400,"wires":[["36bcf363.cc24ac"]]},{"id":"481240c5.991eb","type":"chartjs-polar","z":"48f599d9.205668","name":"Population Chart","path":"POL","charttitle":"Population Chart","xaxis":"product","yaxis":"Percentage [%]","x":1230,"y":1460,"wires":[[]]},{"id":"423c122e.9e50cc","type":"function","z":"48f599d9.205668","name":"","func":"\nvar failure = context.get(\"lastinputf\") || \"\";\nvar passed = context.get(\"lastinputp\") || \"\";\nvar goal = context.get(\"lastinputg\")||\"\";\n\nif (msg.topic==\"failure\")   {\n    failure=msg.payload;\n    context.set(\"lastinputf\",failure);\n}\n\nelse if (msg.topic==\"good\")  {\n    passed=msg.payload;\n    context.set(\"lastinputp\",passed);\n}\n\nelse if (msg.topic==\"plan\")   {\n    goal=msg.payload;\n    context.set(\"lastinputg\",goal);\n}\n\nmsg.payload={\"channel\":\"charts\",\"color\":[\"Black\",\"Green\",\"Red\"],\"dataset\":[{\"x\":\"plan\",\"y\":goal},{\"x\":\"good\",\"y\":passed},{\"x\":\"failure\",\"y\":failure}]}\nreturn msg","outputs":1,"noerr":0,"x":710,"y":1460,"wires":[["481240c5.991eb"]]},{"id":"3b48b362.38eafc","type":"link in","z":"48f599d9.205668","name":"","links":["f18b0d1c.f02a1"],"x":100,"y":300,"wires":[["12aa1c4e.41d6e4"]]},{"id":"d92bea7c.9f5ea8","type":"tab","label":"플로우 3","disabled":true,"info":""},{"id":"e6ed455a.68fd18","type":"ui_chart","z":"d92bea7c.9f5ea8","name":"chart2","group":"c66494d8.d40a18","order":3,"width":0,"height":0,"label":"chart2","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":140,"wires":[[]]},{"id":"7094b8cf.3cef68","type":"ui_chart","z":"d92bea7c.9f5ea8","name":"chart3","group":"33b05a09.0c7d76","order":4,"width":0,"height":0,"label":"chart3","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":180,"wires":[[]]},{"id":"51affb90.5aea74","type":"ui_chart","z":"d92bea7c.9f5ea8","name":"chart4","group":"33b05a09.0c7d76","order":8,"width":0,"height":0,"label":"chart4","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":220,"wires":[[]]},{"id":"f08cd1a3.7e78","type":"ui_chart","z":"d92bea7c.9f5ea8","name":"chart5","group":"2d187c3b.3b2bb4","order":4,"width":0,"height":0,"label":"chart5","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":260,"wires":[[]]},{"id":"78084fb2.de621","type":"ui_chart","z":"d92bea7c.9f5ea8","name":"chart6","group":"2d187c3b.3b2bb4","order":5,"width":0,"height":0,"label":"chart6","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":300,"wires":[[]]},{"id":"539237b6.da49b8","type":"ui_chart","z":"d92bea7c.9f5ea8","name":"chart7","group":"bea58940.5c9ac8","order":6,"width":0,"height":0,"label":"chart7","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":340,"wires":[[]]},{"id":"6f2e0489.f9a49c","type":"ui_chart","z":"d92bea7c.9f5ea8","name":"chart8","group":"bea58940.5c9ac8","order":7,"width":0,"height":0,"label":"chart8","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":380,"wires":[[]]},{"id":"cdbd77e2.34f7b8","type":"ui_chart","z":"d92bea7c.9f5ea8","name":"chart9","group":"3a1d6d54.078642","order":8,"width":0,"height":0,"label":"chart9","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":420,"wires":[[]]},{"id":"d2bb45.825fe4b8","type":"ui_chart","z":"d92bea7c.9f5ea8","name":"chart10","group":"3a1d6d54.078642","order":9,"width":0,"height":0,"label":"chart10","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1220,"y":460,"wires":[[]]},{"id":"3d0b7d41.0bf972","type":"ui_dropdown","z":"d92bea7c.9f5ea8","name":"","label":"","tooltip":"","place":"Select option","group":"c66494d8.d40a18","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"초","value":"s","type":"str"},{"label":"분","value":"mm","type":"str"},{"label":"시간","value":"HH","type":"str"},{"label":"일/달","value":"D/M","type":"str"},{"label":"년","value":"YYYY","type":"str"}],"payload":"","topic":"dropdown","x":420,"y":100,"wires":[["21594d61.4c9632","9bf8742d.efe8c8"]]},{"id":"ac648f7a.38b58","type":"ui_chart","z":"d92bea7c.9f5ea8","name":"chart1","group":"c66494d8.d40a18","order":1,"width":0,"height":0,"label":"chart1","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1210,"y":100,"wires":[[]]},{"id":"21594d61.4c9632","type":"function","z":"d92bea7c.9f5ea8","name":"","func":"var xaxis = context.get(\"lastinputx\") || \"\";\n\nif(msg.topic == \"dropdown\"){\n    xaxis=msg.payload;\n    context.set(\"lastinputx\",xaxis);\n}\n\n\n\nmsg={ui_control:{xformat:xaxis}};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":100,"wires":[["ac648f7a.38b58"]]},{"id":"9bf8742d.efe8c8","type":"function","z":"d92bea7c.9f5ea8","name":"","func":"var xaxis = context.get(\"lastinputx\") || \"\";\n\nif(msg.topic == \"dropdown\"){\n    xaxis=msg.payload;\n    context.set(\"lastinputx\",xaxis);\n}\n\n\n\n\nmsg={ui_control:{xformat:xaxis}};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":140,"wires":[["e6ed455a.68fd18"]]},{"id":"23246333.e6e9ac","type":"function","z":"d92bea7c.9f5ea8","name":"","func":"var xaxis = context.get(\"lastinputx\") || \"\";\n\nif(msg.topic == \"dropdown\"){\n    xaxis=msg.payload;\n    context.set(\"lastinputx\",xaxis);\n}\n\n\nmsg={ui_control:{xformat:xaxis}};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":180,"wires":[["7094b8cf.3cef68"]]},{"id":"ef68aeaf.7a62f","type":"ui_dropdown","z":"d92bea7c.9f5ea8","name":"","label":"","tooltip":"","place":"Select option","group":"33b05a09.0c7d76","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"초","value":"s","type":"str"},{"label":"분","value":"mm","type":"str"},{"label":"시간","value":"HH","type":"str"},{"label":"일/달","value":"D/M","type":"str"},{"label":"년","value":"YYYY","type":"str"}],"payload":"","topic":"dropdown","x":420,"y":180,"wires":[["23246333.e6e9ac","575551ef.76963"]]},{"id":"b41bbcf0.fa132","type":"ui_dropdown","z":"d92bea7c.9f5ea8","name":"","label":"","tooltip":"","place":"Select option","group":"2d187c3b.3b2bb4","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"초","value":"s","type":"str"},{"label":"분","value":"mm","type":"str"},{"label":"시간","value":"HH","type":"str"},{"label":"일/달","value":"D/M","type":"str"},{"label":"년","value":"YYYY","type":"str"}],"payload":"","topic":"dropdown","x":420,"y":260,"wires":[["87a3e674.528518","53273ac.84265c4"]]},{"id":"49280825.6d47c8","type":"ui_dropdown","z":"d92bea7c.9f5ea8","name":"","label":"","tooltip":"","place":"Select option","group":"bea58940.5c9ac8","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"초","value":"s","type":"str"},{"label":"분","value":"mm","type":"str"},{"label":"시간","value":"HH","type":"str"},{"label":"일/달","value":"D/M","type":"str"},{"label":"년","value":"YYYY","type":"str"}],"payload":"","topic":"dropdown","x":420,"y":340,"wires":[["bb9e0672.6407b8","e243bcb9.fce87"]]},{"id":"e91bfc28.6750e","type":"ui_dropdown","z":"d92bea7c.9f5ea8","name":"","label":"","tooltip":"","place":"Select option","group":"3a1d6d54.078642","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"초","value":"s","type":"str"},{"label":"분","value":"mm","type":"str"},{"label":"시간","value":"HH","type":"str"},{"label":"일/달","value":"D/M","type":"str"},{"label":"년","value":"YYYY","type":"str"}],"payload":"","topic":"dropdown","x":420,"y":420,"wires":[["52486217.d99fac","331e4706.f86528"]]},{"id":"575551ef.76963","type":"function","z":"d92bea7c.9f5ea8","name":"","func":"var xaxis = context.get(\"lastinputx\") || \"\";\n\nif(msg.topic == \"dropdown\"){\n    xaxis=msg.payload;\n    context.set(\"lastinputx\",xaxis);\n}\n\n\nmsg={ui_control:{xformat:xaxis}};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":220,"wires":[["51affb90.5aea74"]]},{"id":"87a3e674.528518","type":"function","z":"d92bea7c.9f5ea8","name":"","func":"var xaxis = context.get(\"lastinputx\") || \"\";\n\nif(msg.topic == \"dropdown\"){\n    xaxis=msg.payload;\n    context.set(\"lastinputx\",xaxis);\n}\n\n\nmsg={ui_control:{xformat:xaxis}};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":260,"wires":[["f08cd1a3.7e78"]]},{"id":"53273ac.84265c4","type":"function","z":"d92bea7c.9f5ea8","name":"","func":"var xaxis = context.get(\"lastinputx\") || \"\";\n\nif(msg.topic == \"dropdown\"){\n    xaxis=msg.payload;\n    context.set(\"lastinputx\",xaxis);\n}\n\n\nmsg={ui_control:{xformat:xaxis}};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":300,"wires":[["78084fb2.de621"]]},{"id":"bb9e0672.6407b8","type":"function","z":"d92bea7c.9f5ea8","name":"","func":"var xaxis = context.get(\"lastinputx\") || \"\";\n\nif(msg.topic == \"dropdown\"){\n    xaxis=msg.payload;\n    context.set(\"lastinputx\",xaxis);\n}\n\n\nmsg={ui_control:{xformat:xaxis}};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["539237b6.da49b8"]]},{"id":"e243bcb9.fce87","type":"function","z":"d92bea7c.9f5ea8","name":"","func":"var xaxis = context.get(\"lastinputx\") || \"\";\n\nif(msg.topic == \"dropdown\"){\n    xaxis=msg.payload;\n    context.set(\"lastinputx\",xaxis);\n}\n\n\nmsg={ui_control:{xformat:xaxis}};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":380,"wires":[["6f2e0489.f9a49c"]]},{"id":"52486217.d99fac","type":"function","z":"d92bea7c.9f5ea8","name":"","func":"var xaxis = context.get(\"lastinputx\") || \"\";\n\nif(msg.topic == \"dropdown\"){\n    xaxis=msg.payload;\n    context.set(\"lastinputx\",xaxis);\n}\n\n\nmsg={ui_control:{xformat:xaxis}};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":420,"wires":[["cdbd77e2.34f7b8"]]},{"id":"331e4706.f86528","type":"function","z":"d92bea7c.9f5ea8","name":"","func":"var xaxis = context.get(\"lastinputx\") || \"\";\n\nif(msg.topic == \"dropdown\"){\n    xaxis=msg.payload;\n    context.set(\"lastinputx\",xaxis);\n}\n\n\nmsg={ui_control:{xformat:xaxis}};\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":460,"wires":[["d2bb45.825fe4b8"]]},{"id":"ca694556.b43878","type":"ui_button","z":"d92bea7c.9f5ea8","name":"","group":"7f522ffc.59311","order":0,"width":0,"height":0,"passthru":false,"label":"clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":210,"y":240,"wires":[["ac648f7a.38b58","e6ed455a.68fd18","7094b8cf.3cef68","51affb90.5aea74","f08cd1a3.7e78","78084fb2.de621","539237b6.da49b8","6f2e0489.f9a49c","cdbd77e2.34f7b8","d2bb45.825fe4b8"]]},{"id":"1da9dbfe.e1a9e4","type":"link in","z":"d92bea7c.9f5ea8","name":"","links":["5908b508.ac2d1c","c6bea6c5.0c3fb8"],"x":955,"y":80,"wires":[["ac648f7a.38b58"]]},{"id":"13d4c03f.acacf","type":"link in","z":"d92bea7c.9f5ea8","name":"","links":["23ad082e.0ff9b8"],"x":956,"y":125,"wires":[["e6ed455a.68fd18"]]},{"id":"c5fd1397.3a21c","type":"link in","z":"d92bea7c.9f5ea8","name":"","links":["ab8413ed.3d59e","3d951ee3.a72e62","d9b12422.9beb68"],"x":955,"y":160,"wires":[["7094b8cf.3cef68"]]},{"id":"fc50b654.f5ccf8","type":"link in","z":"d92bea7c.9f5ea8","name":"","links":["ad4ac964.6f35c8","8505a83.6e3ce58"],"x":955,"y":200,"wires":[["51affb90.5aea74"]]},{"id":"55c224d9.8979bc","type":"link in","z":"d92bea7c.9f5ea8","name":"","links":["77655780.7e28c8","2ccda27c.9ed80e","726a52c1.5ac05c"],"x":955,"y":240,"wires":[["f08cd1a3.7e78"]]},{"id":"5eea85ef.919cec","type":"link in","z":"d92bea7c.9f5ea8","name":"","links":["7040882a.7d3638","ac87d120.0197c"],"x":955,"y":280,"wires":[["78084fb2.de621"]]},{"id":"91d90736.516df8","type":"link in","z":"d92bea7c.9f5ea8","name":"","links":["eb48166f.673108","6dca7cf9.b7c704","f3c676b0.46e4c8"],"x":955,"y":320,"wires":[["539237b6.da49b8"]]},{"id":"c2b53c1b.4afdb","type":"link in","z":"d92bea7c.9f5ea8","name":"","links":["6f040eb8.a83f7","e5ece9a2.f20a88"],"x":955,"y":360,"wires":[["6f2e0489.f9a49c"]]},{"id":"b17b25c4.7cf3a8","type":"link in","z":"d92bea7c.9f5ea8","name":"","links":["38bdb949.e8af26","c0c16d03.cc64c","9f178c3d.d8b9b"],"x":955,"y":400,"wires":[["cdbd77e2.34f7b8"]]},{"id":"a0e6afa6.b038b","type":"link in","z":"d92bea7c.9f5ea8","name":"","links":["bb20fb1.83e0b08","c6bc26e5.a7fda8"],"x":955,"y":440,"wires":[["d2bb45.825fe4b8"]]},{"id":"55d3f2ba.c296ac","type":"serial-port","z":"","serialport":"COM3","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"10","bin":"bin","out":"time","addchar":"","responsetimeout":"100"},{"id":"f0ba3b75.06a518","type":"ui_group","z":"","name":"gauge1","tab":"4547c407.e05b5c","disp":true,"width":"6","collapse":false},{"id":"978560a5.4f433","type":"ui_group","z":"","name":"gaugemain2","tab":"4547c407.e05b5c","disp":true,"width":"6","collapse":false},{"id":"2df22dff.33ce02","type":"ui_group","z":"","name":"gaugemain3","tab":"4547c407.e05b5c","disp":true,"width":"6","collapse":false},{"id":"340c4b1d.c2aa94","type":"ui_group","z":"","name":"gaugemain4","tab":"4547c407.e05b5c","disp":true,"width":"6","collapse":false},{"id":"39c1c35.c15023c","type":"ui_group","z":"","name":"gaugemain5","tab":"4547c407.e05b5c","disp":true,"width":"6","collapse":false},{"id":"4b81906d.fce73","type":"ui_group","z":"","name":"cavity","tab":"4547c407.e05b5c","disp":true,"width":"6","collapse":false},{"id":"c66494d8.d40a18","type":"ui_group","z":"","name":"chartmain1","tab":"ee743636.186478","disp":true,"width":"6","collapse":false},{"id":"33b05a09.0c7d76","type":"ui_group","z":"","name":"chartmain2","tab":"ee743636.186478","disp":true,"width":"6","collapse":false},{"id":"2d187c3b.3b2bb4","type":"ui_group","z":"","name":"chartmain3","tab":"ee743636.186478","disp":true,"width":"6","collapse":false},{"id":"bea58940.5c9ac8","type":"ui_group","z":"","name":"chartmain4","tab":"ee743636.186478","disp":true,"width":"6","collapse":false},{"id":"3a1d6d54.078642","type":"ui_group","z":"","name":"chartmain5","tab":"ee743636.186478","disp":true,"width":"6","collapse":false},{"id":"7f522ffc.59311","type":"ui_group","z":"","name":"","tab":"ee743636.186478","disp":true,"width":"6","collapse":false},{"id":"4547c407.e05b5c","type":"ui_tab","z":"","name":"tab1","icon":"dashboard","disabled":false,"hidden":false},{"id":"ee743636.186478","type":"ui_tab","z":"","name":"tab2","icon":"dashboard","disabled":false,"hidden":false}]
