Cyber_Tech_Friend Freelancer/flow/프로토콜 통합.json
[{"id":"e89a38ad.2cd6c8","type":"tab","label":"프로토콜 통합","disabled":false,"info":""},{"id":"e4fef204.b65c4","type":"function","z":"e89a38ad.2cd6c8","name":"msg maker (global count)","func":"var count = global.get('count') || 0;\ncount += 1 ;\nglobal.set('count',count);\n\nif((count%6)===0) {\n  msg.payload = String.fromCharCode(0x02, 0x01, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n} else if((count%6)===1) {\n  msg.payload = String.fromCharCode(0x02, 0x02, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n} else if((count%6)===2) {\n  msg.payload = String.fromCharCode(0x02, 0x03, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n} else if((count%6)===3) {\n  msg.payload = String.fromCharCode(0x02, 0x04, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n} else if((count%6)===4) {\n  msg.payload = String.fromCharCode(0x02, 0x05, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\n} else if((count%6)===5) {\n  msg.payload = String.fromCharCode(0x02, 0x06, 0x41, 0x00, 0x00, 0x00, 0x00, 0x03);\n}\nreturn msg ;\n","outputs":1,"noerr":0,"x":630,"y":40,"wires":[["de5d5540.073868"]]},{"id":"a5514d25.6020e","type":"function","z":"e89a38ad.2cd6c8","name":"SMART-Q Data Array","func":"var count = global.get('count') || 0;\nif((count%6)!=5) {\n  var str = msg.payload ;\n  var resultlist = [str.length] ;\n  \n  for (i = 0; i<str.length; i++) {\n    hex = str.charCodeAt(i).toString(16);\n    resultlist.push((\"0\"+hex).slice(-2)) ;\n  }\n  \n  msg.payload = resultlist ;\n  return msg ;\n} else {\n  msg.payload = NaN ;\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":2160,"y":740,"wires":[["4cd703fe.555cdc","23bdee07.401912","7e78b969.201f78","22417ff9.fe474","f8eff30a.c2df5","3f082a9f.f60f16","65e5a7f7.9a2308","c2c3d328.89dcc","f0d7ab62.cebf78","da56179f.2626d8","763dd493.5e6bac","957530f3.15c74","943d3d30.8509","520b6039.78b2","d384316f.60842","98147138.4212b","1bbea07b.36f04","7b8ad023.82908","61ae3d8d.e19a14","3153778.33af488","6d08fd4b.1106e4","be0cca10.3c85e8"]]},{"id":"de5d5540.073868","type":"serial out","z":"e89a38ad.2cd6c8","name":"","serial":"cd397e18.e955f","x":850,"y":40,"wires":[]},{"id":"6c5b162f.420be8","type":"serial in","z":"e89a38ad.2cd6c8","name":"","serial":"cd397e18.e955f","x":90,"y":300,"wires":[["cde7760c.8a6b58"]]},{"id":"4cd703fe.555cdc","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2450,"y":260,"wires":[]},{"id":"23bdee07.401912","type":"function","z":"e89a38ad.2cd6c8","name":"2(ID)","func":"var result = parseInt(msg.payload[2], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2430,"y":440,"wires":[["5e0fc463.6c2c7c"]]},{"id":"5e0fc463.6c2c7c","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2650,"y":440,"wires":[]},{"id":"f8eff30a.c2df5","type":"function","z":"e89a38ad.2cd6c8","name":"3(0x31)","func":"var result = parseInt(msg.payload[3], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2440,"y":500,"wires":[["887d6a5d.b19f88"]]},{"id":"887d6a5d.b19f88","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2650,"y":500,"wires":[]},{"id":"3f082a9f.f60f16","type":"function","z":"e89a38ad.2cd6c8","name":"4(Disp No.)","func":"var result = parseInt(msg.payload[4], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2450,"y":560,"wires":[["a16dc62c.904ce8"]]},{"id":"a16dc62c.904ce8","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2650,"y":560,"wires":[]},{"id":"65e5a7f7.9a2308","type":"function","z":"e89a38ad.2cd6c8","name":"5Error No.)","func":"var result = parseInt(msg.payload[5], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2450,"y":620,"wires":[["33000fef.dd18c"]]},{"id":"33000fef.dd18c","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2650,"y":620,"wires":[]},{"id":"c2c3d328.89dcc","type":"function","z":"e89a38ad.2cd6c8","name":"6, 7(현재온도)","func":"var result = parseInt(msg.payload[6].concat(msg.payload[7]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2460,"y":680,"wires":[["1c1287dc.863508"]]},{"id":"1c1287dc.863508","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2650,"y":680,"wires":[]},{"id":"22417ff9.fe474","type":"function","z":"e89a38ad.2cd6c8","name":"1(0x02)","func":"var result = parseInt(msg.payload[1], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2440,"y":380,"wires":[["e876efac.619a6"]]},{"id":"e876efac.619a6","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2650,"y":380,"wires":[]},{"id":"7e78b969.201f78","type":"function","z":"e89a38ad.2cd6c8","name":"length","func":"var result = msg.payload[0] ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2430,"y":320,"wires":[["3ff0f954.bdd816"]]},{"id":"3ff0f954.bdd816","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2650,"y":320,"wires":[]},{"id":"f0d7ab62.cebf78","type":"function","z":"e89a38ad.2cd6c8","name":"14(옵셋값)","func":"var result = parseInt(msg.payload[14], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2450,"y":920,"wires":[["e5018854.687a08"]]},{"id":"e5018854.687a08","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2650,"y":920,"wires":[]},{"id":"da56179f.2626d8","type":"function","z":"e89a38ad.2cd6c8","name":"15(옵셋부호)","func":"var result = parseInt(msg.payload[15], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2450,"y":980,"wires":[["8bc4d9a1.6f3af8"]]},{"id":"763dd493.5e6bac","type":"function","z":"e89a38ad.2cd6c8","name":"27(BCC)","func":"var result = parseInt(msg.payload[27], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2860,"y":1040,"wires":[["9a1d0c6d.53158"]]},{"id":"9a1d0c6d.53158","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3070,"y":1040,"wires":[]},{"id":"957530f3.15c74","type":"function","z":"e89a38ad.2cd6c8","name":"28(0x03)","func":"var result = parseInt(msg.payload[28], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2860,"y":1100,"wires":[["de8619a3.fdbf38"]]},{"id":"de8619a3.fdbf38","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3070,"y":1100,"wires":[]},{"id":"943d3d30.8509","type":"function","z":"e89a38ad.2cd6c8","name":"8, 9(세팅온도)","func":"var result = parseInt(msg.payload[8].concat(msg.payload[9]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2460,"y":740,"wires":[["da5324bb.4a2428"]]},{"id":"da5324bb.4a2428","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2650,"y":740,"wires":[]},{"id":"520b6039.78b2","type":"function","z":"e89a38ad.2cd6c8","name":"10, 11(상한값)","func":"var result = parseInt(msg.payload[10].concat(msg.payload[11]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2460,"y":800,"wires":[["3615677d.64ba18"]]},{"id":"3615677d.64ba18","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2650,"y":800,"wires":[]},{"id":"d384316f.60842","type":"function","z":"e89a38ad.2cd6c8","name":"12, 13(하한값)","func":"var result = parseInt(msg.payload[12].concat(msg.payload[13]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2460,"y":860,"wires":[["883dbadb.d0fea8"]]},{"id":"883dbadb.d0fea8","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2650,"y":860,"wires":[]},{"id":"8bc4d9a1.6f3af8","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2650,"y":980,"wires":[]},{"id":"98147138.4212b","type":"function","z":"e89a38ad.2cd6c8","name":"16(Error No.)","func":"var result = parseInt(msg.payload[16], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2870,"y":620,"wires":[["be83955a.e7e468"]]},{"id":"be83955a.e7e468","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3070,"y":620,"wires":[]},{"id":"1bbea07b.36f04","type":"function","z":"e89a38ad.2cd6c8","name":"17, 18(현재온도)","func":"var result = parseInt(msg.payload[17].concat(msg.payload[18]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2890,"y":680,"wires":[["d3893eed.95296"]]},{"id":"d3893eed.95296","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3070,"y":680,"wires":[]},{"id":"6d08fd4b.1106e4","type":"function","z":"e89a38ad.2cd6c8","name":"25(옵셋값)","func":"var result = parseInt(msg.payload[25], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2870,"y":920,"wires":[["d4f922d5.1c833"]]},{"id":"d4f922d5.1c833","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3070,"y":920,"wires":[]},{"id":"be0cca10.3c85e8","type":"function","z":"e89a38ad.2cd6c8","name":"26(옵셋부호)","func":"var result = parseInt(msg.payload[26], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2870,"y":980,"wires":[["57b9f5bc.3ad8ec"]]},{"id":"7b8ad023.82908","type":"function","z":"e89a38ad.2cd6c8","name":"19, 20(세팅온도)","func":"var result = parseInt(msg.payload[19].concat(msg.payload[20]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2890,"y":740,"wires":[["dc851a32.2a4068"]]},{"id":"dc851a32.2a4068","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3070,"y":740,"wires":[]},{"id":"61ae3d8d.e19a14","type":"function","z":"e89a38ad.2cd6c8","name":"21, 22(상한값)","func":"var result = parseInt(msg.payload[21].concat(msg.payload[22]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2880,"y":800,"wires":[["d92034c8.3d7bb8"]]},{"id":"d92034c8.3d7bb8","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3070,"y":800,"wires":[]},{"id":"3153778.33af488","type":"function","z":"e89a38ad.2cd6c8","name":"23, 24(하한값)","func":"var result = parseInt(msg.payload[23].concat(msg.payload[24]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2880,"y":860,"wires":[["8965cea7.17da3"]]},{"id":"8965cea7.17da3","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3070,"y":860,"wires":[]},{"id":"57b9f5bc.3ad8ec","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3070,"y":980,"wires":[]},{"id":"d1159a1f.c28758","type":"function","z":"e89a38ad.2cd6c8","name":"2(ID)","func":"var result = parseInt(msg.payload[2], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3310,"y":440,"wires":[["a8e6919.39fd47"]]},{"id":"a8e6919.39fd47","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":440,"wires":[]},{"id":"ea866a62.5162e8","type":"function","z":"e89a38ad.2cd6c8","name":"3(0x41)","func":"var result = parseInt(msg.payload[3], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3320,"y":500,"wires":[["c2f85e46.1d61a"]]},{"id":"c2f85e46.1d61a","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":500,"wires":[]},{"id":"36f7857.1f4177a","type":"function","z":"e89a38ad.2cd6c8","name":"4, 5(목표수량)","func":"var result = parseInt(msg.payload[4].concat(msg.payload[5]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3340,"y":560,"wires":[["804b6a84.380d48"]]},{"id":"804b6a84.380d48","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":560,"wires":[]},{"id":"7e5593fb.652b9c","type":"function","z":"e89a38ad.2cd6c8","name":"1(0x02)","func":"var result = parseInt(msg.payload[1], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3320,"y":380,"wires":[["a7e742b4.4ba27"]]},{"id":"a7e742b4.4ba27","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":380,"wires":[]},{"id":"3b28bfc5.f8dc3","type":"function","z":"e89a38ad.2cd6c8","name":"length","func":"var result = msg.payload[0] ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3310,"y":320,"wires":[["468de5b5.3e1f6c"]]},{"id":"468de5b5.3e1f6c","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":320,"wires":[]},{"id":"4065207c.40247","type":"function","z":"e89a38ad.2cd6c8","name":"14(B호퍼)","func":"var result = parseInt(msg.payload[14], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3320,"y":920,"wires":[["a101a1a.e7a946"]]},{"id":"a101a1a.e7a946","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":920,"wires":[]},{"id":"345352fd.1847ee","type":"function","z":"e89a38ad.2cd6c8","name":"15(레벨센서)","func":"var result = parseInt(msg.payload[15], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3330,"y":980,"wires":[["2de0e477.a04fec"]]},{"id":"5f181ec3.5779f","type":"function","z":"e89a38ad.2cd6c8","name":"22(BCC)","func":"var result = parseInt(msg.payload[22], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3320,"y":1100,"wires":[["87f81dd9.ded08"]]},{"id":"87f81dd9.ded08","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":1100,"wires":[]},{"id":"4c6c9329.cd8c2c","type":"function","z":"e89a38ad.2cd6c8","name":"23(0x03)","func":"var result = parseInt(msg.payload[23], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3320,"y":1160,"wires":[["54ceab3f.5fb174"]]},{"id":"54ceab3f.5fb174","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":1160,"wires":[]},{"id":"c846c9a2.01b518","type":"function","z":"e89a38ad.2cd6c8","name":"7, 8(생산수량)","func":"var result = parseInt(msg.payload[7].concat(msg.payload[8]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3340,"y":680,"wires":[["af8a7266.5532a"]]},{"id":"af8a7266.5532a","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":680,"wires":[]},{"id":"b77b67a1.b863e8","type":"function","z":"e89a38ad.2cd6c8","name":"9, 10(불량수량)","func":"var result = parseInt(msg.payload[9].concat(msg.payload[10]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3340,"y":740,"wires":[["7ee820cc.b38a9"]]},{"id":"7ee820cc.b38a9","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":740,"wires":[]},{"id":"ca39f8b.54d4c08","type":"function","z":"e89a38ad.2cd6c8","name":"11, 12(양품수량)","func":"var result = parseInt(msg.payload[11].concat(msg.payload[12]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3340,"y":800,"wires":[["1a2468d1.c5b8f7"]]},{"id":"1a2468d1.c5b8f7","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":800,"wires":[]},{"id":"2de0e477.a04fec","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":980,"wires":[]},{"id":"5fc76ed0.a82bc","type":"function","z":"e89a38ad.2cd6c8","name":"6(캐비티수량)","func":"var result = parseInt(msg.payload[6], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3340,"y":620,"wires":[["e97f1736.c7ca08"]]},{"id":"e97f1736.c7ca08","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":620,"wires":[]},{"id":"1f127d54.35ad23","type":"function","z":"e89a38ad.2cd6c8","name":"13(A호퍼)","func":"var result = parseInt(msg.payload[13], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":3320,"y":860,"wires":[["bfcaf093.8ff89"]]},{"id":"bfcaf093.8ff89","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":860,"wires":[]},{"id":"12eadd65.5116e3","type":"function","z":"e89a38ad.2cd6c8","name":"16 ~ 21(Reserved)","func":"var result = '' ;\nfor (i = 16; i<=21; i++) {\n  result = result.concat(msg.payload[i]) ;\n}\nmsg.payload = result ;\nreturn msg ;","outputs":1,"noerr":0,"x":3350,"y":1040,"wires":[["2f2a5904.e51a66"]]},{"id":"2f2a5904.e51a66","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":3530,"y":1040,"wires":[]},{"id":"d6a511d6.f471a","type":"function","z":"e89a38ad.2cd6c8","name":"실적 Data Array","func":"var count = global.get('count') || 0;\nif((count%6)==5) {\n  var str = msg.payload ;\n  var resultlist = [str.length] ;\n  \n  for (i = 0; i<str.length; i++) {\n    hex = str.charCodeAt(i).toString(16);\n    resultlist.push((\"0\"+hex).slice(-2)) ;\n  }\n  \n  msg.payload = resultlist ;\n  return msg ;\n} else {\n  msg.payload = NaN ;\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":3020,"y":440,"wires":[["3b28bfc5.f8dc3","7e5593fb.652b9c","d1159a1f.c28758","ea866a62.5162e8","36f7857.1f4177a","5fc76ed0.a82bc","c846c9a2.01b518","b77b67a1.b863e8","ca39f8b.54d4c08","1f127d54.35ad23","4065207c.40247","345352fd.1847ee","12eadd65.5116e3","5f181ec3.5779f","4c6c9329.cd8c2c"]]},{"id":"7457771c.3c2ef8","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":490,"y":160,"wires":[]},{"id":"1a70fb71.eb28b5","type":"function","z":"e89a38ad.2cd6c8","name":"result1","func":"var str = msg.payload.result1 ;\nmsg.payload = str ;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":220,"wires":[["a6467517.a3d3b8"]]},{"id":"69c83410.7556ac","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":850,"y":220,"wires":[]},{"id":"a17bdda5.e4da5","type":"function","z":"e89a38ad.2cd6c8","name":"result2","func":"var str = msg.payload.result2 ;\nmsg.payload = str ;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["accc0b41.628d38"]]},{"id":"b19e24f2.a9b428","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":850,"y":280,"wires":[]},{"id":"e947b5f3.5b4238","type":"function","z":"e89a38ad.2cd6c8","name":"result3","func":"var str = msg.payload.result3 ;\nmsg.payload = str ;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":340,"wires":[["f4fe55fc.f35f28"]]},{"id":"b7f873de.8ba4a","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":850,"y":340,"wires":[]},{"id":"14833a95.652455","type":"function","z":"e89a38ad.2cd6c8","name":"result4","func":"var str = msg.payload.result4 ;\nmsg.payload = str ;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["47db1c40.8b0224"]]},{"id":"80f5de47.9c978","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":850,"y":400,"wires":[]},{"id":"aab8f27d.f2007","type":"function","z":"e89a38ad.2cd6c8","name":"result5","func":"var str = msg.payload.result5 ;\nmsg.payload = str ;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":460,"wires":[["693ea3b4.ce293c"]]},{"id":"40b3b0d6.bc601","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":850,"y":460,"wires":[]},{"id":"2802bb84.eb15b4","type":"function","z":"e89a38ad.2cd6c8","name":"result6","func":"var str = msg.payload.result6 ;\nmsg.payload = str ;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":520,"wires":[["a2f59918.7d6e58"]]},{"id":"aa0dd4ff.d39e28","type":"debug","z":"e89a38ad.2cd6c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":850,"y":520,"wires":[]},{"id":"a6467517.a3d3b8","type":"function","z":"e89a38ad.2cd6c8","name":"returned data","func":"var str = msg.payload ; //PF에서 나온 결과값을 str로 지정\nvar resultlist = [] ; //빈 array인 strlist 생성\nfor (i = 0; i<str.length; i++) { //str 길이만큼 반복\n  hex = str.charCodeAt(i).toString(16); //str에서 i번째 문자를 16진법으로 변환하여 hex에 지정\n  resultlist.push((\"0\"+hex).slice(-2)) ;//hex값을 strlist에 저장\n}\nmsg.payload = resultlist ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["69c83410.7556ac"]]},{"id":"accc0b41.628d38","type":"function","z":"e89a38ad.2cd6c8","name":"returned data","func":"var str = msg.payload ; //PF에서 나온 결과값을 str로 지정\nvar resultlist = [] ; //빈 array인 strlist 생성\nfor (i = 0; i<str.length; i++) { //str 길이만큼 반복\n  hex = str.charCodeAt(i).toString(16); //str에서 i번째 문자를 16진법으로 변환하여 hex에 지정\n  resultlist.push((\"0\"+hex).slice(-2)) ;//hex값을 strlist에 저장\n}\nmsg.payload = resultlist ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["b19e24f2.a9b428"]]},{"id":"f4fe55fc.f35f28","type":"function","z":"e89a38ad.2cd6c8","name":"returned data","func":"var str = msg.payload ; //PF에서 나온 결과값을 str로 지정\nvar resultlist = [] ; //빈 array인 strlist 생성\nfor (i = 0; i<str.length; i++) { //str 길이만큼 반복\n  hex = str.charCodeAt(i).toString(16); //str에서 i번째 문자를 16진법으로 변환하여 hex에 지정\n  resultlist.push((\"0\"+hex).slice(-2)) ;//hex값을 strlist에 저장\n}\nmsg.payload = resultlist ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":650,"y":340,"wires":[["b7f873de.8ba4a"]]},{"id":"47db1c40.8b0224","type":"function","z":"e89a38ad.2cd6c8","name":"returned data","func":"var str = msg.payload ; //PF에서 나온 결과값을 str로 지정\nvar resultlist = [] ; //빈 array인 strlist 생성\nfor (i = 0; i<str.length; i++) { //str 길이만큼 반복\n  hex = str.charCodeAt(i).toString(16); //str에서 i번째 문자를 16진법으로 변환하여 hex에 지정\n  resultlist.push((\"0\"+hex).slice(-2)) ;//hex값을 strlist에 저장\n}\nmsg.payload = resultlist ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":650,"y":400,"wires":[["80f5de47.9c978"]]},{"id":"693ea3b4.ce293c","type":"function","z":"e89a38ad.2cd6c8","name":"returned data","func":"var str = msg.payload ; //PF에서 나온 결과값을 str로 지정\nvar resultlist = [] ; //빈 array인 strlist 생성\nfor (i = 0; i<str.length; i++) { //str 길이만큼 반복\n  hex = str.charCodeAt(i).toString(16); //str에서 i번째 문자를 16진법으로 변환하여 hex에 지정\n  resultlist.push((\"0\"+hex).slice(-2)) ;//hex값을 strlist에 저장\n}\nmsg.payload = resultlist ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":650,"y":460,"wires":[["40b3b0d6.bc601"]]},{"id":"a2f59918.7d6e58","type":"function","z":"e89a38ad.2cd6c8","name":"returned data","func":"var str = msg.payload ; //PF에서 나온 결과값을 str로 지정\nvar resultlist = [] ; //빈 array인 strlist 생성\nfor (i = 0; i<str.length; i++) { //str 길이만큼 반복\n  hex = str.charCodeAt(i).toString(16); //str에서 i번째 문자를 16진법으로 변환하여 hex에 지정\n  resultlist.push((\"0\"+hex).slice(-2)) ;//hex값을 strlist에 저장\n}\nmsg.payload = resultlist ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":650,"y":520,"wires":[["aa0dd4ff.d39e28"]]},{"id":"cde7760c.8a6b58","type":"function","z":"e89a38ad.2cd6c8","name":"Datastore","func":"var count = global.get('count') || 0;\nvar json_obj = global.get('json_obj')\n\n\n\nif((count%6)===0) { //count를 6으로 나눈 나머지가 0일 경우\n  json_obj = {result1 : '', result2 : '', result3 : '', result4 : '', result5 : '', result6 : ''} ;\n  json_obj.result1 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===1) { //count를 6으로 나눈 나머지가 1일 경우\n  json_obj.result2 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===2) { //count를 6으로 나눈 나머지가 2일 경우\n  json_obj.result3 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===3) { //count를 6으로 나눈 나머지가 3일 경우\n  json_obj.result4 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===4) { //count를 6으로 나눈 나머지가 4일 경우\n  json_obj.result5 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n} else if((count%6)===5) { //count를 6으로 나눈 나머지가 5일 경우\n  json_obj.result6 = msg.payload ;\n  global.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":300,"wires":[["1a70fb71.eb28b5","a17bdda5.e4da5","e947b5f3.5b4238","14833a95.652455","aab8f27d.f2007","2802bb84.eb15b4","7457771c.3c2ef8","80b33249.6323d"]]},{"id":"de570562.ad6488","type":"inject","z":"e89a38ad.2cd6c8","name":"count 초기화","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":600,"wires":[["7a958ed2.d1531"]]},{"id":"7a958ed2.d1531","type":"function","z":"e89a38ad.2cd6c8","name":"","func":"global.set('count',0) ;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":600,"wires":[[]]},{"id":"80b33249.6323d","type":"function","z":"e89a38ad.2cd6c8","name":"Transfer data","func":"if (msg.payload.result6 != '') {\n  //데이터 전송\n}","outputs":1,"noerr":0,"x":490,"y":100,"wires":[[]]},{"id":"dcb3524d.4e747","type":"inject","z":"e89a38ad.2cd6c8","name":"XFPTRT","topic":"Xenon_Foolproof_Temperature_Request_Timer","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["e4fef204.b65c4"]]},{"id":"cd397e18.e955f","type":"serial-port","z":"","serialport":"COM8","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","waitfor":"0x02","newline":"10","bin":"false","out":"time","addchar":"","responsetimeout":"1000"}]
