JSON/flow/2020-08-03/Foolproof
[{"id":"59523b04.e9c254","type":"tab","label":"Foolproof","disabled":true,"info":""},{"id":"98de0c08.9221b","type":"function","z":"59523b04.e9c254","name":"data split & convert to buffer","func":"var com_obj = flow.get('command') || [] ;\nvar com_str = com_obj[0] ;\nvar hex = '' ;\n\nif (msg.payload==='') {\n  flow.set('error', 'authorize error') ;\n}\n\nif (com_obj.length == 1) {\n  msg.complete = true ;\n  flow.set('command', []) ;\n} else {\n  com_obj.splice(0,1) ;\n  flow.set('command', com_obj) ;\n}\nif (com_str !== undefined) {\n  for (var i = 0; (i < com_str.length); i += 2) {\n    hex += String.fromCharCode('0x' + com_str.substr(i, 2)) ;\n  }\n  msg.payload = Buffer.from(hex,\"ascii\") ;\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":460,"y":240,"wires":[["42def3c2.a88ebc"]]},{"id":"75f95899.fddba8","type":"inject","z":"59523b04.e9c254","name":"XFPTRT","topic":"Xenon_Foolproof_Temperature_Request_Timer","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":80,"wires":[["2c185b83.52dad4"]]},{"id":"2c185b83.52dad4","type":"function","z":"59523b04.e9c254","name":"msg maker","func":"var status = flow.get('status') || 'ok'; //ok is loop, no is http\nif (!!msg.res) {\n  status = 'no' ;\n  flow.set('status', status);\n}\nif (status == 'ok') {\n  var count = flow.get('count') || 0;\n  count += 1 ;\n  flow.set('count',count);\n\n  if((count%6)===0) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x01, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===1) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x02, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===2) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x03, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===3) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x04, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===4) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x05, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  } else if((count%6)===5) {\n    msg.payload = Buffer.from(String.fromCharCode(0x02, 0x06, 0x41, 0x00, 0x00, 0x00, 0x00, 0x03),\"ascii\");\n  }\n  return msg ;\n}\n","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["bd958c6a.8b88c"]]},{"id":"8e334fb0.168d4","type":"http in","z":"59523b04.e9c254","name":"http in (/foolproof)","url":"/foolproof","method":"post","upload":false,"swaggerDoc":"","x":100,"y":240,"wires":[["2c185b83.52dad4","a8c8dfd.7d0fe2"]]},{"id":"42def3c2.a88ebc","type":"serial request","z":"59523b04.e9c254","name":"","serial":"ef5328df.dc7718","x":670,"y":240,"wires":[["d050c257.9d599"]]},{"id":"bcc8d0e0.8d4d","type":"join","z":"59523b04.e9c254","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":970,"y":240,"wires":[["32fb5dd1.1c02e2"]]},{"id":"5c45bb45.4b88c4","type":"complete","z":"59523b04.e9c254","name":"when one request finish","scope":["d050c257.9d599"],"uncaught":false,"x":200,"y":280,"wires":[["98de0c08.9221b"]]},{"id":"d4f4fc69.1eda3","type":"http response","z":"59523b04.e9c254","name":"http response","statusCode":"","headers":{},"x":1280,"y":240,"wires":[]},{"id":"bd958c6a.8b88c","type":"serial request","z":"59523b04.e9c254","name":"","serial":"ef5328df.dc7718","x":390,"y":80,"wires":[["5a5deee.a84761"]]},{"id":"15d53afa.532785","type":"comment","z":"59523b04.e9c254","name":"data refresher","info":"","x":90,"y":40,"wires":[]},{"id":"3fa01930.825716","type":"comment","z":"59523b04.e9c254","name":"http comunication","info":"","x":100,"y":200,"wires":[]},{"id":"4cd308cd.ffa948","type":"link out","z":"59523b04.e9c254","name":"","links":["a91cafdb.08c1e","8c47b8ec.f61c08","f38d4101.0a037","ece069ba.3ac378"],"x":875,"y":80,"wires":[]},{"id":"5a5deee.a84761","type":"function","z":"59523b04.e9c254","name":"Datastore","func":"var count = flow.get('count') || 0;\nvar json_obj = flow.get('json_obj')\n\nif((count%6)===0) { //count를 6으로 나눈 나머지가 0일 경우\n  json_obj = {} ;\n  json_obj.result1 = msg.payload ;\n  flow.set('json_obj',json_obj) ;\n} else if((count%6)===1) { //count를 6으로 나눈 나머지가 1일 경우\n  json_obj.result2 = msg.payload ;\n  flow.set('json_obj',json_obj) ;\n} else if((count%6)===2) { //count를 6으로 나눈 나머지가 2일 경우\n  json_obj.result3 = msg.payload ;\n  flow.set('json_obj',json_obj) ;\n} else if((count%6)===3) { //count를 6으로 나눈 나머지가 3일 경우\n  json_obj.result4 = msg.payload ;\n  flow.set('json_obj',json_obj) ;\n} else if((count%6)===4) { //count를 6으로 나눈 나머지가 4일 경우\n  json_obj.result5 = msg.payload ;\n  flow.set('json_obj',json_obj) ;\n} else if((count%6)===5) { //count를 6으로 나눈 나머지가 5일 경우\n  json_obj.result6 = msg.payload ;\n  flow.set('json_obj',json_obj) ;\n  msg.payload = json_obj ;\n  return msg;\n}\n","outputs":1,"noerr":0,"x":540,"y":80,"wires":[["f16ae770.46c0e8"]]},{"id":"f16ae770.46c0e8","type":"function","z":"59523b04.e9c254","name":"data transfer json short","func":"var json_data = {} ;\nfor (i = 1; i<12; i++) {\n  json_data[\"zone\" + String(i)] = {} ;\n}\n\njson_data.zone1.nowtemp = (msg.payload.result1[5]*256+msg.payload.result1[6])/10 ;\njson_data.zone1.settemp = (msg.payload.result1[7]*256+msg.payload.result1[8])/10 ;\njson_data.zone1.upper = (msg.payload.result1[9]*256+msg.payload.result1[10])/10 ;\njson_data.zone1.lower = (msg.payload.result1[11]*256+msg.payload.result1[12])/10 ;\njson_data.zone2.nowtemp = (msg.payload.result1[16]*256+msg.payload.result1[17])/10 ;\njson_data.zone2.settemp = (msg.payload.result1[18]*256+msg.payload.result1[19])/10 ;\njson_data.zone2.upper = (msg.payload.result1[20]*256+msg.payload.result1[21])/10 ;\njson_data.zone2.lower = (msg.payload.result1[22]*256+msg.payload.result1[23])/10 ;\n\njson_data.zone3.nowtemp = (msg.payload.result2[5]*256+msg.payload.result2[6])/10 ;\njson_data.zone3.settemp = (msg.payload.result2[7]*256+msg.payload.result2[8])/10 ;\njson_data.zone3.upper = (msg.payload.result2[9]*256+msg.payload.result2[10])/10 ;\njson_data.zone3.lower = (msg.payload.result2[11]*256+msg.payload.result2[12])/10 ;\njson_data.zone4.nowtemp = (msg.payload.result2[16]*256+msg.payload.result2[17])/10 ;\njson_data.zone4.settemp = (msg.payload.result2[18]*256+msg.payload.result2[19])/10 ;\njson_data.zone4.upper = (msg.payload.result2[20]*256+msg.payload.result2[21])/10 ;\njson_data.zone4.lower = (msg.payload.result2[22]*256+msg.payload.result2[23])/10 ;\n\njson_data.zone5.nowtemp = (msg.payload.result3[5]*256+msg.payload.result3[6])/10 ;\njson_data.zone5.settemp = (msg.payload.result3[7]*256+msg.payload.result3[8])/10 ;\njson_data.zone5.upper = (msg.payload.result3[9]*256+msg.payload.result3[10])/10 ;\njson_data.zone5.lower = (msg.payload.result3[11]*256+msg.payload.result3[12])/10 ;\njson_data.zone6.nowtemp = (msg.payload.result3[16]*256+msg.payload.result3[17])/10 ;\njson_data.zone6.settemp = (msg.payload.result3[18]*256+msg.payload.result3[19])/10 ;\njson_data.zone6.upper = (msg.payload.result3[20]*256+msg.payload.result3[21])/10 ;\njson_data.zone6.lower = (msg.payload.result3[22]*256+msg.payload.result3[23])/10 ;\n\njson_data.zone7.nowtemp = (msg.payload.result4[5]*256+msg.payload.result4[6])/10 ;\njson_data.zone7.settemp = (msg.payload.result4[7]*256+msg.payload.result4[8])/10 ;\njson_data.zone7.upper = (msg.payload.result4[9]*256+msg.payload.result4[10])/10 ;\njson_data.zone7.lower = (msg.payload.result4[11]*256+msg.payload.result4[12])/10 ;\njson_data.zone8.nowtemp = (msg.payload.result4[16]*256+msg.payload.result4[17])/10 ;\njson_data.zone8.settemp = (msg.payload.result4[18]*256+msg.payload.result4[19])/10 ;\njson_data.zone8.upper = (msg.payload.result4[20]*256+msg.payload.result4[21])/10 ;\njson_data.zone8.lower = (msg.payload.result4[22]*256+msg.payload.result4[23])/10 ;\n\njson_data.zone9.nowtemp = (msg.payload.result5[5]*256+msg.payload.result5[6])/10 ;\njson_data.zone9.settemp = (msg.payload.result5[7]*256+msg.payload.result5[8])/10 ;\njson_data.zone9.upper = (msg.payload.result5[9]*256+msg.payload.result5[10])/10 ;\njson_data.zone9.lower = (msg.payload.result5[11]*256+msg.payload.result5[12])/10 ;\njson_data.zone10.nowtemp = (msg.payload.result5[16]*256+msg.payload.result5[17])/10 ;\njson_data.zone10.settemp = (msg.payload.result5[18]*256+msg.payload.result5[19])/10 ;\njson_data.zone10.upper = (msg.payload.result5[20]*256+msg.payload.result5[21])/10 ;\njson_data.zone10.lower = (msg.payload.result5[22]*256+msg.payload.result5[23])/10 ;\n\njson_data.zone11.planqty = msg.payload.result6[3]*256+msg.payload.result6[4] ;\njson_data.zone11.prodqty = msg.payload.result6[6]*256+msg.payload.result6[7] ;\njson_data.zone11.goodqty = msg.payload.result6[10]*256+msg.payload.result6[11] ;\njson_data.zone11.cavity = msg.payload.result6[5] ;\n\nmsg.payload = json_data ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":720,"y":80,"wires":[["4cd308cd.ffa948"]]},{"id":"a8c8dfd.7d0fe2","type":"function","z":"59523b04.e9c254","name":"authorize","func":"if (msg.payload.name == 'CTFadmin') { //'CTFadmin'일 경우\n  var obj = Object.values(msg.payload) ;\n  obj.splice(0,1) ;\n  flow.set('command', obj) ;\n  msg.payload = obj ;\n} else {\n  flow.set('command', ['authorize error']) ;\n  msg.payload = '' ;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":240,"wires":[["98de0c08.9221b"]]},{"id":"d050c257.9d599","type":"function","z":"59523b04.e9c254","name":"check error","func":"if ( msg.payload === undefined ) {\n  msg.payload = 'command error' ;\n}\nreturn msg ;","outputs":1,"noerr":0,"x":830,"y":240,"wires":[["bcc8d0e0.8d4d"]]},{"id":"32fb5dd1.1c02e2","type":"function","z":"59523b04.e9c254","name":"data output","func":"var error = flow.get('error') || ''\nvar json_res = {} ;\nfor (i = 1; i<msg.payload.length+1; i++) {\n  json_res[\"response\" + String(i)] = msg.payload[i-1] ;\n}\nmsg.payload = json_res ;\nflow.set('status','ok') ;\n\nif (error !== '') {\n  msg.payload = error ;\n  flow.set('error', '') ;\n}\n\nreturn msg ;\n","outputs":1,"noerr":0,"x":1110,"y":240,"wires":[["d4f4fc69.1eda3"]]},{"id":"18793c9a.d385a3","type":"inject","z":"59523b04.e9c254","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1600,"y":100,"wires":[["7ec6d9cf.7439e8"]]},{"id":"7ec6d9cf.7439e8","type":"function","z":"59523b04.e9c254","name":"1","func":"msg.payload = String.fromCharCode(0x02, 0x01, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":1730,"y":100,"wires":[["5076ca7b.3cefb4"]]},{"id":"93acb7ea.931738","type":"function","z":"59523b04.e9c254","name":"2","func":"msg.payload = String.fromCharCode(0x02, 0x02, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":1730,"y":140,"wires":[["5076ca7b.3cefb4"]]},{"id":"a256429e.d65e1","type":"function","z":"59523b04.e9c254","name":"3","func":"msg.payload = String.fromCharCode(0x02, 0x03, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":1730,"y":180,"wires":[["5076ca7b.3cefb4"]]},{"id":"1472764b.fcc55a","type":"function","z":"59523b04.e9c254","name":"4","func":"msg.payload = String.fromCharCode(0x02, 0x04, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":1730,"y":220,"wires":[["5076ca7b.3cefb4"]]},{"id":"9b18d05a.de666","type":"function","z":"59523b04.e9c254","name":"5","func":"msg.payload = String.fromCharCode(0x02, 0x05, 0x31, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":1730,"y":260,"wires":[["5076ca7b.3cefb4"]]},{"id":"293e7f4d.7fff1","type":"function","z":"59523b04.e9c254","name":"6","func":"msg.payload = String.fromCharCode(0x02, 0x06, 0x41, 0x00, 0x00, 0x00, 0x00, 0x03);\nreturn msg ;\n","outputs":1,"noerr":0,"x":1730,"y":300,"wires":[["5076ca7b.3cefb4"]]},{"id":"16a35b49.f4b725","type":"inject","z":"59523b04.e9c254","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1600,"y":140,"wires":[["93acb7ea.931738"]]},{"id":"7ae0d08b.80f5b","type":"inject","z":"59523b04.e9c254","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1600,"y":180,"wires":[["a256429e.d65e1"]]},{"id":"92e5ecb.d29801","type":"inject","z":"59523b04.e9c254","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1600,"y":220,"wires":[["1472764b.fcc55a"]]},{"id":"d2e11d42.8c74a","type":"inject","z":"59523b04.e9c254","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1600,"y":260,"wires":[["9b18d05a.de666"]]},{"id":"bfd152c8.7d27d","type":"inject","z":"59523b04.e9c254","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1600,"y":300,"wires":[["293e7f4d.7fff1"]]},{"id":"5076ca7b.3cefb4","type":"serial out","z":"59523b04.e9c254","d":true,"name":"","serial":"ef5328df.dc7718","x":1930,"y":100,"wires":[]},{"id":"b388a4b8.ab0ee8","type":"function","z":"59523b04.e9c254","name":"SMART-Q Data Array","func":"var str = msg.payload ;\nvar resultlist = [] ;\n\nfor (i = 0; i<str.length; i++) {\n  hex = str.charCodeAt(i).toString(16);\n  resultlist.push((\"0\"+hex).slice(-2)) ;\n}\nif (resultlist[1] != \"06\") {\n    msg.payload = resultlist ;\n     return msg;\n}","outputs":1,"noerr":0,"x":1780,"y":340,"wires":[["423f7744.409128","5b2fa9b8.2639f8","bd90c36b.6dcdf","1d86fbba.9de784","1c35c34d.29c2ed","921447c2.2ef838","11a11399.7ae69c","44a66fc9.4be93"]]},{"id":"423f7744.409128","type":"function","z":"59523b04.e9c254","name":"6, 7(현재온도)","func":"var result = parseInt(msg.payload[5].concat(msg.payload[6]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2080,"y":140,"wires":[["c2d02a67.0c3278"]]},{"id":"c2d02a67.0c3278","type":"debug","z":"59523b04.e9c254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2270,"y":140,"wires":[]},{"id":"5b2fa9b8.2639f8","type":"function","z":"59523b04.e9c254","name":"8, 9(세팅온도)","func":"var result = parseInt(msg.payload[7].concat(msg.payload[8]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2080,"y":200,"wires":[["532ac196.56f29"]]},{"id":"532ac196.56f29","type":"debug","z":"59523b04.e9c254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2270,"y":200,"wires":[]},{"id":"bd90c36b.6dcdf","type":"function","z":"59523b04.e9c254","name":"10, 11(상한값)","func":"var result = parseInt(msg.payload[9].concat(msg.payload[10]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2080,"y":260,"wires":[["7ccbef25.66696"]]},{"id":"7ccbef25.66696","type":"debug","z":"59523b04.e9c254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2270,"y":260,"wires":[]},{"id":"1d86fbba.9de784","type":"function","z":"59523b04.e9c254","name":"12, 13(하한값)","func":"var result = parseInt(msg.payload[11].concat(msg.payload[12]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2080,"y":320,"wires":[["a791998e.11e9c8"]]},{"id":"a791998e.11e9c8","type":"debug","z":"59523b04.e9c254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2270,"y":320,"wires":[]},{"id":"1c35c34d.29c2ed","type":"function","z":"59523b04.e9c254","name":"17, 18(현재온도)","func":"var result = parseInt(msg.payload[16].concat(msg.payload[17]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2090,"y":380,"wires":[["6ec13bab.5bb834"]]},{"id":"6ec13bab.5bb834","type":"debug","z":"59523b04.e9c254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2270,"y":380,"wires":[]},{"id":"921447c2.2ef838","type":"function","z":"59523b04.e9c254","name":"19, 20(세팅온도)","func":"var result = parseInt(msg.payload[18].concat(msg.payload[19]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2090,"y":440,"wires":[["4ff37966.fd0308"]]},{"id":"4ff37966.fd0308","type":"debug","z":"59523b04.e9c254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2270,"y":440,"wires":[]},{"id":"11a11399.7ae69c","type":"function","z":"59523b04.e9c254","name":"21, 22(상한값)","func":"var result = parseInt(msg.payload[20].concat(msg.payload[21]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2080,"y":500,"wires":[["b14f6bde.890ca8"]]},{"id":"b14f6bde.890ca8","type":"debug","z":"59523b04.e9c254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2270,"y":500,"wires":[]},{"id":"44a66fc9.4be93","type":"function","z":"59523b04.e9c254","name":"23, 24(하한값)","func":"var result = parseInt(msg.payload[22].concat(msg.payload[23]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2080,"y":560,"wires":[["fb10e61d.f820e8"]]},{"id":"fb10e61d.f820e8","type":"debug","z":"59523b04.e9c254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2270,"y":560,"wires":[]},{"id":"424b19fc.b95478","type":"function","z":"59523b04.e9c254","name":"4, 5(목표수량)","func":"var result = parseInt(msg.payload[3].concat(msg.payload[4]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2080,"y":620,"wires":[["70c54193.cd005"]]},{"id":"70c54193.cd005","type":"debug","z":"59523b04.e9c254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2270,"y":620,"wires":[]},{"id":"490488f7.cc8ef8","type":"function","z":"59523b04.e9c254","name":"7, 8(생산수량)","func":"var result = parseInt(msg.payload[5].concat(msg.payload[6]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2080,"y":680,"wires":[["2bdc8a25.0ee2d6"]]},{"id":"2bdc8a25.0ee2d6","type":"debug","z":"59523b04.e9c254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2270,"y":680,"wires":[]},{"id":"997c59f7.af5828","type":"function","z":"59523b04.e9c254","name":"11, 12(양품수량)","func":"var result = parseInt(msg.payload[10].concat(msg.payload[11]), 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2080,"y":740,"wires":[["2a7ddd32.903142"]]},{"id":"2a7ddd32.903142","type":"debug","z":"59523b04.e9c254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2270,"y":740,"wires":[]},{"id":"bd03081c.48a798","type":"function","z":"59523b04.e9c254","name":"6(캐비티수량)","func":"var result = parseInt(msg.payload[5], 16) ;\nmsg.payload = result ;\nreturn msg ;\n","outputs":1,"noerr":0,"x":2080,"y":800,"wires":[["9c5fd216.a6398"]]},{"id":"9c5fd216.a6398","type":"debug","z":"59523b04.e9c254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":2270,"y":800,"wires":[]},{"id":"daa8c9f8.0d5e18","type":"function","z":"59523b04.e9c254","name":"실적 Data Array","func":"var str = msg.payload ;\nvar resultlist = [] ;\n\nfor (i = 0; i<str.length; i++) {\n  hex = str.charCodeAt(i).toString(16);\n  resultlist.push((\"0\"+hex).slice(-2)) ;\n}\nif (resultlist[1] == \"06\") {\n    msg.payload = resultlist ;\n     return msg;\n}","outputs":1,"noerr":0,"x":1780,"y":620,"wires":[["424b19fc.b95478","bd03081c.48a798","490488f7.cc8ef8","997c59f7.af5828"]]},{"id":"f3cf456a.7d2c38","type":"serial in","z":"59523b04.e9c254","d":true,"name":"","serial":"ef5328df.dc7718","x":1570,"y":340,"wires":[["b388a4b8.ab0ee8","daa8c9f8.0d5e18"]]},{"id":"ede76321.c6acb","type":"inject","z":"59523b04.e9c254","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":360,"wires":[["70f0b268.ca777c"]]},{"id":"70f0b268.ca777c","type":"function","z":"59523b04.e9c254","name":"예시데이터","func":"msg.payload = {\n  \"zone1\": {\n    \"nowtemp\": 25.2,\n    \"settemp\": 25.7,\n    \"upper\": 6,\n    \"lower\": 6\n  },\n  \"zone2\": {\n    \"nowtemp\": 24.2,\n    \"settemp\": 25.7,\n    \"upper\": 6,\n    \"lower\": 6\n  },\n  \"zone3\": {\n    \"nowtemp\": 25.5,\n    \"settemp\": 25.7,\n    \"upper\": 3,\n    \"lower\": 3\n  },\n  \"zone4\": {\n    \"nowtemp\": 25.5,\n    \"settemp\": 25.7,\n    \"upper\": 3,\n    \"lower\": 3\n  },\n  \"zone5\": {\n    \"nowtemp\": 26.5,\n    \"settemp\": 25.7,\n    \"upper\": 3,\n    \"lower\": 3\n  },\n  \"zone6\": {\n    \"nowtemp\": 26.5,\n    \"settemp\": 25.7,\n    \"upper\": 3,\n    \"lower\": 3\n  },\n  \"zone7\": {\n    \"nowtemp\": 26.7,\n    \"settemp\": 25.7,\n    \"upper\": 3,\n    \"lower\": 3\n  },\n  \"zone8\": {\n    \"nowtemp\": 27,\n    \"settemp\": 25.7,\n    \"upper\": 3,\n    \"lower\": 3\n  },\n  \"zone9\": {\n    \"nowtemp\": 27.2,\n    \"settemp\": 25.7,\n    \"upper\": 5,\n    \"lower\": 5\n  },\n  \"zone10\": {\n    \"nowtemp\": 27.2,\n    \"settemp\": 25.7,\n    \"upper\": 5,\n    \"lower\": 5\n  },\n  \"zone11\": {\n    \"planqty\": 2000,\n    \"prodqty\": 208,\n    \"goodqty\": 208,\n    \"cavity\": 2\n  }\n} ;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["9379801d.48c6"]]},{"id":"9379801d.48c6","type":"link out","z":"59523b04.e9c254","name":"","links":["ece069ba.3ac378"],"x":405,"y":360,"wires":[]},{"id":"ef5328df.dc7718","type":"serial-port","z":"","serialport":"COM7","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"10","bin":"bin","out":"time","addchar":"","responsetimeout":"100"}]
